<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>会员卡类型</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <script type="application/javascript" src="../../js/qiehuan.js"></script>
    <script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../js/layer/layer.js"></script>
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>

    <script type="text/javascript">
	var replytype = '<%=replytype%>';
        if (replytype == 'add') {
            parent.layer.msg('增加成功');
        } else if (replytype == 'del') {
            parent.layer.msg('删除成功');
        } else if (replytype == 'update') {
            parent.layer.msg('修改成功');
        }
        function search () {
            var selectPage = document.getElementById('page').value;
            var memberCardType = document.getElementById('memberCardType').value;
            var memberCardAmount = document.getElementById('memberCardAmount').value;
            var zeroDiscounts = document.getElementById('zeroDiscounts').value;
            window.location.href = '/jinquan/member_card_type_list?memberCardType='+memberCardType+'&memberCardAmount='+memberCardAmount+'&zeroDiscounts='+zeroDiscounts+'&page='+selectPage;
        }
        function pageturning (selectPage) {
            var selectPage = document.getElementById('page').value;
            var memberCardType = document.getElementById('memberCardType').value;
            var memberCardAmount = document.getElementById('memberCardAmount').value;
            var zeroDiscounts = document.getElementById('zeroDiscounts').value;
            window.location.href = '/jinquan/member_card_type_list?page='+selectPage+'&memberCardType='+memberCardType+'&memberCardAmount='+memberCardAmount+'&zeroDiscounts='+zeroDiscounts;
         }
        function show (id) {
            window.location.href = '/jinquan/member_card_type_show?op=1&id='+id;
        }
        function update (id) {
            window.location.href = '/jinquan/to_member_card_type_edit?id='+id;
        }
        function del (id) {
            delData('/jinquan/member_card_type_del?id='+id);
        }

    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：充值卡类型列表
    </div>
</div>
<div class="center_con">
    <div class="butSet">
        <div class="sousuo">
            <table width="100%" class="table4" border="0" cellspacing="0" cellpadding="0">
                <tr>
                <td>卡种<%=resourcesData["/to_member_card_type_add"]%>：<input id="page" name="page" type="hidden" class="input5" value="<%=data.currentPage%>"/>
                    <input ID="memberCardType" name="memberCardType" type="text" class="input5" VALUE="<%=data.memberCardType%>"/></td>
                <td> &nbsp;充值金额：<input ID="memberCardAmount" name="memberCardAmount" type="text" VALUE="<%=data.memberCardAmount%>" class="input5" /></td>
                <td> &nbsp;为0后折扣：<input ID="zeroDiscounts" name="zeroDiscounts" type="text" VALUE="<%=data.zeroDiscounts%>" class="input5" /></td>
                <td><a href="javascript:search()" class="chaxun"></a></td>
            </tr>
            </table>

        </div>
        <%if(resourcesData["/to_member_card_type_Add"] == "1"){
            %><div class="but_0"><a href="/jinquan/to_member_card_type_add" class="bsty0"></a></div><%
        }%>

    </div>
    <div class="tabCon">
        <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
            <tr>
                <th  width="20%">卡种</th>
                <th  width="20%">充值金额</th>
                <th  width="20%">可用金额</th>
                <th  width="20%">为0后折扣</th>
                <th  width="20%">操作</th>
            </tr>
            <% for (var i=0;i<data.data.length;i++) {%>

            <tr onmouseover="this.className='f_on'" class="f_off"  onmouseout="this.className='f_off'">
                <td><%=data.data[i].memberCardType%></td>
                <td><%=data.data[i].memberCardAmount%></td>
                <td><%=data.data[i].consumerLimit%></td>
                <td><%=data.data[i].zeroDiscounts%></td>
                <td>
                    <table width="100%" border="0" cellspacing="0" class="table_t"  cellpadding="0">
                        <tr>
                            <!--<td><div align="center"><img src="../../images/index_2.jpg" width="9" height="9" />&nbsp;[<a href="javascript:show(<%=data.data[i].id%>)">查看</a>]</div></td>-->

                            <%if(resourcesData["/to_member_card_type_edit"] == "1"){
                                %><td><div align="center"><img src="../../images/037.gif" width="9" height="9" />&nbsp;[<a href="javascript:update(<%=data.data[i].id%>)">编辑</a>]</div></td><%
                            }%>

                            <!--<td><div align="center"><img src="../../images/delete.gif" width="9" height="9" />&nbsp;[<a href="javascript:del(<%=data.data[i].id%>)">删除</a>]</div></td>-->
                        </tr>
                    </table>
                </td>
            </tr>
            <%}%>
        </table>

            <%- laypage %>
    </div>
</div>

</body>
</html>
