<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>编辑考勤类别</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">
        function submitForm(){
            var memberCardType = document.getElementById("memberCardType").value;
            if (!memberCardType || memberCardType.length == 0) {
                parent.layer.alert('卡种不能为空',{icon: 2});
                return;
            }
            var memberCardAmount = document.getElementById("memberCardAmount").value;
            if (!memberCardAmount || memberCardAmount.length == 0) {
                parent.layer.alert('卡面金额不能为空',{icon: 2});
                return;
            }
            var consumerLimit = document.getElementById("consumerLimit").value;
            if (!consumerLimit || consumerLimit.length == 0) {
                parent.layer.alert('实际消费额度不能为空',{icon: 2});
                return;
            }
            var zeroDiscounts = document.getElementById("zeroDiscounts").value;
            if(!zeroDiscounts || zeroDiscounts.length == 0) {
                parent.layer.alert('余额为0后折扣不能为空',{icon: 2});
                return;
            }
            var isManyPeopleUsed = document.getElementById("isManyPeopleUsed").value;
            if (!isManyPeopleUsed || isManyPeopleUsed.length == 0) {
                parent.layer.alert('是否可以多人使用不能为空',{icon: 2});
                return;
            }
            var status = document.getElementById("status").value;
            if (!status || status.length == 0) {
                parent.layer.alert('状态不能为空',{icon: 2});
                return;
            }
            document.getElementById("myform").submit();
        }
    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：新增充值卡类型
    </div>
</div>
<div class="center_con">
    <form method="post" id="myform" action="/jinquan/member_card_type_addOrEdit">
        <table width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="regTd_l">卡种：</td>
                <td class="regTd_r"><input id="memberCardType" name="memberCardType" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td  class="regTd_l">卡面金额：</td>
                <td class="regTd_r"><input id="memberCardAmount" name="memberCardAmount" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">实际消费额度：</td>
                <td class="regTd_r"><input id="consumerLimit" name="consumerLimit" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">余额为0后折扣：</td>
                <td class="regTd_r">
                    <select id="zeroDiscounts" name="zeroDiscounts">
                        <option value="">请选择</option>
                        <%
                        for(var i = 0 ; i < discountValues.length ; i ++){
                            %><option value="<%=discountValues[i]%>"><%=discountNames[i]%></option><%
                        }
                        %>
                    </select>
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">是否可以多人使用：</td>
                <td class="regTd_r">
                    <select id="isManyPeopleUsed" name="isManyPeopleUsed">
                        <option value="">请选择</option>
                        <option value="Y">可以</option>
                        <option value="N">不可以</option>
                    </select>
                <td class="regTd_l">状态：</td>
                <td class="regTd_r">
                    <select id="status" name="status">
                        <option value="">请选择</option>
                        <option value="1">启用</option>
                        <option value="0">停用</option>
                    </select>
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
        </table>
        <!--参与员工 end-->
    </form>
    <div class="reg_but">
        <div class="rb_l"><a href="javascript:;" onclick="submitForm()" class="reset"></a></div>
        <div class="rb_l"><a href="/jinquan/member_card_type_list" class="close"></a></div>
    </div>


</div>
</body>
</html>
