<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>新增会员卡</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <script type="application/javascript" src="../../js/jquery-1.8.3.min.js"></script>

    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">
        function submitForm(){
            var type = document.getElementById("type").value;
            if(type==1)
            {

            }
            if(type==2)
            {

            }
            if(type==3)
            {

            }
            document.getElementById("myform").submit();
        }
        function changCartType(cartType  )
        {
            $.ajax({
                data: {"memberCardTypeId":cartType},
                url: '/jinquan/getMemberCartTypeById',
                type: 'post',
                dataType: 'json',
                async: false,
                cache: false,
                timeout: 5000,
                success: function(data){
                    if(data) {
                        var datas = JSON.parse(data);
                        document.getElementById("memberCardAmount").value=datas.memberCardAmount;
                        document.getElementById("consumerLimit").value=datas.consumerLimit-datas.memberCardAmount;
                        document.getElementById("actualAmount").value=datas.consumerLimit;
                        document.getElementById("zeroDiscounts").value=datas.zeroDiscounts;
                        document.getElementById("isManyPeopleUsed").value=datas.isManyPeopleUsed;

                    }
                },
                error: function(jqXHR, textStatus, errorThrown){
                    alert("222222");
                }
            });


        }
        function changType(type)
        {

            for (var i=1 ;i <= 3;i++)
            {
                var divId='type'+i;
                var div =  document.getElementById(divId);
                if(type==i)
                {
                    div.style.display='block';
                }
                else
                {
                    div.style.display='none';
                }

            }
            document.getElementById("type").value=type;


        }
    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：新增会员卡
    </div>
    <div class="zhuxiao"><a href="#" class="zx_sty"></a></div>
</div>
<div  class="center_con">
    <table  width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td class="regTd_l">
             <div class="rb_l"><a href="javascript:changType('1');"    >充值卡</a></div><div class="rb_l"><a href="javascript:changType('2');"    >服务次卡</a></div><div class="rb_l"><a href="javascript:changType('3');" >打折卡</a></div>

            </td>
        </tr>
        <tr>
            <td class="regTd_l">

                <form method="post" id="myform" action="/jinquan/member_card_addOrEdit">
                    <table width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td class="regTd_l">卡号：</td>
                            <td class="regTd_r">
                                <input id="type" name="type" type="hidden" value="1"/>
                                <input id="memberCardNumber" name="memberCardNumber" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table  id="type1" name="type1" width="100%" class="reg_table" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="regTd_l">卡种：</td>
                                        <td class="regTd_r">
                                            <select name="parameter1" id="parameter1" onchange="changCartType(this.options[this.options.selectedIndex].value)">
                                                <% for (var i=0;i<data.length;i++) {%>
                                                <option value="<%=data[i].id%>"><%=data[i].memberCardType%></option>
                                                <%}%>
                                            </select>
                                    </tr>
                                    <tr>
                                        <td  class="regTd_l">可充值金额：</td>
                                        <td class="regTd_r"><input id="memberCardAmount" name="memberCardAmount" type="text" class="input5"  readonly="true" value="<%=data[0].memberCardAmount%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                                    </tr>
                                    <tr>
                                        <td class="regTd_l">将赠送金额：</td>
                                        <td class="regTd_r"><input id="consumerLimit" name="consumerLimit" type="text" class="input5" readonly="true" value="<%=data[0].consumerLimit-data[0].memberCardAmount%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                                    </tr>
                                    <tr>
                                        <td class="regTd_l">实际金额：</td>
                                        <td class="regTd_r"><input id="actualAmount" name="actualAmount" type="text" class="input5" readonly="true" value="<%=data[0].consumerLimit%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                                    </tr>
                                    <tr>
                                        <td class="regTd_l">余额为0后折扣：</td>
                                        <td class="regTd_r"><input id="zeroDiscounts" name="zeroDiscounts" type="text" class="input5"  readonly="true" value="<%=data[0].zeroDiscounts%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                                    </tr>
                                    <tr>
                                        <td class="regTd_l">是否可以多人使用：</td>
                                        <td class="regTd_r"><input id="isManyPeopleUsed" name="isManyPeopleUsed" type="text" readonly="true" class="input5" value="<%=data[0].isManyPeopleUsed%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                                    </tr>
                                    <tr>
                                        <td class="regTd_l">当前金额：</td>
                                        <td class="regTd_r"><input id="parameter2" name="parameter2" readonly="true"  class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                                    </tr>
                                </table>
                                <table  id="type2" name="type2" width="100%" class="reg_table" style="display: none" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="regTd_l">可使用次数：</td>
                                        <td class="regTd_r"><input id="parameter3" name="parameter3" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                                    </tr>
                                    <tr>
                                        <td class="regTd_l">已使用次数：</td>
                                        <td class="regTd_r"><input id="parameter4" name="parameter4" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                                    </tr>
                                    <tr>
                                        <td class="regTd_l">首次应缴费金额：</td>
                                        <td class="regTd_r"><input id="parameter5" name="parameter5" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                                    </tr>
                                    <tr>
                                        <td class="regTd_l"> 有效时间：</td>
                                        <td class="regTd_r"><input id="parameter6" name="parameter6" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                                    </tr>
                                </table>
                                <table id="type3" name="type3" width="100%" class="reg_table"border="0" style="display: none" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="regTd_l"> 折扣力度：</td>
                                        <td class="regTd_r"><input id="parameter7" name="parameter7" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                                    </tr>
                                    <tr>
                                        <td class="regTd_l">首次应缴费金额：</td>
                                        <td class="regTd_r"><input id="parameter8" name="parameter8" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                                    </tr>
                                    <tr>
                                        <td class="regTd_l"> 有效时间：</td>
                                        <td class="regTd_r"><input id="parameter9" name="parameter9" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                                    </tr>
                                </table>

                                <!--参与员工 end-->
                            </td>
                        </tr>
                    </table>
                </form>
                <div class="reg_but">
                    <div class="rb_l"><a href="javascript:;" onclick="submitForm()" class="reset"></a></div>
                    <div class="rb_l"><a href="/jinquan/member_card_type_list" class="close"></a></div>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>