<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>商品管理</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：商品管理
    </div>
    <div class="zhuxiao"><a href="#" class="zx_sty"></a></div>
</div>
<div class="center_con">
    <div class="butSet">
        <div class="sousuo">
            <table width="100%" class="table4" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>商品名称：<input name="" type="text" class="input5" /></td>
                    <td> &nbsp;编码：<input name="" type="text" class="input5" /></td>
                    <td> &nbsp;分类：<input name="" type="text" class="input5" /></td>
                    <td><a href="#" class="chaxun"></a></td>
                </tr>
            </table>

        </div>
        <div class="but_0"><a href="#" class="bsty0"></a></div>
    </div>
    <div class="tabCon">
        <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
            <tr>
                <th>商品名称</th>
                <th>商品商标</th>
                <th>商品规格</th>
                <th>最低库存</th>
                <th>操作</th>
            </tr>
            <% for (var i=0;i<wares.length;i++) {%>
            <tr onmouseover="this.className='f_on'" class="f_off"  onmouseout="this.className='f_off'">
                <td><%=wares[i].name%></td>
                <td><%=wares[i].brand%></td>
                <td><%=wares[i].standard%></td>
                <td><%=wares[i].lowData%></td>
                <td>
                    <table width="100%" border="0" cellspacing="0" class="table_t"  cellpadding="0">
                        <tr>
                            <td><div align="center"><img src="../../images/role_modify.gif" width="9" height="9" />&nbsp;[<a href="/jinquan/wares_detail?id=<%=wares[i].id%>">查看</a>]</div></td>
                            <% if (wares[i].status == 1) {%>
                            <td><div align="center"><img src="../../images/stop.gif" width="9" height="9" />&nbsp;[<a href="#">停用</a>]</div></td>
                            <% } else {%>
                            <td><div align="center"><img src="images/start.gif" width="9" height="9" />&nbsp;[<a href="#">启用</a>]</div></td>
                            <%}%>
                            <td><div align="center"><img src="../../images/037.gif" width="9" height="9" />&nbsp;[<a href="/jinquan/wares_pre_edit?id=<%=wares[i].id%>">编辑</a>]</div></td>
                            <td><div align="center"><img src="../../images/delete.gif" width="9" height="9" />&nbsp;[<a href="#">删除</a>]</div></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <%}%>
        </table>

        <div class="black2">
            <span class="disabled">&lt; </span><span class="current">1</span><a href="#?page=2">2</a><a href="#?page=3">3</a><a href="#?page=4">4</a><a href="#?page=5">5</a><a href="#?page=6">6</a><a href="#?page=7">7</a>...<a href="#?page=199">199</a><a href="#?page=200">200</a><a href="#?page=2">
            &gt; </a></div>
    </div>
</div>

</body>
</html>
