<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>商品管理</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../js/layer/layer.js"></script>
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
</head>

<script type="text/javascript">
    function search () {
        var name = document.getElementById('name').value;
        var cid = document.getElementById('id').value;
        window.location.href = '/jinquan/wares_select?name='+name+'&id='+cid;
    }

    function pageturning (selectPage) {
        var name = document.getElementById('name').value;
        var cid = document.getElementById('id').value;
        window.location.href = '/jinquan/wares_select?page='+selectPage+'&name='+name+'&id='+cid;
    }
    /*
     选择该商品
     id:商品id
     name：商品名称
     seril:编号
     price：单价
     isDiscount：是否允许内购
     discountPrice：内购价格
     */
    function select(obj){
        var index = document.getElementById("index").value;
        if(window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('proId'+index)){
            window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('proId'+index).value=obj.id;
        }

        if(window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('proname'+index)){
            window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('proname'+index).value=obj.name;
        }
        if(window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('proNo'+index)){
            window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('proNo'+index).value=obj.serialNumber;
        }
        if(window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('storeroomId'+index)){
            window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('storeroomId'+index).value=obj.storeroomId;//库房id
        }
        if(window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('inventoryCount'+index)){
            window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('inventoryCount'+index).value=obj.inventoryCount;//剩余数量
        }

       // window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('price'+index).value=bname;
        if(window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('price'+index)) {
            window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('price'+index).value=obj.price;
        }
        if (window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('bname'+index)) {
            window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('bname'+index).value = obj.bname;
        }
        //内购价格
        if(window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('insidePrice'+index)){
            if(isDiscount == 0){
                //没有特殊的内购价格，内购费用为商品单价
                window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('insidePrice'+index).value = obj.price;
            }else{
                //有特殊的内购价格
                window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('insidePrice'+index).value = obj.discountPrice;
            }
        }

        var index = parent.layer.getFrameIndex(window.name); //获取当前窗体索引
        parent.layer.close(index); //执行关闭

    }
</script>

<body>
<div id="test"></div>
<div class="center_con">
    <div class="butSet">
        <div class="sousuo">
            <table width="100%" class="table4" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <input id="index" name="index" type="hidden" value="<%=index%>"  />
                    <td>商品名称：<input id="name" name="name" type="text" class="input5" value="<%=data.name%>"/></td>
                    <td> &nbsp;商品分类：<select id="id" name="id">
                        <option value =""></option>
                        <%for(var i=0;i<data.classify.length;i++){%>
                        <option value ="<%=data.classify[i].id%>" <%if(data.classifyId == data.classify[i].id){%>selected<%}%> ><%=data.classify[i].name%></option>
                        <%}%>
                    </select></td>
                    <td><a href="javascript:search()" class="chaxun"></a></td>
                </tr>
            </table>

        </div>
    </div>
    <div class="tabCon">
        <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
            <tr>
                <th>商品名称</th>
                <th>商品商标</th>
                <th>商品分类</th>
                <th>最低库存</th>
               <!-- <th>统一售价</th>   -->
                <th>操作</th>
            </tr>
            <% for (var i=0;i<data.data.length;i++) {%>
            <tr onmouseover="this.className='f_on'" class="f_off"  onmouseout="this.className='f_off'">
                <td><%=data.data[i].name%></td>
                <td><%=data.data[i].bname%></td>
                <td><%=data.data[i].cname%></td>
                <td><%=data.data[i].lowData%></td>
                <!--<td><%=data.data[i].price%></td>  -->
                <td>
                    <table width="100%" border="0" cellspacing="0" class="table_t"  cellpadding="0">
                        <tr>
                            <td><div align="center"><img src="../../images/index_2.jpg" width="9" height="9" />&nbsp;[<a href="javascript:select(<%=JSON.stringify(data.data[i])%>)">选择商品</a>]</div></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <%}%>
        </table>
        <%- laypage %>
       <!-- <%- include ../pagination.html -%>  -->
    </div>
</div>

</body>
</html>
