<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>商品修改</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">
        function submitForm(){
            var name = document.getElementById("name").value;
            if (!name || name.length == 0) {
                alert('商品名称不能为空');
                return;
            }
            var price = document.getElementById("price").value;
            if (!price || price.length == 0) {
                alert('商品售价不能为空');
                return;
            }
            var serial = document.getElementById("serial").value;
            if (!serial || serial.length == 0) {
                alert('序列号不能为空');
                return;
            }

            var brand = document.getElementById("brand").value;
            if(!brand || brand.length == 0) {
                alert('商标不能为空');
                return;
            }

            var lowdata = document.getElementById("lowdata").value;
            if (!lowdata || lowdata.length == 0) {
                alert('最低库存量不能为空');
                return;
            }

            document.getElementById("myform").submit();
        }
    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：商品修改
    </div>
    <div class="zhuxiao"><a href="#" class="zx_sty"></a></div>
</div>
<div class="center_con">
    <form method="post" id="myform" action="/jinquan/wares_update">
    <table width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
        <tr>
            <input id="id" name="id" type="hidden" class="input5"  value="<%=wares.id%>" />
            <td  class="regTd_l">商品名称：</td>
            <td class="regTd_r"><input id="name" name="name" type="text" class="input5" value="<%=wares.name%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
        </tr>
        <tr>
            <td class="regTd_l">商品别名：</td>
            <td class="regTd_r"><input id="longname" name="longname" type="text" class="input5"  value="<%=wares.longname%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
        </tr>
        <tr>
            <td class="regTd_l">商品售价：</td>
            <td class="regTd_r"><input id="price" name="price" class="input5" type="text" value="<%=wares.price%>"/></td>
        </tr>
        <tr>
            <td class="regTd_l">商标：</td>
            <td class="regTd_r"><input id="brand" name="brand" type="text" class="input5"  value="<%=wares.brand%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
        </tr>
        <tr>
            <td class="regTd_l">商品分类：</td>
            <td class="regTd_r"><select id="cid" name="cid">
                <%for(var i=0;i<classifys.length;i++){%>
                <option value ="<%=classifys[i].id%>" <%if(wares.cid == classifys[i].id){%>selected<%}%> ><%=classifys[i].name%></option>
                <%}%>
            </select>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
        </tr>
        <tr>
            <td class="regTd_l">规格：</td>
            <td class="regTd_r"><input id="standard" name="standard" type="text" class="input5"  value="<%=wares.standard%>"/></td>
        </tr>
        <tr>
            <td class="regTd_l">序列号：</td>
            <td class="regTd_r"><input id="serial" name="serial" type="text" class="input5"  value="<%=wares.serialNumber%>"/></td>
        </tr>
        <tr>
            <td class="regTd_l">备注：</td>
            <td class="regTd_r"><textarea id="remark" name="remark" rows="8" cols="19"><%=wares.remarks%></textarea></td>
        </tr>
        <tr>
            <td class="regTd_l">最低库存：</td>
            <td class="regTd_r"><input id="lowdata" name="lowdata" type="text" class="input5"  value="<%=wares.lowData%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
        </tr>
    </table>
        </form>
    <div class="reg_but">
        <div class="rb_l"><a href="javascript:;" onclick="submitForm()" class="reset"></a></div>
        <div class="rb_l"><a href="/jinquan/wares_list" class="close"></a></div>
    </div>
</div>
</body>
</html>