<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>商品管理</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../js/layer/layer.js"></script>
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
</head>

<script type="text/javascript">
    function search () {
        var name = document.getElementById('name').value;
        var cid = document.getElementById('id').value;
        window.location.href = '/jinquan/wares_modular?name='+name+'&id='+cid;
    }

    function pageturning (selectPage) {
        var name = document.getElementById('name').value;
        var cid = document.getElementById('id').value;
        window.location.href = '/jinquan/wares_modular?page='+selectPage+'&name='+name+'&id='+cid;
    }
    //选择该商品
    function select(id,name,seril){
        var index = document.getElementById("index").value;
        window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('proId'+index).value=id;
        window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('proname'+index).value=name;
        window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('proNo'+index).value=seril;
        var index = parent.layer.getFrameIndex(window.name); //获取当前窗体索引
        parent.layer.close(index); //执行关闭

    }
</script>

<body>
<div id="test"></div>
<div class="center_con">
    <div class="butSet">
        <div class="sousuo">
            <table width="100%" class="table4" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <input id="index" name="index" type="hidden" value="<%=index%>"  />
                    <td>商品名称：<input id="name" name="name" type="text" class="input5" value="<%=data.name%>"/></td>
                    <td> &nbsp;商品分类：<select id="id" name="id">
                        <option value =""></option>
                        <%for(var i=0;i<data.classify.length;i++){%>
                        <option value ="<%=data.classify[i].id%>" <%if(data.classifyId == data.classify[i].id){%>selected<%}%> ><%=data.classify[i].name%></option>
                        <%}%>
                    </select></td>
                    <td><a href="javascript:search()" class="chaxun"></a></td>
                </tr>
            </table>

        </div>
    </div>
    <div class="tabCon">
        <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
            <tr>
                <th>商品名称</th>
                <th>商品商标</th>
                <th>商品分类</th>
                <th>最低库存</th>
                <th>操作</th>
            </tr>
            <% for (var i=0;i<data.data.length;i++) {%>
            <tr onmouseover="this.className='f_on'" class="f_off"  onmouseout="this.className='f_off'">
                <td><%=data.data[i].name%></td>
                <td><%=data.data[i].brand%></td>
                <td><%=data.data[i].cname%></td>
                <td><%=data.data[i].lowData%></td>
                <td>
                    <table width="100%" border="0" cellspacing="0" class="table_t"  cellpadding="0">
                        <tr>
                            <td><div align="center"><img src="../../images/index_2.jpg" width="9" height="9" />&nbsp;[<a href="javascript:select('<%=data.data[i].id%>','<%=data.data[i].name%>','<%=data.data[i].serialNumber%>')">选择商品</a>]</div></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <%}%>
        </table>

        <%- include ../pagination.html -%>
    </div>
</div>

</body>
</html>
