<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>添服务单维护</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">
        function submitForm(){
            var serviceMeetId = document.getElementById("serviceMeetId").value;
            if (!serviceMeetId || name.serviceMeetId == 0) {
                alert('服务单号不能为空');
                return;
            }
            document.getElementById("myform").submit();
        }
    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：护理服务单信息详情
    </div>
    <div class="zhuxiao"><a href="#" class="zx_sty"></a></div>
</div>
<div class="center_con">
    <form method="post" id="myform" action="/jinquan/nurs_service_doEdit">
        <table width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <!-- 基本信息 -->
            <tr>
                <td colspan="4" align="left">基本信息：</td>
            </tr>
            <tr>
                <input id="id" type="hidden" name="id" value="<%=nursService.id%>"/>
                <td class="regTd_l">预约服务单号：</td>
                <td class="regTd_r"><input id="serviceMeetId" name="serviceMeetId" type="text" class="input5"  readonly="true" value="<%=nursService.serviceMeetId%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">服务日期：</td>
                <td class="regTd_r"><input id="serviceDate" name="serviceDate" type="text" class="input5"  readonly="true" value="<%=nursService.serviceDate%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">姓名：</td>
                <td class="regTd_r"><input id="name" name="name" type="text" class="input5"  readonly="true" value="<%=nursService.name%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">电话：</td>
                <td class="regTd_r"><input id="tel" name="tel" type="text" class="input5"  readonly="true" value="<%=nursService.tel%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>

            <tr>
                <td class="regTd_l">服务地点：</td>
                <td class="regTd_r">
                    <select  id="serviceType" name="serviceType">
                        <option value="1">店内</option>
                        <option value="2">上门</option>
                    </select> &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">服务地址：</td>
                <td class="regTd_r"><input id="address" name="address" type="text" class="input5"  readonly="true" value="<%=nursService.address%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">开始时间：</td>
                <td class="regTd_r"><input id="startTime" name="startTime" type="text" class="input5"  readonly="true" value="<%=nursService.startTime%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">截止时间：</td>
                <td class="regTd_r"><input id="endTime" name="endTime" type="text" class="input5"  readonly="true" value="<%=nursService.endTime%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <!-- 近期哺乳相关 -->
            <tr>
                <td colspan="4" align="left">近期哺乳相关：</td>
            </tr>
            <tr>
                <td class="regTd_l">服务需求：</td>
                <td class="regTd_r"><input id="serviceNeeds" name="serviceNeeds" type="text" class="input5" readonly="true"  value="<%=nursService.serviceNeeds%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">大便次数：</td>
                <td class="regTd_r"><input id="bowelFrequenc" name="bowelFrequencc" type="text" class="input5" readonly="true"  value="<%=nursService.bowelFrequencc%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">做过何种处理：</td>
                <td class="regTd_r"><input id="deal" name="deal" type="text" class="input5" readonly="true"  value="<%=nursService.deal%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">形状：</td>
                <td class="regTd_r"><input id="shape" name="shape" type="text" class="input5" readonly="true"  value="<%=nursService.shape%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">喂养情况：</td>
                <td class="regTd_r"><input id="feedSituation" name="feedSituation" type="text" class="input5" readonly="true"  value="<%=nursService.feedSituation%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">尿量：</td>
                <td class="regTd_r"><input id="urination" name="urination" type="text" class="input5" readonly="true"  value="<%=nursService.urination%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">喂养备注：</td>
                <td class="regTd_r"><input id="feedRemark" name="feedRemark" type="text" class="input5" readonly="true"  value="<%=nursService.feedRemark%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">挤奶情况：</td>
                <td class="regTd_r"><input id="milkSituation" name="milkSituation" type="text" class="input5" readonly="true"  value="<%=nursService.milkSituation%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">宝宝目前月龄：</td>
                <td class="regTd_r"><input id="childCurrentMonths" name="childCurrentMonths" type="text" class="input5" readonly="true"  value="<%=nursService.childCurrentMonths%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">挤奶次数：</td>
                <td class="regTd_r"><input id="milkNumber" name="milkNumber" type="text" class="input5" readonly="true"  value="<%=nursService.milkNumber%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">目前身高：</td>
                <td class="regTd_r"><input id="childCurrentHeight" name="childCurrentHeight" type="text" class="input5" readonly="true"  value="<%=nursService.childCurrentHeight%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">挤奶总量：</td>
                <td class="regTd_r"><input id="milkAmount " name="milkAmount" type="text" class="input5" readonly="true"  value="<%=nursService.milkAmount%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">目前体重：</td>
                <td class="regTd_r"><input id="childCurrentWeight" name="childCurrentWeight" type="text" class="input5" readonly="true"  value="<%=nursService.childCurrentWeight%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">吸奶器品牌：</td>
                <td class="regTd_r"><input id="breastpumpBrand" name="breastpumpBrand" type="text" class="input5" readonly="true"  value="<%=nursService.breastpumpBrand%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>

            <tr>
                <td colspan="4" align="left">服务信息：</td>
            </tr>
            <tr>
                <td class="regTd_l">是否观察哺乳：</td>
                <td class="regTd_r"><input id="isCarefulNurse" name="isCarefulNurse" type="text" class="input5" readonly="true"  value="<%=nursService.isCarefulNurse%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">转诊建议：</td>
                <td class="regTd_r"><input id="referralAdvise" name="referralAdvise" type="text" class="input5" readonly="true"  value="<%=nursService.referralAdvise%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">诊断结果：</td>
                <td class="regTd_r">
                   <%
                    var checkedarry =nursService.diagnosis.split(",");
                    for(var i=0;i<data1.ClassifyId1.length;i++){
                    var diagnosisId ='diagnosis'+i;
                    for (var j=0;j<checkedarry.length;j++)
                    {%>
                    <input id="<%=diagnosisId%>" name="diagnosis" type="checkbox"  value ="<%=data1.ClassifyId1[i].id%>" <%if(data1.ClassifyId1[i].id==checkedarry[j]){%>checked<%}%>/>
                     <%=data1.ClassifyId1[i].name%>
                    <%}}%>
                    <span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">特殊说明：</td>
                <td class="regTd_r"><input id="specialInstructions" name="specialInstructions" type="text" class="input5" readonly="true"  value="<%=nursService.specialInstructions%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">宝宝原因：</td>
                <td class="regTd_r">
                    <%
                    var checkedarry =nursService.childReason.split(",");
                    for(var i=0;i<data1.ClassifyId3.length;i++){
                    var childReasonId='childReason'+i;
                    for (var j=0;j<checkedarry.length;j++)
                    {
                    %>
                    <input id="<%=childReasonId%>" name="childReason" type="checkbox" value ="<%=data1.ClassifyId3[i].id%>" <%if(data1.ClassifyId3[i].id==checkedarry[j]){%>checked<%}%> />
                    <%=data1.ClassifyId3[i].name%>
                    <%}}%>
                    <span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">乳房示意图说明：</td>
                <td class="regTd_r"><input id="breastExplain" name="breastExplain" type="text" class="input5" readonly="true"  value="<%=nursService.breastExplain%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">妈妈原因：</td>
                <td class="regTd_r">
                    <%for(var i=0;i<data1.ClassifyId2.length;i++){
                    var motherReasonId='motherReason'+i;
                    %>
                    <input id="<%=motherReasonId%>" name="motherReason" type="checkbox" value ="<%=data1.ClassifyId2[i].id%>"/>
                    <%=data1.ClassifyId2[i].name%>
                    <%}%>
                    <span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">离店建议：</td>
                <td class="regTd_r"><input id="leaveAdvise" name="leaveAdvise" type="text" class="input5" readonly="true"  value="<%=nursService.leaveAdvise%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">其他原因：</td>
                <td class="regTd_r">
                    <%for(var i=0;i<data1.ClassifyId4.length;i++){
                    var otherReasonId='otherReason'+i;
                    %>
                    <input id="<%=otherReasonId%>" name="otherReason" type="checkbox" value ="<%=data1.ClassifyId4[i].id%>"/>
                    <%=data1.ClassifyId4[i].name%>
                    <%}%>
                    <span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">是否带实习技师：</td>
                <td class="regTd_r"><input id="isLeadTrainee" name="isLeadTrainee" type="text" class="input5" readonly="true"  value="<%=nursService.isLeadTrainee%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">是否预约二次：</td>
                <td class="regTd_r"><input id="whetherAppointmentAgain" name="whetherAppointmentAgain" type="text" class="input5" readonly="true"  value="<%=nursService.whetherAppointmentAgain%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">实习技师姓名：</td>
                <td class="regTd_r"><input id="traineeName" name="traineeName" type="text" class="input5" readonly="true"  value="<%=nursService.traineeName%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <!-- 所选商品 -->
            <tr>
                <td colspan="4" align="left">所选商品：</td>
            </tr>
            <tr>
                <td colspan="4" style="width:100%;">
                    <table style="width:60%;" class="reg_table"border="0" cellspacing="0" cellpadding="0">
                        <tr bgcolor="lightblue">
                            <td>商品名称</td>
                            <td>商品编号</td>
                            <td>选购数量</td>
                            <td>商品单价</td>
                            <td>小计</td>
                        </tr>
                        <%
                        if(data!=null && data.logmx!=null){
                        for(var i=0;i<data.logmx.length;i++) {%>
                        <tr id="qqq">
                            <td><input   name="proname" type="text" class="input5 input_arr" value="<%=data.logmx[i].waresName%>" readonly="true" /></td>
                            <td><input  name="proNo" type="text" class="input5 input_arr" value="<%=data.logmx[i].waresSerial%>" readonly="true"/></td>
                            <td><input  name="count" type="text" class="input5 input_arr" value="<%=data.logmx[i].count%>" readonly="true"/></td>
                            <td><input  name="price" type="text" class="input5 input_arr" value="<%=data.logmx[i].price%>" readonly="true"/></td>
                            <td><input  type="text" class="input5 input_arr" value="<%=data.logmx[i].price*data.logmx[i].count%>" readonly="true"/></td>
                        </tr>
                        <%}}%>
                    </table>
                </td>
            </tr>
        </table>
    </form>
    <div class="reg_but">
        <div class="rb_l"><a href="/jinquan/nurs_service_list" class="close"></a></div>
    </div>


</div>
</body>
</html>
