<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>编辑护理服务单信息</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <script type="application/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="application/javascript" src="../../js/layer/layer.js"></script>
    <script type="application/javascript" src="../../js/laydate/laydate.js"></script>
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">
        function submitForm(){
            //服务截止时间不能为空
            if($("#endTime").val() == ''){
                parent.layer.alert('请先收费后在维护此护理服务单。',{icon: 2});
                return ;
            }
            //大便次数
            if(!$("#bowelFrequencSpanId").is(":hidden")){//大便次数必填
                if($("#bowelFrequenc").val() == ''){
                    parent.layer.alert('大便次数不能为空。',{icon: 2});
                    return ;
                }
            }
            //性状
            if(!$("#shapeSpanId").is(":hidden")){//大便次数必填
                if($("#shape").val() == ''){
                    parent.layer.alert('请选择性状。',{icon: 2});
                    return ;
                }
            }
            //喂养情况
            if($("#feedSituation").val() == ''){
                parent.layer.alert('请选择喂养情况。',{icon: 2});
                return ;
            }
            //尿量
            if(!$("#urinationSpanId").is(":hidden")){//大便次数必填
                if($("#urination").val() == ''){
                    parent.layer.alert('请选择尿量。',{icon: 2});
                    return ;
                }
            }
            //目前体重
            if(!$("#childCurrentWeightSpanId").is(":hidden")){//目前体重
                if($("#childCurrentWeight").val() == ''){
                    parent.layer.alert('请填写目前体重。',{icon: 2});
                    return ;
                }
            }
            //喂养备注
            if(!$("#feedRemarkSpanId").is(":hidden")){//大便次数必填
                if($("#feedRemark").val() == ''){
                    parent.layer.alert('请填写喂养备注。',{icon: 2});
                    return ;
                }
            }
            //挤奶情况
            if($("#milkSituation").val() == ''){
                parent.layer.alert('请选择挤奶情况。',{icon: 2});
                return ;
            }
            //宝宝目前月龄
            if($("#childCurrentMonths").val() == ''){
                parent.layer.alert('请填写宝宝目前月龄。',{icon: 2});
                return ;
            }
            //挤奶次数
            if(!$("#milkNumberSpanId").is(":hidden")) {//挤奶次数
                if ($("#milkNumber").val() == '') {
                    parent.layer.alert('请选择挤奶次数。', {icon: 2});
                    return;
                }
            }
            //目前身高
            //不是必填项
//            if($("#childCurrentHeight").val() == ''){
//                parent.layer.alert('请填写目前身高。',{icon: 2});
//                return ;
//            }
            //挤奶总量
            if(!$("#milkAmountSpanId").is(":hidden")) {//挤奶次数
                if ($("#milkAmount").val() == '') {
                    parent.layer.alert('请填写挤奶总量。', {icon: 2});
                    return;
                }
            }
            //目前体重
            //不是必填项
//            if($("#childCurrentWeight").val() == ''){
//                parent.layer.alert('请填写目前体重。',{icon: 2});
//                return ;
//            }
            //吸奶器品牌
            //不是必填项
//            var breastpumpBrandStr = "";
//            $("[name='breastpumpBrand']").each(function(){
//                if($(this).attr("checked")){
//                    breastpumpBrandStr = "....";//代表选中的记录
//                }
//            });
//            if(breastpumpBrandStr == ''){
//                parent.layer.alert('请选中吸奶器品牌。',{icon: 2});
//                return ;
//            }
            //是否观察哺乳
            if($("#isCarefulNurse").val() == ''){
//                parent.layer.alert('请选择观察哺乳，。',{icon: 2});
                return ;
            }
            //转诊建议
            //不是必填项
//            if($("#referralAdvise").val() == ''){
//                parent.layer.alert('请填写转诊建议。',{icon: 2});
//                return ;
//            }

            //诊断结果
            var diagnosisStr = "";
            $("[name='diagnosis']").each(function(){
                if($(this).attr("checked")){
                    diagnosisStr = "....";//代表选中的记录
                }
            });
            if(diagnosisStr == ''){
                parent.layer.alert('请选中诊断结果。',{icon: 2});
                return ;
            }
            //特殊说明
            //不是必填项
//            if($("#specialInstructions").val() == ''){
//                parent.layer.alert('请填写特殊说明。',{icon: 2});
//                return ;
//            }
            //宝宝原因
            var childReasonStr = "";
            $("[name='childReason']").each(function(){
                if($(this).attr("checked")){
                    childReasonStr = "....";//代表选中的记录
                }
            });
            if(childReasonStr == ''){
                parent.layer.alert('请选中宝宝原因。',{icon: 2});
                return ;
            }
            //乳房示意图说明
            if($("#breastExplainId").attr('src') == '/images/noImage.png'){
                parent.layer.alert('请上传乳房示意图说明。',{icon: 2});
                return ;
            }
            //妈妈原因
            var motherReasonStr = "";
            $("[name='motherReason']").each(function(){
                if($(this).attr("checked")){
                    motherReasonStr = "....";//代表选中的记录
                }
            });
            if(motherReasonStr == ''){
                parent.layer.alert('请选择妈妈原因。',{icon: 2});
                return ;
            }
            //其他原因
            /*
            var otherReasonStr = "";
            $("[name='otherReason']").each(function(){
                if($(this).attr("checked")){
                    otherReasonStr = "....";//代表选中的记录
                }
            });
            if(otherReasonStr == ''){
                parent.layer.alert('请选择其他原因。',{icon: 2});
                return ;
            }
            */
            //离店建议
            if($("#leaveAdvise").val() == ''){
                parent.layer.alert('请填写离店建议。',{icon: 2});
                return ;
            }
            //是否预约二次
            //不是必填项
//            if($("#whetherAppointmentAgain").val() == ''){
//                parent.layer.alert('请选择是否预约二次。',{icon: 2});
//                return ;
//            }


//            alert("可以提交");
            document.getElementById("myform").submit();
        }

        $(document).ready(function() {

            //为孩子月龄赋值
            var childMonths ='<%=nursService.childMonths%>';
            if($("#childCurrentMonths").val() == ''){
                $("#childCurrentMonths").val(childMonths+"个月");
            }
            if(childMonths > 6){//超过6个月，大便次数、性状、尿量都不是必填项
                $("#bowelFrequencSpanId").hide();//大便次数
                $("#shapeSpanId").hide();//性状
                $("#urinationSpanId").hide();//尿量
                $("#childCurrentWeightSpanId").hide();//目前体重
            }
            //如果挤奶情况第一个被选中（选择无），挤奶情况如果选“无”，挤奶次数、挤奶总量都不是必填项
            if(document.getElementById("milkSituation").selectedIndex == 1){
                $("#milkNumberSpanId").hide();//挤奶次数
                $("#milkAmountSpanId").hide();//挤奶总量
            }
            closeWindow();
            changeFeedSituation();
        });
        //关闭窗口（只适用于弹出窗口）
        function closeWindow(){
            var index = parent.layer.getFrameIndex(window.name); //获取当前窗体索引
            parent.layer.close(index); //执行关闭
        }
        //挤奶情况变更
        function milkSituationChange(){
            //如果挤奶情况第一个被选中（选择无），挤奶情况如果选“无”，挤奶次数、挤奶总量都不是必填项

            if(document.getElementById("milkSituation").selectedIndex == 1){
                $("#milkNumberSpanId").hide();//挤奶次数
                $("#milkAmountSpanId").hide();//挤奶总量
            }else{
                $("#milkAmountSpanId").show();//挤奶总量
                $("#milkNumberSpanId").show();//挤奶次数
            }
        }
        //喂养情况如果不是第一个（添加配方奶），喂养备注不是必填项
        function changeFeedSituation(){
            if(document.getElementById("feedSituation").selectedIndex == 1){
                $("#feedRemarkSpanId").show();
            }else{
                $("#feedRemarkSpanId").hide();
            }
        }
        //弹出上传“乳房示意图说明”图片界面
        function uploadBreastExplain(){
            parent.layer.open({
                type: 2,
                title: '上传“乳房示意图”',
                shadeClose: true,
                shade: 0.8,
                area: ['50%', '30%'],
                content: '/jinquan/open_upload_nursService_breast_image?id=<%=nursService.id%>', //iframe的url
                success: function(layero, index){

                },
                close: function(d){

                }
            });
        }
        //上传“乳房示意图”成功后，回调方法
        function setBreastImageSrc(imageSrc){
            $("#breastExplainId").attr('src',imageSrc);
        }

    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：编辑护理服务单信息
    </div>
</div>
<div class="center_con">
    <form method="post" id="myform" action="/jinquan/nurs_service_doEdit">
        <table width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <!-- 基本信息 -->
            <tr>
                <td colspan="4" align="left">基本信息：</td>
            </tr>
            <tr>
                <input id="id" type="hidden" name="id" value="<%=nursService.id%>"/>
                <input id="serviceMeetId" type="hidden" name="serviceMeetId" value="<%=nursService.serviceMeetId%>"/>
                <td class="regTd_l">服务单号：</td>
                <td class="regTd_r">
                    <input id="nursServiceNo" name="nursServiceNo"  type="text" class="input5" value="<%=nursService.nursServiceNo%>" readonly="true"/>
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">服务日期：</td>
                <td class="regTd_r">
                    <input id="serviceDate" name="serviceDate" readonly type="text" class="input5"  value="<%=nursService.serviceDate%>" style="width: 80px"/>
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">姓名：</td>
                <td class="regTd_r"><input id="name" name="name" readonly type="text" class="input5"  value="<%=nursService.memberName%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">电话：</td>
                <td class="regTd_r"><input id="tel" name="tel" readonly type="text" class="input5"  value="<%=nursService.memberTel%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">服务地点：</td>
                <td class="regTd_r">
                    <select id="serviceType" name="serviceType" disabled>
                        <option value="1" <%if(nursService.serviceType == 1){%>selected<%}%>>到店</option>
                        <option value="2" <%if(nursService.serviceType == 2){%>selected<%}%>>上门</option>
                    </select> &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">服务地址：</td>
                <td class="regTd_r">
                    <input type="text" class="input5" <%if(nursService.serviceType == 2){%>style="width: 300px;"<%}else{%>style="width: 100px;"<%}%>
                    value="<%if(nursService.serviceType == 1){%><%=nursService.shopName%><%}else{%><%=nursService.province%>,<%=nursService.city%>,<%=nursService.town%>,<%=nursService.address%><%}%>" readonly />
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span>
                </td>
            </tr>
            <tr>
                <td class="regTd_l">开始时间：</td>
                <td class="regTd_r"><input id="startTime" name="startTime"  value="<%=nursService.startTime%>" type="text" class="input5" readonly  style="width: 80px" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">截止时间：</td>
                <td class="regTd_r"><input id="endTime" name="endTime" value="<%=nursService.endTime%>" type="text" class="input5" readonly  style="width: 80px"  />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <!-- 近期哺乳相关 -->
            <tr>
                <td colspan="4" align="left">近期哺乳相关：</td>
            </tr>
            <tr style="border:solid 1px #f56394;">
                <td class="regTd_l">做过何种处理：</td>
                <td class="regTd_r">

                    <%
                    var dealStr = nursService.deal == null ? "" :nursService.deal;
                    for(var i=0;i<dictData.treatmentMethodArr.length;i++){
                    var treatmentMethodId='deal'+i;
                    %>
                    <input id="<%=treatmentMethodId%>" name="deal" type="checkbox" value ="<%=dictData.treatmentMethodArr[i].id%>"
                    <%if(dealStr.indexOf(dictData.treatmentMethodArr[i].id) > -1){%>checked<%}%>/>
                    <%=dictData.treatmentMethodArr[i].name%>
                    <%
                    if((i+1)%3 == 0){
                    %><br><%
                    }
                    }%>



                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">服务需求：</td>
                <td class="regTd_r">
                    <!--
                    <select id="serviceNeeds" name="serviceNeeds">
                        <option value="">请选择</option>
                        <%for(var i=0;i<dictData.serverDemandArr.length;i++){
                        %><option value="<%=dictData.serverDemandArr[i].id%>" <%if(nursService.serviceNeeds ==dictData.serverDemandArr[i].id ){%>selected<%}%>><%=dictData.serverDemandArr[i].name%></option><%
                        }%>
                    </select>
                    -->

                    <%
                    var serviceNeedsStr = nursService.serviceNeeds == null ? "" :nursService.serviceNeeds;
                    for(var i=0;i<dictData.serverDemandArr.length;i++){
                    var serviceNeedsId='serviceNeeds'+i;
                    %>
                    <input id="<%=serviceNeedsId%>" name="serviceNeeds" type="checkbox" value ="<%=dictData.serverDemandArr[i].id%>"
                    <%if(serviceNeedsStr.indexOf(dictData.serverDemandArr[i].id) > -1){%>checked<%}%>/>
                    <%=dictData.serverDemandArr[i].name%>
                    <%
                    if((i+1)%2 == 0){
                    %><br><%
                    }
                    }%>


                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">大便次数：</td>
                <td class="regTd_r">
                    <input id="bowelFrequenc" name="bowelFrequenc" type="text" class="input5"  value="<%=nursService.bowelFrequenc%>"/>&nbsp;&nbsp;
                    <span id="bowelFrequencSpanId" style="color:#FF0000;">*</span></td>
                <td class="regTd_l">性状：</td>
                <td class="regTd_r">
                    <select id="shape" name="shape">
                        <option value="">请选择</option>

                        <%for(var i=0;i<dictData.shapeArr.length;i++){
                        %><option value="<%=dictData.shapeArr[i].id%>" <%if(nursService.shape ==dictData.shapeArr[i].id ){%>selected<%}%>><%=dictData.shapeArr[i].name%></option><%
                        }%>
                    </select>
                    &nbsp;&nbsp;<span id="shapeSpanId" style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">喂养情况：</td>
                <td class="regTd_r">
                    <select id="feedSituation" name="feedSituation" onchange="changeFeedSituation();">
                        <option value="">请选择</option>

                        <%for(var i=0;i<dictData.feedingConditionArr.length;i++){
                        %><option value="<%=dictData.feedingConditionArr[i].id%>" <%if(nursService.feedSituation ==dictData.feedingConditionArr[i].id ){%>selected<%}%>><%=dictData.feedingConditionArr[i].name%></option><%
                        }%>
                    </select>
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">尿量：</td>
                <td class="regTd_r">
                    <select id="urination" name="urination">
                        <option value="">请选择</option>

                        <%for(var i=0;i<dictData.urineVolumeArr.length;i++){
                        %><option value="<%=dictData.urineVolumeArr[i].id%>" <%if(nursService.urination ==dictData.urineVolumeArr[i].id ){%>selected<%}%>><%=dictData.urineVolumeArr[i].name%></option><%
                        }%>
                    </select>
                    &nbsp;&nbsp;<span id="urinationSpanId" style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">喂养备注：</td>
                <td class="regTd_r">
                    <input id="feedRemark" name="feedRemark" type="text" class="input5"  value="<%=nursService.feedRemark%>"/>
                    &nbsp;&nbsp;<span id="feedRemarkSpanId" style="color:#FF0000;">*</span></td>
                <td class="regTd_l">挤奶情况：</td>
                <td class="regTd_r">
                    <select id="milkSituation" name="milkSituation" onchange="milkSituationChange();">
                        <option value="">请选择</option>

                        <%for(var i=0;i<dictData.milkSituationArr.length;i++){
                        %><option value="<%=dictData.milkSituationArr[i].id%>" <%if(nursService.milkSituation ==dictData.milkSituationArr[i].id ){%>selected<%}%>><%=dictData.milkSituationArr[i].name%></option><%
                        }%>
                    </select>
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">宝宝目前月龄：</td>
                <td class="regTd_r"><input id="childCurrentMonths" name="childCurrentMonths" type="text" class="input5"  value="<%=nursService.childCurrentMonths%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">挤奶次数：</td>
                <td class="regTd_r">
                    <!--
                    <select id="milkNumber" name="milkNumber">
                        <option value="">请选择</option>

                        <%for(var i=0;i<dictData.milkNumArr.length;i++){
                        %><option value="<%=dictData.milkNumArr[i].id%>" <%if(nursService.milkNumber ==dictData.milkNumArr[i].id ){%>selected<%}%>><%=dictData.milkNumArr[i].name%></option><%
                        }%>
                    </select>
                    -->
                    <input type="text" id="milkNumber" name="milkNumber" value="<%=nursService.milkNumber%>"/>
                    &nbsp;&nbsp;<span id="milkNumberSpanId" style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">目前身高：</td>
                <td class="regTd_r">
                    <input id="childCurrentHeight" name="childCurrentHeight" type="text" class="input5"  value="<%=nursService.childCurrentHeight%>"/>&nbsp;&nbsp;</td>
                <td class="regTd_l">挤奶总量：</td>
                <td class="regTd_r">
                    <!--
                    <select id="milkAmount" name="milkAmount">
                        <option value="">请选择</option>

                        <%for(var i=0;i<dictData.milkTotalArr.length;i++){
                        %><option value="<%=dictData.milkTotalArr[i].id%>" <%if(nursService.milkAmount ==dictData.milkTotalArr[i].id ){%>selected<%}%>><%=dictData.milkTotalArr[i].name%></option><%
                        }%>
                    </select>
                    -->
                    <input type="text" id="milkAmount" name="milkAmount" value="<%=nursService.milkAmount%>"/>
                    &nbsp;&nbsp;<span id="milkAmountSpanId" style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">目前体重：</td>
                <td class="regTd_r">
                    <input id="childCurrentWeight" name="childCurrentWeight" type="text" class="input5"  value="<%=nursService.childCurrentWeight%>"/>&nbsp;&nbsp;
                    &nbsp;&nbsp;<span id="childCurrentWeightSpanId" style="color:#FF0000;">*</span></td>
                </td>
                <td class="regTd_l">吸奶器品牌：</td>
                <td class="regTd_r">

                    <%
                    var breastpumpBrandStr = nursService.breastpumpBrand == null ? "" :nursService.breastpumpBrand;
                    for(var i=0;i<dictData.breastPumpBrandArr.length;i++){
                    var breastpumpBrandId='breastpumpBrand'+i;
                    %>
                    <input id="<%=breastpumpBrandId%>" name="breastpumpBrand" type="checkbox" value ="<%=dictData.breastPumpBrandArr[i].id%>"
                    <%if(breastpumpBrandStr.indexOf(dictData.breastPumpBrandArr[i].id) > -1){%>checked<%}%>/>
                    <%=dictData.breastPumpBrandArr[i].name%>
                    <%
                    if((i+1)%4 == 0){
                    %><br><%
                    }
                    }%>
                    &nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td colspan="4" align="left">服务信息：</td>
            </tr>
            <tr>
                <td class="regTd_l">是否观察哺乳：</td>
                <td class="regTd_r">
                    <select id="isCarefulNurse" name="isCarefulNurse">
                        <option value="">请选择</option>

                        <%for(var i=0;i<dictData.isViewLactationArr.length;i++){
                        %><option value="<%=dictData.isViewLactationArr[i].id%>" <%if(nursService.isCarefulNurse ==dictData.isViewLactationArr[i].id ){%>selected<%}%>><%=dictData.isViewLactationArr[i].name%></option><%
                        }%>
                    </select>
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">转诊建议：</td>
                <td class="regTd_r">
                    <input id="referralAdvise" name="referralAdvise" type="text" class="input5"  value="<%=nursService.referralAdvise%>"/>&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="regTd_l">诊断结果：</td>
                <td class="regTd_r">
                    <%for(var i=0;i<dictData.diagnosticResultArr.length;i++){
                    var diagnosisId ='diagnosis'+i;
                    %>
                    <input id="<%=diagnosisId%>" name="diagnosis" type="checkbox" value ="<%=dictData.diagnosticResultArr[i].id%>"
                    <%if(nursService.diagnosis != null && nursService.diagnosis.indexOf(dictData.diagnosticResultArr[i].id) > -1){%>checked<%}%>/>
                    <%=dictData.diagnosticResultArr[i].name%>
                    <%
                    if((i+1)%4 == 0){
                    %><br><%
                    }
                    }%>
                    <span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">特殊说明：</td>
                <td class="regTd_r">
                    <input id="specialInstructions" name="specialInstructions" type="text" class="input5"  value="<%=nursService.specialInstructions%>"/>&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td class="regTd_l">宝宝原因：</td>
                <td class="regTd_r">
                    <%for(var i=0;i<dictData.babyReasonsArr.length;i++){
                    var childReasonId='childReason'+i;
                    %>
                    <input id="<%=childReasonId%>" name="childReason" type="checkbox" value ="<%=dictData.babyReasonsArr[i].id%>"
                           value ="<%=dictData.babyReasonsArr[i].id%>" <%if(nursService.childReason != null && nursService.childReason.indexOf(dictData.babyReasonsArr[i].id) > -1){%>checked<%}%>/>
                    <%=dictData.babyReasonsArr[i].name%>
                    <%
                    if((i+1)%4 == 0){
                    %><br><%
                    }
                    }%>
                    <span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">乳房示意图说明：</td>
                <td class="regTd_r">
                    <!--
                    <input id="breastExplain" name="breastExplain" type="text" class="input5"  value="<%=nursService.breastExplain%>"/>
                    -->
                    <%
                    var breastExplainStr = nursService.breastExplain == null?"":nursService.breastExplain;
                    if(breastExplainStr != ""){
                        breastExplainStr = breastExplainStr.split(";")[1];
                    }else{
                        breastExplainStr = '/images/noImage.png';
                    }
                    %>
                    <a href="<%=breastExplainStr%>" target="_blank">
                        <img id="breastExplainId"
                         src="<%=breastExplainStr%>"
                            height="100" width="130"/>
                    </a>

                    <input type="button" value="点击上传" onclick="uploadBreastExplain()"/>
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">妈妈原因：</td>
                <td class="regTd_r">
                    <%for(var i=0;i<dictData.momReasonsArr.length;i++){
                    var motherReasonId='motherReason'+i;
                    %>
                    <input id="<%=motherReasonId%>" name="motherReason" type="checkbox"
                           value ="<%=dictData.momReasonsArr[i].id%>" <%if(nursService.motherReason != null && nursService.motherReason.indexOf(dictData.momReasonsArr[i].id) > -1){%>checked<%}%>/>
                    <%=dictData.momReasonsArr[i].name%>
                    <%
                    if((i+1)%4 == 0){
                    %><br><%
                    }
                    }%>
                    <span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">离店建议：</td>
                <td class="regTd_r"><input id="leaveAdvise" name="leaveAdvise" type="text" class="input5"  value="<%=nursService.leaveAdvise%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">其他原因：</td>
                <td class="regTd_r">
                    <%for(var i=0;i<dictData.otherReasonsArr.length;i++){
                    var otherReasonId='otherReason'+i;
                    %>
                    <input id="<%=otherReasonId%>" name="otherReason" type="checkbox" value ="<%=dictData.otherReasonsArr[i].id%>"
                    <%if(nursService.otherReason != null && nursService.otherReason != null && nursService.otherReason.indexOf(dictData.otherReasonsArr[i].id) > -1){%>checked<%}%>/>
                    <%=dictData.otherReasonsArr[i].name%>
                    <%}%>
                    </td>
                <td class="regTd_l">是否预约二次：</td>
                <td class="regTd_r">
                    <select id="whetherAppointmentAgain" name="whetherAppointmentAgain">
                        <option value="">请选择</option>
                        <option value="Y" <%if(nursService.whetherAppointmentAgain == 'Y'){%>selected<%}%>>是</option>
                        <option value="N" <%if(nursService.whetherAppointmentAgain == 'N'){%>selected<%}%>>否</option>
                    </select>
                    &nbsp;&nbsp;
                    <input type="checkbox" id="noNeedVisit" name="noNeedVisit" value="Y" <%if(nursService.noNeedVisit == 'Y'){%>checked<%}%>/>不必回访
                </td>

            </tr>
            <tr>
                <td class="regTd_l">服务效果评价：</td>
                <td class="regTd_r">
                    <%
                        var evaluateStr = nursService.evaluate != null?nursService.evaluate:"";
                    %>
                    <input type="checkbox" name="evaluate" value="1" <%if(evaluateStr.indexOf('1') > -1){%>checked<%}%>/>&nbsp;满意 &nbsp;
                    <input type="checkbox" name="evaluate" value="2" <%if(evaluateStr.indexOf('2') > -1){%>checked<%}%>/>&nbsp;基本满意 &nbsp;
                    <input type="checkbox" name="evaluate" value="3" <%if(evaluateStr.indexOf('3') > -1){%>checked<%}%>/>&nbsp;不满意
                </td>
                <td class="regTd_l">建议信息：</td>
                <td class="regTd_r">
                    <input id="proposal" name="proposal" type="text" value="<%=nursService.proposal%>"/>
                </td>
            </tr>
            <!--
            <tr>
                <td class="regTd_l">是否带实习技师：</td>
                <td class="regTd_r"><input id="isLeadTrainee" name="isLeadTrainee" type="text" class="input5"  value="<%=nursService.isLeadTrainee%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">实习技师姓名：</td>
                <td class="regTd_r"><input id="traineeName" name="traineeName" type="text" class="input5"  value="<%=nursService.traineeName%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            -->
        </table>
        <!--服务信息 start-->
        <span style="float: left; font-weight:bold;width: 100px;"><h3>服务信息</h3></span>
        <br>
        <table id="servicesTable" width="100%" class="reg_table" border="0" cellspacing="0" cellpadding="0">
            <tr bgcolor="lightblue">
                <td style="width: auto">服务名称</td>
                <td style="width: auto">单价</td>
                <td style="width: auto">数量</td>
                <td style="width: auto">小计</td>
                <td style="width: auto">优惠情况</td>
                <td style="width: auto">服务技师</td>
                <td style="width: auto">实习技师</td>
            </tr>
            <%
            for(var i = 0 ; i < serviceArr.length ; i ++ ){
            %>
            <tr>
                <td><input type="text" readonly value="<%=serviceArr[i].serviceName%>"/></td>
                <td><input type="text" readonly value="<%=serviceArr[i].price%>"/></td>
                <td><input type="text" readonly value="<%=serviceArr[i].count%>"/></td>
                <td><input type="text" readonly value="<%=serviceArr[i].subtotal%>"/></td>
                <td><input type="text" readonly value="<%=serviceArr[i].discount%>"/></td>
                <td><input type="text" readonly value="<%=serviceArr[i].serviceStaffName%>"/></td>
                <td><input type="text" readonly value="<%=serviceArr[i].traineeStaffName%>"/></td>
            </tr>
            <%
            }

            %>
        </table>
        <!--服务信息 end-->

        <!--商品信息 start-->
        <span style="float: left; font-weight:bold;width: 100px;"><h3>商品信息</h3></span>
        <br>
        <table id="waresTable" width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <tr bgcolor="lightblue">
                <td>商品名称</td>
                <td>商品编号</td>
                <td>采购数量</td>
                <td>商品单价</td>
                <td>小计</td>
                <td>减免费用</td>
            </tr>
            <%
            for(var i = 0 ; i < proArr.length ; i ++ ){
            %>
            <tr>
                <td><input type="text" readonly value="<%=proArr[i].name%>"/></td>
                <td><input type="text" readonly value="<%=proArr[i].serialNumber%>"/></td>
                <td><input type="text" readonly value="<%=proArr[i].count%>"/></td>
                <td><input type="text" readonly value="<%=proArr[i].price%>"/></td>
                <td><input type="text" readonly value="<%=proArr[i].subtotal%>"/></td>
                <td><input type="text" readonly value="<%=proArr[i].discount%>"/></td>
            </tr>
            <%
            }

            %>
        </table>
        <!--商品信息 end-->
    </form>
    <div class="reg_but">
        <%
        if(show == ''){
        %><div class="rb_l"><a href="javascript:;" onclick="submitForm()" class="reset"></a></div><%
        }
        %>
        <%
        if(openWindow == ''){
        %><div class="rb_l"><a href="/jinquan/nurs_service_list" class="close"></a></div><%
        }else if(openWindow == 'open'){
        %><div class="rb_l"><a href="javascript:void();" onclick="closeWindow()" class="close"></a></div><%
        }
        %>

    </div>


</div>
</body>
</html>
