<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>添服务单维护</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <script type="application/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="application/javascript" src="../../js/layer/layer.js"></script>
    <script type="application/javascript" src="../../js/laydate/laydate.js"></script>
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">
        function submitForm(){
            var serviceMeetId = document.getElementById("serviceMeetId").value;
            if (!serviceMeetId || name.serviceMeetId == 0) {
                alert('服务单号不能为空');
                return;
            }
            var buyer = document.getElementById("buyer").value;
            if (!buyer || buyer.length == 0) {
                parent.layer.alert('采购人不能为空',{icon: 2});
                return;
            }
            var arr_proname = document.getElementsByName('proname');
            for (var i=0;i<arr_proname.length;i++) {
                if(arr_proname[i].value == '') {
                    var n = i+1;
                    parent.layer.alert('商品详情第'+n+'行产品名称不能为空',{icon: 2});
                    return;
                }
            }

            var arr_count = document.getElementsByName('count');
            for (var i=0;i<arr_count.length;i++) {
                if(arr_count[i].value == '') {
                    var n = i+1;
                    parent.layer.alert('商品详情第'+n+'行商品数量不能为空',{icon: 2});
                    return;
                }
            }

            var arr_price = document.getElementsByName('price');
            for (var i=0;i<arr_price.length;i++) {
                if(arr_price[i].value == '') {
                    var n = i+1;
                    parent.layer.alert('商品详情第'+n+'行商品单价不能为空',{icon: 2});
                    return;
                }
            }

            document.getElementById("myform").submit();
        }
        var iframIndex ;
        function getServiceMeets(){
            //iframe层
            iframIndex = parent.layer.open({

                type: 2,
                title: '选择预约服务单信息',
                shadeClose: true,
                shade: 0.8,
                area: ['80%', '90%'],
                content: '/jinquan/service_meet_select', //iframe的url
                success: function(layero, index){
                },
                close: function(d){
                }
            });
        }

        var iframIndex1 ;
        function getWares(index){
            //iframe层
            iframIndex1 = parent.layer.open({

                type: 2,
                title: '选择商品',
                shadeClose: true,
                shade: 0.8,
                area: ['80%', '90%'],
                content: '/jinquan/wares_select?index='+index, //iframe的url
                success: function(layero, index){

                },
                close: function(d){

                }
            });
        }
        function getPrices(index)
        {
            document.getElementById('prices'+index).value=  document.getElementById('price'+index).value*document.getElementById('count'+index).value
        }
        //当前商品显示位置
        var waresIndex = 0;
        //table中增加需要添加的行信息
        function addTr(){
            //获取表格对象
            var table=document.getElementById("waresTable");
            //获取当前行数
            waresIndex = $("#waresTable tr").length;
            var row=table.insertRow(waresIndex);
            var cell1=row.insertCell(0);//商品名称
            var cell2=row.insertCell(1);//商品编号
            var cell3=row.insertCell(2);//采购数量
            var cell4=row.insertCell(3);//商品单价
            var cell5=row.insertCell(4);//商品单价
            var cell6=row.insertCell(5);//删除本行
            var cell7=row.insertCell(6);//商品id
            cell1.innerHTML = '<input id="proname'+waresIndex+'"  name="proname" type="text" class="input5 input_arr" onfocus="getWares('+waresIndex+')"/>';
            cell2.innerHTML='<input id="proNo'+waresIndex+'" name="proNo" type="text" class="input5 input_arr" readonly="true"/>';
            cell3.innerHTML='<input id="count'+waresIndex+'" name="count" type="text" class="input5 input_arr" />';
            cell4.innerHTML='<input id="price'+waresIndex+'" name="price" type="text"   onblur="getPrices('+waresIndex+')" class="input5 input_arr" />';
            cell5.innerHTML='<input id="prices'+waresIndex+'" name="prices" type="text"  readonly="true"  class="input5 input_arr" />';
            cell7.innerHTML='<input id="proId'+waresIndex+'" name="proId" type="hidden" class="input5 input_arr" />';
            cell6.innerHTML='<a style="cursor: pointer" onclick="javaScript:delTr(this)"><h1>-</h1></a>';
        }
        //table中删除选中的行数据
        function delTr(delObj){
            var deltr = delObj.parentNode.parentNode;
            $('#waresTable tr:eq('+deltr.rowIndex+')').remove();
        }
    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：新增护理服务单信息
    </div>
    <div class="zhuxiao"><a href="#" class="zx_sty"></a></div>
</div>
<div class="center_con">
    <form method="post" id="myform" action="/jinquan/nurs_service_add">
        <table width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <!-- 基本信息 -->
            <tr>
                <td colspan="4" align="left">基本信息：</td>
            </tr>
            <tr>
                <td class="regTd_l">预约服务单号：</td>
                <td class="regTd_r"><input id="serviceMeetId" name="serviceMeetId"  type="text" class="input5" onfocus="getServiceMeets()" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">服务日期：</td>
                <td class="regTd_r"><input id="serviceDate" name="serviceDate" type="text" class="input5" readonly="true"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">姓名：</td>
                <td class="regTd_r"><input id="name" name="name" type="text" class="input5"  readonly="true"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">电话：</td>
                <td class="regTd_r"><input id="tel" name="tel" type="text" class="input5"  readonly="true"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">服务地点：</td>
                <td class="regTd_r">
                    <select  id="serviceType" name="serviceType" disabled="true">
                        <option value="1">店内</option>
                        <option value="2">上门</option>
                    </select> &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">服务地址：</td>
                <td class="regTd_r"><input id="address" name="address" type="text" class="input5" readonly />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">开始时间：</td>
                <td class="regTd_r"><input id="startTime" name="startTime" type="text" class="input5"  onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"  />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">截止时间：</td>
                <td class="regTd_r"><input id="endTime" name="endTime" type="text" class="input5" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"   />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <!-- 近期哺乳相关 -->
            <tr>
                <td colspan="4" align="left">近期哺乳相关：</td>
            </tr>
            <tr>
                <td class="regTd_l">服务需求：</td>
                <td class="regTd_r"><input id="serviceNeeds" name="serviceNeeds" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">大便次数：</td>
                <td class="regTd_r"><input id="bowelFrequenc" name="bowelFrequencc" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">做过何种处理：</td>
                <td class="regTd_r"><input id="deal" name="deal" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">形状：</td>
                <td class="regTd_r"><input id="shape" name="shape" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">喂养情况：</td>
                <td class="regTd_r"><input id="feedSituation" name="feedSituation" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">尿量：</td>
                <td class="regTd_r"><input id="urination" name="urination" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">喂养备注：</td>
                <td class="regTd_r"><input id="feedRemark" name="feedRemark" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">挤奶情况：</td>
                <td class="regTd_r"><input id="milkSituation" name="milkSituation" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">宝宝目前月龄：</td>
                <td class="regTd_r"><input id="childCurrentMonths" name="childCurrentMonths" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">挤奶次数：</td>
                <td class="regTd_r"><input id="milkNumber" name="milkNumber" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">目前身高：</td>
                <td class="regTd_r"><input id="childCurrentHeight" name="childCurrentHeight" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">挤奶总量：</td>
                <td class="regTd_r"><input id="milkAmount " name="milkAmount" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">目前体重：</td>
                <td class="regTd_r"><input id="childCurrentWeight" name="childCurrentWeight" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">吸奶器品牌：</td>
                <td class="regTd_r"><input id="breastpumpBrand" name="breastpumpBrand" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>

            <tr>
                <td colspan="4" align="left">服务信息：</td>
            </tr>
            <tr>
                <td class="regTd_l">是否观察哺乳：</td>
                <td class="regTd_r"><input id="isCarefulNurse" name="isCarefulNurse" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">转诊建议：</td>
                <td class="regTd_r"><input id="referralAdvise" name="referralAdvise" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">诊断结果：</td>
                <td class="regTd_r">
                    <input id="diagnosis1" name="diagnosis" type="checkbox" value="diagnosis1"/>诊断1
                    <input id="diagnosis2" name="diagnosis" type="checkbox"  value="diagnosis2"/>诊断2
                    <input id="diagnosis3" name="diagnosis" type="checkbox"  value="diagnosis3"/>诊断3
                    <span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">特殊说明：</td>
                <td class="regTd_r"><input id="specialInstructions" name="specialInstructions" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">宝宝原因：</td>
                <td class="regTd_r">
                    <input id="childReason1" name="childReason" type="checkbox" value="childReason1"/>宝宝原因1
                    <input id="childReason2" name="childReason" type="checkbox"  value="childReason2"/>宝宝原因2
                    <input id="childReason3" name="childReason" type="checkbox"  value="childReason3"/>宝宝原因3
                    <span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">乳房示意图说明：</td>
                <td class="regTd_r"><input id="breastExplain" name="breastExplain" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">妈妈原因：</td>
                <td class="regTd_r">
                    <input id="motherReason1" name="motherReason" type="checkbox" value="motherReason1"/>妈妈原因1
                    <input id="motherReason2" name="motherReason" type="checkbox"  value="motherReason2"/>妈妈原因2
                    <input id="motherReason3" name="motherReason" type="checkbox"  value="motherReason3"/>妈妈原因3
                    <span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">离店建议：</td>
                <td class="regTd_r"><input id="leaveAdvise" name="leaveAdvise" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">其他原因：</td>
                <td class="regTd_r">
                    <input id="otherReason1" name="otherReason" type="checkbox" value="otherReason1"/>其他原因1
                    <input id="otherReason2" name="otherReason" type="checkbox"  value="otherReason2"/>其他原因2
                    <input id="otherReason3" name="otherReason" type="checkbox"  value="otherReason3"/>其他原因3
                    <span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">是否带实习技师：</td>
                <td class="regTd_r"><input id="isLeadTrainee" name="isLeadTrainee" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">是否预约二次：</td>
                <td class="regTd_r"><input id="whetherAppointmentAgain" name="whetherAppointmentAgain" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">实习技师姓名：</td>
                <td class="regTd_r"><input id="traineeName" name="traineeName" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
        </table>
        <!--商品信息 start-->
        <span style="float: left; font-weight:bold;width: 100px;"><h3>商品信息</h3></span>
        <br>
        <table id="waresTable" width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <tr bgcolor="lightblue">
                <td>商品名称</td>
                <td>商品编号</td>
                <td>选购数量</td>
                <td>商品单价</td>
                <td>小计</td>
                <td><a style="cursor: pointer" onclick="javaScript:addTr()"><h1>+</h1></a></td>
            </tr>
        </table>
    </form>
    <div class="reg_but">
        <div class="rb_l"><a href="javascript:;" onclick="submitForm()" class="reset"></a></div>
        <div class="rb_l"><a href="/jinquan/nurs_service_list" class="close"></a></div>
    </div>


</div>
</body>
</html>
