<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>添服务单维护</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">
        function submitForm(){
            var serialNumber = document.getElementById("serialNumber").value;
            if (!serialNumber || name.serialNumber == 0) {
                alert('服务单号不能为空');
                return;
            }
            document.getElementById("myform").submit();
        }
    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：服务单维护
    </div>
    <div class="zhuxiao"><a href="#" class="zx_sty"></a></div>
</div>
<div class="center_con">
    <form method="post" id="myform" action="/jinquan/nurs_service_add">
        <table width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <!-- 基本信息 -->
            <tr>
                <td colspan="4" align="left">基本信息：</td>
            </tr>
            <tr>
                <td class="regTd_l">预约服务单号：</td>
                <td class="regTd_r"><input id="serialNumber" name="serialNumber" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">服务日期：</td>
                <td class="regTd_r"><input id="serviceDate" name="serviceDate" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">姓名：</td>
                <td class="regTd_r"><input id="name" name="name" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">电话：</td>
                <td class="regTd_r"><input id="tel" name="tel" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">开始时间：</td>
                <td class="regTd_r"><input id="startTime" name="startTime" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">截止时间：</td>
                <td class="regTd_r"><input id="endTime" name="endTime" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">服务地点：</td>
                <td class="regTd_r">
                    <select  id="serviceType" name="serviceType">
                        <option value="1">店内</option>
                        <option value="2">上门</option>
                    </select> &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">服务地址：</td>
                <td class="regTd_r"><input id="address" name="address" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>

            <!-- 近期哺乳相关 -->
            <tr>
                <td colspan="4" align="left">近期哺乳相关：</td>
            </tr>
            <tr>
                <td class="regTd_l">服务需求：</td>
                <td class="regTd_r"><input id="serviceNeeds" name="serviceNeeds" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">大便次数：</td>
                <td class="regTd_r"><input id="bowelFrequenc" name="bowelFrequencc" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">做过何种处理：</td>
                <td class="regTd_r"><input id="deal" name="deal" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">形状：</td>
                <td class="regTd_r"><input id="shape" name="shape" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">喂养情况：</td>
                <td class="regTd_r"><input id="feedSituation" name="feedSituation" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">尿量：</td>
                <td class="regTd_r"><input id="urination" name="urination" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">喂养备注：</td>
                <td class="regTd_r"><input id="feedRemark" name="feedRemark" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">挤奶情况：</td>
                <td class="regTd_r"><input id="milkSituation" name="milkSituation" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">宝宝目前月龄：</td>
                <td class="regTd_r"><input id="childCurrentMonths" name="childCurrentMonths" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">挤奶次数：</td>
                <td class="regTd_r"><input id="milkNumber" name="milkNumber" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">目前身高：</td>
                <td class="regTd_r"><input id="childCurrentHeight" name="childCurrentHeight" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">挤奶总量：</td>
                <td class="regTd_r"><input id="milkAmount " name="milkAmount" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">目前体重：</td>
                <td class="regTd_r"><input id="childCurrentWeight" name="childCurrentWeight" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">吸奶器品牌：</td>
                <td class="regTd_r"><input id="breastpumpBrand" name="breastpumpBrand" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>

            <tr>
                <td colspan="4" align="left">服务信息：</td>
            </tr>
            <tr>
                <td class="regTd_l">是否观察哺乳：</td>
                <td class="regTd_r"><input id="isCarefulNurse" name="isCarefulNurse" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">转诊建议：</td>
                <td class="regTd_r"><input id="referralAdvise" name="referralAdvise" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">诊断结果：</td>
                <td class="regTd_r">
                    <input id="diagnosis1" name="diagnosis" type="checkbox" value="diagnosis1"/>诊断1
                    <input id="diagnosis2" name="diagnosis" type="checkbox"  value="diagnosis2"/>诊断2
                    <input id="diagnosis3" name="diagnosis" type="checkbox"  value="diagnosis3"/>诊断3
                    <span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">特殊说明：</td>
                <td class="regTd_r"><input id="specialInstructions" name="specialInstructions" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">宝宝原因：</td>
                <td class="regTd_r">
                    <input id="childReason1" name="childReason" type="checkbox" value="childReason1"/>宝宝原因1
                    <input id="childReason2" name="childReason" type="checkbox"  value="childReason2"/>宝宝原因2
                    <input id="childReason3" name="childReason" type="checkbox"  value="childReason3"/>宝宝原因3
                    <span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">乳房示意图说明：</td>
                <td class="regTd_r"><input id="breastExplain" name="breastExplain" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">妈妈原因：</td>
                <td class="regTd_r">
                    <input id="motherReason1" name="motherReason" type="checkbox" value="motherReason1"/>妈妈原因1
                    <input id="motherReason2" name="motherReason" type="checkbox"  value="motherReason2"/>妈妈原因2
                    <input id="motherReason3" name="motherReason" type="checkbox"  value="motherReason3"/>妈妈原因3
                    <span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">离店建议：</td>
                <td class="regTd_r"><input id="leaveAdvise" name="leaveAdvise" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">其他原因：</td>
                <td class="regTd_r">
                    <input id="otherReason1" name="otherReason" type="checkbox" value="otherReason1"/>其他原因1
                    <input id="otherReason2" name="otherReason" type="checkbox"  value="otherReason2"/>其他原因2
                    <input id="otherReason3" name="otherReason" type="checkbox"  value="otherReason3"/>其他原因3
                    <span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">是否带实习技师：</td>
                <td class="regTd_r"><input id="isLeadTrainee" name="isLeadTrainee" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">是否预约二次：</td>
                <td class="regTd_r"><input id="whetherAppointmentAgain" name="whetherAppointmentAgain" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">实习技师姓名：</td>
                <td class="regTd_r"><input id="traineeName" name="traineeName" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <!-- 所选商品 -->
            <tr>
                <td colspan="4" align="left">所选商品：</td>
            </tr>
            <tr>
                <td colspan="4" style="width:100%;">
                    <table style="width:60%;" class="reg_table"border="0" cellspacing="0" cellpadding="0">
                        <tr bgcolor="lightblue">
                            <td>商品名称</td>
                            <td>单价</td>
                            <td>数量</td>
                            <td>小计</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>
    <div class="reg_but">
        <div class="rb_l"><a href="javascript:;" onclick="submitForm()" class="reset"></a></div>
        <div class="rb_l"><a href="/jinquan/nurs_service_list" class="close"></a></div>
    </div>


</div>
</body>
</html>
