<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/global.css" rel="stylesheet" type="text/css" />
<link href="css/index.css" rel="stylesheet" type="text/css" />
<style type="text/css"> 
html,body{height:100%;padding:0;margin:0;}
</style>
</head>

<body>
<div class="r_top">
 <div class="weizhi">
  当前位置：平台广告
 </div>
 <div class="zhuxiao"><a href="#" class="zx_sty"></a></div>
</div>
<div class="center_con">

  <div class="guanggao">
    <div class="gg_0">
     <div class="gg_0_left">选择接收的对象：</div> 
     <div class="gg_0_right">
     <select name="" class="select1">
       <option value="全部商户">全部商户</option>
     </select>
      </div> 
    </div>
    <div class="gg_1">
      <div class="gg_1_left">输入要发送的内容：</div> 
      <div class="gg_1_right"><textarea name=""  cols="55" rows="15" class="text1"></textarea></div> 
    </div>
    <div class="clear"></div>
 <div class="gg_2"><a href="#" class="bsty3"></a></div>
  </div>
   <div class="clear"></div>
</div>
</body>
</html>
