<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>金泉会所</title>
    <link href="../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../css/login.css" rel="stylesheet" type="text/css" />
    <script type="application/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="application/javascript" src="../../js/layer/layer.js"></script>
    <script type="application/javascript" src="../../js/laydate/laydate.js"></script>
<script type="text/javascript" src="../js/pptBox.js"></script>
    <script type="text/javascript">
        document.onkeydown=function(event){
            e = event ? event :(window.event ? window.event : null);
            if(e.keyCode==13){
                submitForm();
            }
        }

        function submitForm(){

            var shop = document.getElementById('shop').value;
            if (!shop || shop.length == 0) {
                parent.layer.alert('门店不能为空',{icon: 2});
                return;
            }

            var account = document.getElementById("account").value;
            if (!account || account.length == 0) {
                parent.layer.alert('账号不能为空',{icon: 2});
                return;
            }
            var password = document.getElementById("password").value;
            if (!password || password.length == 0) {
                parent.layer.alert('密码不能为空',{icon: 2});
                return;
            }
            document.getElementById("myform").submit();
        }
    </script>
</head>
<body>
<frameset rows="81,*,32" cols="*" framespacing="0" frameborder="no" border="0">
    <div id="l_top">
        <div style="margin:0px auto; padding:0px; width:1000px;">
            <table width="1000"  align="center" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="296" ><div class="logo"><img src="images/logo.jpg" /></div> </td>
                    <td >
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td class="l_top_c">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                    <td width="331" class="l_top_r"></td>
                </tr>
            </table>
        </div>
    </div>



    <div id="l_center">
        <div class="ppt">
            <img src="images/tu1.jpg"/>

        </div>
        <div class="dl_wai">
            <form method="post" id="myform" action="/jinquan_login">
                <div class="dl">
                    <div class="dl_0">
                        <div class="dl0_l">门 店：</div><div class="dl0_r"><input id="shop" name="shop" class="input1" /></div>
                    </div>
                    <div class="dl_0">
                        <div class="dl0_l">账 号：</div><div class="dl0_r"><input id="account" name="account" class="input1" /></div>
                    </div>
                    <div class="dl_0">
                        <div class="dl0_l">密 码：</div><div class="dl0_r"><input id="password" type="password" name="password" class="input1" /></div>
                    </div>
                    <div class="dl_bt">
                        <input onclick="submitForm()" class="button1" value=" " />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="l_bottom">金泉母乳妈妈会所 版权所有@2012</div>
</frameset>
</body>
</html>
