<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>金泉会所</title>
<link href="../css/global.css" rel="stylesheet" type="text/css" />
<link href="../css/login.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/pptBox.js"></script>
</head>
<body>
<frameset rows="81,*,32" cols="*" framespacing="0" frameborder="no" border="0">
    <div id="l_top">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="296" ><div class="logo"><img src="../images/logo.jpg" /></div> </td>
                <td >
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td class="l_top_c">&nbsp;</td>
                        </tr>
                    </table>
                </td>
                <td width="331" class="l_top_r"></td>
            </tr>
        </table>

    </div>
    <div id="l_center">
        <div class="ppt">
            <script>
                var box =new PPTBox();
                box.width = 650; //宽度
                box.height = 400;//高度
                box.autoplayer = 3;//自动播放间隔时间
                box.add({"url":"../images/tu1.jpg","href":"#","title":"悬浮提示标题1"})
                box.add({"url":"../images/tu2.jpg","href":"#","title":"悬浮提示标题2"})
                box.add({"url":"../images/tu3.jpg","href":"#","title":"悬浮提示标题3"})
                box.add({"url":"../images/tu4.jpg","href":"#","title":"悬浮提示标题4"})
                box.show();
            </script>

        </div>
        <div class="dl_wai">
            <div class="dl">
                <div class="dl_0">
                    <div class="dl0_l">账 号：</div><div class="dl0_r"><input class="input1" /></div>
                </div>
                <div class="dl_0">
                    <div class="dl0_l">密 码：</div><div class="dl0_r"><input class="input1" /></div>
                </div>
                <div class="dl_0">
                    <div class="dl0_l">验证码：</div><div class="dl0_r"><input class="input2" /></div>
                </div>
                <div class="dl_0">
                    <div class="dl0_l"></div>
                    <div class="dl0_r"><p class="l_img"><img src="../images/tu.jpg" /></p><p class="intro">看不清？<a href="#">换一张</a></p></div>
                </div>
                <div class="dl_bt">
                    <input type="submit" class="button1" onclick="javascript:window.location.href='/jinquan'" value="" />
                </div>
            </div>

        </div>
    </div>
    <div id="l_bottom">北京金禾天成科技有限公司 版权所有@2012</div>
</frameset>
</body>
</html>
