<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/global.css" rel="stylesheet" type="text/css" />
<link href="css/index.css" rel="stylesheet" type="text/css" />
<style type="text/css"> 
html,body{height:100%;padding:0;margin:0;}
</style>
</head>

<body>
<div class="r_top">
 <div class="weizhi">
  当前位置：修改密码
 </div>
 <div class="zhuxiao"><a href="#" class="zx_sty"></a></div>
</div>
<div class="center_con">

  <div class="pwd">
    <p class="pwd_0">
     <div class="pwd_0_left">旧密码：</div> 
     <div class="pwd_0_right">
       <input name="" type="text" class="input2" /> <span style="color:#ff6600">*</span>
      </div> 
    </p>
    <p class="pwd_0">
     <div class="pwd_0_left">设置新密码：</div> 
     <div class="pwd_0_right">
       <input name="" type="text" class="input2" />
      </div> 
    </p>
     <p class="pwd_0">
     <div class="pwd_0_left">再次输入新密码：</div> 
     <div class="pwd_0_right">
       <input name="" type="text" class="input2" />
      </div> 
    </p>
      <p class="pwd_0">
     <div class="pwd_0_left"></div> 
     <div class="pwd_0_right">
       <a href="#" class="determine"></a>
    </div> 
    </p>
  </div>
  <div class="clear"></div>
</div>                                                  
</body>
</html>
