<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/global.css" rel="stylesheet" type="text/css" />
<link href="css/index.css" rel="stylesheet" type="text/css" />
<style type="text/css"> 
html,body{height:100%;padding:0;margin:0;}
</style>
</head>

<body>
<div class="r_top">
 <div class="weizhi">
  当前位置：商户管理
 </div>
 <div class="zhuxiao"><a href="#" class="zx_sty"></a></div>
</div>
<div class="center_con">
<div class="butSet">
<div class="sousuo">
 <table width="100%" class="table4" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><input name="" type="text" class="input5" /></td>
    <td><a href="#" class="chaxun"></a></td>
  </tr>
</table>

</div>
    <div class="but_0"><a href="#" class="bsty0"></a></div>
    <div class="but_1"><a href="#" class="bsty2"></a></div>
    <div class="but_4"><a href="#" class="bsty4"></a></div>
    <div class="but_5"><a href="#" class="bsty5"></a></div>
</div>
<div class="tabCon">
  <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
 <tr>
    <th>商户ID</th>
    <th>商户名称</th>
    <th>施药日期</th>
    <th>接入平台时间</th>
    <th>APP应用数量</th>
    <th>状态</th>
    <th>操作</th>
  </tr>
  <tr onmouseover="this.className='f_on'" class="f_off"  onmouseout="this.className='f_off'">
    <td>普力克</td>
    <td>疫病</td>
    <td>2012-2-16</td>
    <td>72.2%</td>
    <td>EC</td>
    <td>杀菌剂</td>
    <td>
   <table width="100%" border="0" cellspacing="0" class="table_t"  cellpadding="0">
  <tr>
    <td><div align="center"><img src="images/stop.gif" width="9" height="9" />&nbsp;[<a href="#">停用</a>]</div></td>
    <td><div align="center"><img src="images/037.gif" width="9" height="9" />&nbsp;[<a href="#">编辑</a>]</div></td>
    <td><div align="center"><img src="images/start.gif" width="9" height="9" />&nbsp;[<a href="#">启用</a>]</div></td>
    <td><div align="center"><img src="images/audit.gif" width="9" height="9" />&nbsp;[<a href="#">审核</a>]</div></td>
     <td><div align="center"><img src="images/delete.gif" width="9" height="9" />&nbsp;[<a href="#">审核</a>]</div></td>
    <td><div align="center"><img src="images/role_modify.gif" width="9" height="9" />&nbsp;[<a href="#">角色修改</a>]</div></td>
  </tr>
  </table>

    </td>
   </tr>
   <tr onmouseover="this.className='f_on'" class="f_off"  onmouseout="this.className='f_off'">
    <td>普力克</td>
    <td>疫病</td>
    <td>2012-2-16</td>
    <td>72.2%</td>
    <td>EC</td>
    <td>杀菌剂</td>
    <td>
     <table width="100%" border="0" cellspacing="0" class="table_t"  cellpadding="0">
  <tr>
    <td ><div align="center"><img src="images/stop.gif" width="9" height="9" />&nbsp;[<a href="#">停用</a>]</div></td>
    <td ><div align="center"><img src="images/037.gif" width="9" height="9" />&nbsp;[<a href="#">编辑</a>]</div></td>
    <td><div align="center"><img src="images/start.gif" width="9" height="9" />&nbsp;[<a href="#">启用</a>]</div></td>
    <td><div align="center"><img src="images/audit.gif" width="9" height="9" />&nbsp;[<a href="#">审核</a>]</div></td>
    <td><div align="center"><img src="images/delete.gif" width="9" height="9" />&nbsp;[<a href="#">审核</a>]</div></td>
    <td><div align="center"><img src="images/role_modify.gif" width="9" height="9" />&nbsp;[<a href="#">角色修改</a>]</div></td>
  </tr>
  </table>
    </td>
  </tr>

</table>

</div>
</div>

</body>
</html>
