<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>编辑菜单</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">
        function submitForm(){
            /*
            var name = document.getElementById("name").value;
            if (!name || name.length == 0) {
                alert('门店名称不能为空');
                return;
            }
            var serialNumber = document.getElementById("serialNumber").value;
            if (!serialNumber || serialNumber.length == 0) {
                alert('序列号不能为空');
                return;
            }
            var tel = document.getElementById("tel").value;
            if (!tel || tel.length == 0) {
                alert('电话不能为空');
                return;
            }
            var address = document.getElementById("address").value;
            if(!address || address.length == 0) {
                alert('门店地址不能为空');
                return;
            }
            var principal = document.getElementById("principal").value;
            if (!principal || principal.length == 0) {
                alert('负责人不能为空');
                return;
            }
            */
            document.getElementById("myform").submit();
        }
    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：编辑菜单
    </div>
</div>
<div class="center_con">
    <form method="post" id="myform" action="/jinquan/sys_menu_save">
        <table width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="regTd_l">菜单中文：
                </td>
                <td class="regTd_r">
                    <input type="hidden" id="id" name="id" value="<%=sysMenu.id%>"  />
                    <input id="textCh" name="textCh" type="text" class="input5" value="<%=sysMenu.textCh%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span>
                </td>
                <td  class="regTd_l">菜单英文：</td>
                <td class="regTd_r"><input id="textEn" name="textEn" type="text" class="input5" value="<%=sysMenu.textEn%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">菜单URL：</td>
                <td class="regTd_r"><input id="url" name="url" type="text" class="input5" value="<%=sysMenu.url%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">父菜单：</td>
                <td class="regTd_r">
                    <!--
                    <input id="parentId" name="parentId" type="text" class="input5" value="<%=sysMenu.parentId%>" style="width: 70%;" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span>
                    -->
                    <select id="parentId"  name="parentId">
                        <option value="0">父菜单</option>
                        <%for(var i = 0 ; i < data.length ; i ++){
                            if(data[i].id == sysMenu.parentId){
                                %><option value="<%=data[i].id%>" selected><%=data[i].textCh%></option><%}%>
                            }else{
                                %><option value="<%=data[i].id%>" ><%=data[i].textCh%></option><%}%>
                            }
                        }

                    </select>
                </td>
            </tr>
            <tr>
                <td class="regTd_l">排序：</td>
                <td class="regTd_r"><input id="orderId" name="orderId" type="text" class="input5" value="<%=sysMenu.orderId%>" style="width: 70%;" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
        </table>
    </form>
    <div class="reg_but">
        <%
        if(show == ''){
        %><div class="rb_l"><a href="javascript:;" onclick="submitForm()" class="reset"></a></div><%
        }
        %>
        <div class="rb_l"><a href=/jinquan/sys_menu_list class="close"></a></div>
    </div>


</div>
</body>
</html>
