#top{ margin:0; padding:0; width:100%; height:81px; background:url(../images/l_0.jpg) repeat-x;}
.logo{ margin:0; padding:0; width:296px; height:81px; float:left;}
.top_r{ margin:0; padding:0; width:359px; height:81px; background:url(../images/index_1.jpg) no-repeat;}
.top_c{ margin:0; padding:0; height:81px; background: url(../images/l_2.jpg) no-repeat; min-width:383px;}
.search_wai{margin:0; padding:0; height:81px;width:359px; position:relative; }
.search{margin:0; padding:0; width:187px; height:30px; position:absolute; bottom:7px; left:75px;}
.sr_l{ margin:0; padding:0px; width:168px; height:22px; padding:4px 0px; float:left;}
.sr_r{ margin:0; padding:0px; width:17px;height:17px; padding:6px 0px; float:left;}
.input1{ margin:0; padding:0px; width:165px; height:22px; line-height:22px; font-size:12px; background:none; border:none;}
.button1{ margin:0; padding:0px; width:17px; height:17px;background:url(../images/index_2.jpg) no-repeat center; cursor:pointer; border:none;}
#leftFrame{border:1px solid #d7d7d7; border-bottom:none;}
#rightFrame{border-right:1px solid #d7d7d7;}
.tm1{ height:38px; font-size:12px; width:171px;}
.tm1 img{ margin:0; padding:0px; width:171px; height:38px; display:block;}
.menucon{ width:171px; margin-bottom:3px;}
.bigClass{ margin:0 auto; padding:0px; width:171px; height:31px; font-size:13px; color:#FFFFFF; text-align:center; line-height:31px; background:url(../images/tmbg2.jpg) no-repeat center; }
.bigClass_l{ margin:0 auto;  width:30px; padding-left:3px; float:left; padding-top:7px !important; padding-top:6px;}
.bigClass_r{ margin:0 auto;  float:left; height:30px; line-height:31px;}
.bigClass_r p{ font-size:13px; color:#2c2c2c; font-weight:bold; cursor:pointer;}
.subClass{ margin:0; padding:0px;width:171px; padding:5px 0px;  }
.subClass  a:visited,.subClass  a:link{margin:0; padding:0px; height:26px; line-height:26px; display:block;font-size:13px;background:url(../images/sub_bg_link.jpg) no-repeat center;font-size:13px; color:#575757; text-align:left; padding-left:55px; width:116px; }
a.menu_timu_on:visited, a.menu_timu_on:link{ margin:0 auto; padding:0px; padding-left:55px; width:116px; height:26px; line-height:26px; display:block; font-size:13px; color:#575757; background:url(../images/sub_bg_hover.jpg) no-repeat center; font-size:13px;}
.r_top{ margin:0; padding:0px; height:30px; background:url(../images/wz_bg.jpg) repeat-x top center; border:1px solid #d7d7d7; border-right:none; border-left:none;}
.weizhi{ margin:0; padding:0px; width:250px; float:left; height:30px; background:url(../images/wz.gif) no-repeat 10px center; font-size:12px; line-height:30px; text-align:left; padding-left:40px; font-weight:normal;}
.zhuxiao{ margin:0; padding:0px; width:75px; float:right; height:23px;  padding:3px 0px;}
a.zx_sty:visited,a.zx_sty:link{ margin:0; padding:0px; width:60px; height:23px; display:block; background:url(../images/cancel_link.jpg) no-repeat center;}
a.zx_sty:hover{ margin:0; padding:0px; width:60px; height:23px; display:block; background:url(../images/cancel_hover.jpg) no-repeat center;}
.center_con{ margin:0; padding:0px;background:url(../images/c_bg.jpg) repeat-x top center; padding:20px 15px;}
.top_sty{ padding-top:40px; height:25px; line-height:25px; text-align:right; padding-right:10px;}

.table3{border-collapse:collapse; border:1px solid #d7d7d7;font-size:12px; width:100%; text-align:center; }
.table3 th{border:1px solid #d7d7d7; height:28px; text-align:center; line-height:28px; background:url(../images/index_5.jpg) repeat-x; }
.table3 td{border:1px solid #d7d7d7; height:26px; line-height:26px;}
.table3 td a:visited,table3 td a:link{ color:#00437f; text-decoration:underline;}
.table3 td a:hover{ color:#ff6600;}
.f_on{ background:#fafafa;}
.f_off{ background:#FFFFFF;}
.tabCon{ margin:0; padding:0px; width:100%;}
.butSet{margin:0; padding:0px; width:100%; height:50px; text-align:right;}
.butSet span{ padding:0px 3px;}
#bottom{ margin:0; padding:0px; height:27px; line-height:27px; border:1px solid #d7d7d7; background:url(../images/bottome_bg.jpg) repeat-x top center;}
.sty1{ background:url(../images/nav0.gif) no-repeat 10px center; height:27px; line-height:27px; text-align:left; padding-left:35px;}
.sty2{ background:url(../images/nav1.gif) no-repeat left center; height:27px; line-height:27px; text-align:left; padding-left:25px;}
.sty3{ background:url(../images/nav2.gif) no-repeat left center; height:27px; line-height:27px; text-align:left; padding-left:25px;}
.table_t tr td{ border:none;}
/*************************新增************************/
.but_0{ margin:0; padding:0px; width:64px; height:27px; line-height:27px; float:right; padding:0px 3px;}
.but_1{ margin:0; padding:0px; width:92px; height:27px; line-height:27px; float:right; padding:0px 3px;}
.but_2{ margin:0; padding:0px; width:210px; height:27px; line-height:27px; float:right; padding:0px 3px;}
a.bsty0:link,a.bsty0:visited{margin:0; padding:0px; width:64px; height:27px; display:block; background:url(../images/add.jpg) no-repeat;}
a.bsty0:hover{margin:0; padding:0px; width:64px; height:27px; display:block; background:url(../images/add_hover.jpg) no-repeat;}
a.bsty1:link,a.bsty1:visited{margin:0; padding:0px; width:92px; height:27px; display:block; background:url(../images/bulk_add.jpg) no-repeat;}
a.bsty1:hover{margin:0; padding:0px; width:92px; height:27px; display:block; background:url(../images/bulk_add_hover.jpg) no-repeat;}
a.bsty2:link,a.bsty2:visited{margin:0; padding:0px; width:92px; height:27px; display:block; background:url(../images/export_csv.jpg) no-repeat;}
a.bsty2:hover{margin:0; padding:0px; width:92px; height:27px; display:block; background:url(../images/export_csv_hover.jpg) no-repeat;}

.select1{ margin:0 auto; padding:0px; font-family:Arial, Helvetica, sans-serif; font-size:12px; height:20px;  border:1px solid #cccccc; }
.text1{border:1px solid #cccccc;}

.guanggao{ margin:0; padding:0px; float:left; width:600px; }
.gg_0{ margin:0; padding:0px; height:25px; padding-bottom:10px;}
.gg_0_left{margin:0; padding:0px; height:25px; width:120px; float:left; text-align:right; line-height:25px; padding-right:3px;}
.gg_0_right{margin:0; padding:0px; height:25px; width:450px; float:left; line-height:25px; text-align:left;}
.gg_1{ margin:0; padding:0px; height:210px;}
.gg_1_left{margin:0; padding:0px; height:25px; width:120px; float:left; text-align:right; line-height:25px; padding-right:3px;}
.gg_1_right{margin:0; padding:0px; width:450px; float:left; text-align:left; line-height:20px;}
.select1{ width:200px; height:22px; padding:1px 0px; line-height:20px;}
.gg_2{margin:0; padding:0px; height:27px; clear:both; padding-left:123px; padding-top:10px;}
a.bsty3:link,a.bsty3:visited{margin:0; padding:0px; width:64px; height:27px; display:block; background:url(../images/send.jpg) no-repeat;}
a.bsty3:hover{margin:0; padding:0px; width:64px; height:27px; display:block;  background:url(../images/send_hover.jpg) no-repeat;}
/************修改密码****************/
.pwd{margin:0 auto; padding:0px; width:600px; }
.pwd_0{ margin:0; padding:0px; height:25px; padding-bottom:15px;}
.pwd_0_left{margin:0; padding:0px; height:25px; width:120px; float:left; text-align:right; line-height:25px; padding-right:3px;}
.pwd_0_right{margin:0; padding:0px; height:25px; width:470px; float:left; line-height:25px; text-align:left;}
.input2{margin:0; padding:0px; width:180px; height:20px; line-height:20px; font-size:12px; border:1px solid #bec7d8;}
/************注册****************/
.reg_table tr td{ height:25px; line-height:25px;padding:5px 0px;}
.regTd_l{ text-align:right; padding-right:5px; width:150px;}
.regTd_r{ text-align:left;}
.input5{ margin:0 auto; padding:0px;width:150px; font-family:"宋体"; font-size:12px;  height:20px; line-height:20px;   border:1px solid #bec7d8; }
a.reset:link,a.reset:visited{margin:0; padding:0px; width:64px; height:27px; display:block; background:url(../images/reset.jpg) no-repeat;}
a.reset:hover{margin:0; padding:0px; width:64px; height:27px; display:block; background:url(../images/reset_hover.jpg) no-repeat;}
a.close:link,a.close:visited{margin:0; padding:0px; width:64px; height:27px; display:block; background:url(../images/close.jpg) no-repeat;}
a.close:hover{margin:0; padding:0px; width:64px; height:27px; display:block; background:url(../images/close_hover.jpg) no-repeat;}
.reg_but{margin:0 auto; padding:0px; height:30px; text-align:center; width:200px;}
.rb_l{margin:0; padding:0px; width:64px; height:27px; padding:0px 10px; float:left;}
.rb_r{margin:0; padding:0px; width:64px; height:27px; padding:0px 10px; float:left;}
a.determine:link,a.determine:visited{margin:0; padding:0px; width:64px; height:27px; display:block; background:url(../images/determine.jpg) no-repeat;}
a.determine:hover{margin:0; padding:0px; width:64px; height:27px; display:block; background:url(../images/determine_hover.jpg) no-repeat;}
.welcome{ margin:0 auto; padding:0px; width:100%; height:400px; background:url(../images/welcome.jpg) no-repeat center center;}
.sousuo{margin:0 auto; padding:0px; height:27px; float:left;}
.table4{ width:100%; text-align:center;}
.table4 tr td{ height:27px; line-height:27px;}
a.chaxun:link,a.chaxun:visited{margin:0; padding:0px; width:64px; height:27px; display:block; background:url(../images/chaxun.jpg) no-repeat;}
a.chaxun:hover{margin:0; padding:0px; width:64px; height:27px; display:block; background:url(../images/chaxun_hover.jpg) no-repeat;}


/************************商户信息*************************/
.table5 tr td{padding:0px 5px;}
.bus_top{margin:0; padding:0px;width:100%; height:120px;}
.bus_bot{margin:0; padding:0px;width:100%; height:100%; margin-top:10px; border-top:1px dashed #d6d6d6; padding-top:15px;}
.hsty1{ text-align:left; font-size:18px; line-height:30px;}
.bas_0{ width:300px; line-height:22px; text-align:left; border:1px solid #d6d6d6; padding:7px 8px; font-size:13px;}
.bas_0 P{ line-height:22px;}
.sty4{ color:#0489b6; font-weight:bold;}
.bas_1{ width:100%; border:1px solid #d6d6d6; height:80px;}
.hsty2{ font-size:13px; height:22px; line-height:22px; background:#efefef; color:#6d7182; text-align:left; padding-left:5px;}
.bas_1_con{ height:55px; text-align:left; padding:5px;}
.bas_1_con img{ heigth:45px; width:45px; display:block; float:left; padding:0px 2px;}
.bas_2{ width:100px; border:1px solid #d6d6d6;height:80px;}
.bas_2 p{ line-height:30px; font-size:20px; padding-top:10px;}
.hsty3{ text-align:left; font-size:14px; line-height:35px; padding-top:5px;}
.bus_b{ width:100%; border:1px solid #d6d6d6;}
.bus_b_con{text-align:left; padding:5px;}
.gg{ margin:0px; padding:0px; list-style-type:none;}
.gg li{margin:0px; padding:0px; list-style-type:none; width:65px; height:75px; float:left; text-align:center;}
.gg li img{ width:50px; height:50px; display:block; margin:0 auto; padding:0px;}
.gg li p{ height:20px; line-height:20px; text-align:center;}
.aa{margin:0px; padding:0px; list-style-type:none; padding:0px 5px;}
.aa li{ line-height:22px; text-align:left;}
.fr{ float:right;}

.but_4{ margin:0; padding:0px; width:64px; height:27px; line-height:27px; float:right; padding:0px 3px;}
.but_5{ margin:0; padding:0px; width:92px; height:27px; line-height:27px; float:right; padding:0px 3px;}
a.bsty4:link,a.bsty4:visited{margin:0; padding:0px; width:64px; height:27px; display:block; background:url(../images/back.jpg) no-repeat;}
a.bsty4:hover{margin:0; padding:0px; width:64px; height:27px; display:block; background:url(../images/back_hover.jpg) no-repeat;}
a.bsty5:link,a.bsty5:visited{margin:0; padding:0px; width:92px; height:27px; display:block; background:url(../images/deleteAll.jpg) no-repeat;}
a.bsty5:hover{margin:0; padding:0px; width:92px; height:27px; display:block; background:url(../images/deleteAll_hover.jpg) no-repeat;}


/***********************CSS 引用的分页风格 一**************************/
DIV.black2 {
    PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 7px; MARGIN: 3px; PADDING-TOP: 7px; TEXT-ALIGN: right
}
DIV.black2 A {
    BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #000000 1px solid; TEXT-DECORATION: none
}
DIV.black2 A:hover {
    BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; COLOR: #fff; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #000
}
DIV.black2 A:active {
    BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; COLOR: #fff; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #000
}
DIV.black2 SPAN.current {
    BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #000000 1px solid; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #000000
}
DIV.black2 SPAN.disabled {
    BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #eee 1px solid; COLOR: #ddd; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid
}



.error{ margin:0 auto; padding:0px; width:400px; padding-top:50px; height:200px;}
.errorSty1{ font-size:16px; text-align:left; color:#eb8636; font-weight:bold;}


/*********课程表样式***********/

table {
    border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;
}
.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

}

/*.bordered tr td:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}*/

.bordered td, .bordered th {
    border-left: 1px solid #ccc;

    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eeeeee);
    background-image:    -moz-linear-gradient(top, #f5f5f5, #eeeeee);
    background-image:     -ms-linear-gradient(top, #f5f5f5, #eeeeee);
    background-image:      -o-linear-gradient(top, #f5f5f5, #eeeeee);
    background-image:         linear-gradient(top, #f5f5f5, #eeeeee);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.borderedblue th {
    background-color: #f8f8f8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f8f8f8));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f8f8f8);
    background-image:    -moz-linear-gradient(top, #f8f8f8, #f8f8f8);
    background-image:     -ms-linear-gradient(top, #f8f8f8, #f8f8f8);
    background-image:      -o-linear-gradient(top, #f8f8f8, #f8f8f8);
    background-image:         linear-gradient(top, #f8f8f8, #f8f8f8);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}
.bordered tr td{ color:#333;}
.classDefault{ background: #ffffff;}
.classBlue{ background:#7097ee;}
.classViolet{ background:#ba7bcc;}
.classGreen{ background:#70c370;}
.classRed{ background:#ed5565;}
.notes{margin:0px; padding:0px; list-style-type:none; height:40px; clear:both;}
.noteUi{ margin:0px; padding:0px; list-style-type:none; width:600px; float:right;}
.noteUi li{ display:inline-block; float: right; font-family:12px; height:35px; line-height:35px;}
.noteUi  li span{ display:inline-block; width:8px; height:8px;  background:#F00; margin-right:5px;margin-left:10px;}
.noteUi  li  span.color1{ background:#7097ee;}
.noteUi  li  span.color2{ background:#ba7bcc;}
.noteUi  li  span.color3{ background:#70c370;}
.noteUi  li  span.color4{ background:#ed5565;}
.addClass{ display:block;font-size:15px; color:#333; background:#FFF; border:1px solid #063; width:15px; height:15px; line-height:15px;}
.button2{ height:35px; float:left; width:100px;}
/*按钮样式*/
.button{
    width: 100px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    color: #fff;

    border-radius: 2px;

    position: relative;
    overflow: hidden;
    cursor:pointer;
}
.searchBut{
    width: 60px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    color: #fff;

    border-radius: 2px;


    overflow: hidden;
    cursor:pointer; margin-left:15px;}
.button.gray{
    color: #8c96a0;

    border:1px solid #dce1e6;

    background: -webkit-linear-gradient(top,#f2f3f7,#e4e8ec);
    background: -moz-linear-gradient(top,#f2f3f7,#e4e8ec);
    background: linear-gradient(top,#f2f3f7,#e4e8ec);
}
.gray:hover{
    background: -webkit-linear-gradient(top,#fefefe,#ebeced);
    background: -moz-linear-gradient(top,#f2f3f7,#ebeced);
    background: linear-gradient(top,#f2f3f7,#ebeced);
}
.gray:active{
    top:1px;
    background: -webkit-linear-gradient(top,#e4e8ec,#e4e8ec);
    background: -moz-linear-gradient(top,#e4e8ec,#e4e8ec);
    background: linear-gradient(top,#e4e8ec,#e4e8ec);
}

.button.feise{
    color: #fff;
    border:1px solid #e44f81;
    background: -webkit-linear-gradient(top,#f66294,#f66294);
    background: -moz-linear-gradient(top,#f66294,#f66294);
    background: linear-gradient(top,#f66294,#f66294);
}
.feise:hover{
    background: -webkit-linear-gradient(top,#ff6c9e,#ff6c9e);
    background: -moz-linear-gradient(top,#ff6c9e,#ff6c9e);
    background: linear-gradient(top,#ff6c9e,#ff6c9e);
}
.feise:active{
    top:1px;

    background: -webkit-linear-gradient(top,#e25081,#e25081);
    background: -moz-linear-gradient(top,#e25081,#e25081);
    background: linear-gradient(top,#e25081,#e25081);
}

/*下拉框样式*/

.btn-select {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 25px;
    line-height:25px;
    background-color: #fff; border:2px solid #f66294;
    color: #333;
    font: 14px/20px "Microsoft YaHei";
}
.btn-select .cur-select {
    position: absolute;
    display: block;
    width: 170px;
    height: 25px;
    line-height:25px;
    background: url(../images/ico-arrow.png) no-repeat 155px center;
    text-indent: 6px;
    font: 14px/20px "Microsoft YaHei";
    color: #333;
    line-height:25px;
}

.btn-select select {
    position: absolute;
    top: 2px;
    left: 0;
    width: 172px;
    height: 25px; line-height:25px;
    opacity: 0;
    filter: alpha(opacity: 0;);
    font: 14px/20px "Microsoft YaHei";
    color: #333; background:#FFF;
}
.btn-select select option {
    text-indent: 10px; border:1px solid #030;
}
.btn-select select option:hover {
    background-color: #fff;
    color: #333;
}

/*******内训*****/
.input6{ border:1px solid #dcdcdc; width:200px; height:25px; line-height:25px;font: 12px/20px "Microsoft YaHei"; color:#333; padding-left:5px; }
.tablebox{ margin:0 auto; padding:0px;}
.tablebox  tr td {line-height:35px; padding:2px; white-space:nowrap; text-align:left}
.lineSty{border:1px dashed #e2e2e2;border-bottom:0;border-right:0;border-left:0; margin-top:10px; margin-bottom:10px;}
.nx1{ margin:10px 0px; text-align:left; display:block; clear:both;}
.textarea1{ margin:0px; padding:0px;border:1px solid #dcdcdc;line-height:25px;font: 12px/20px "Microsoft YaHei"; padding-left:5px; }
a.addyg:link,a.addyg:visited{ margin:0px auto; display:inline-block; margin-right:10px; background:#FFF; padding:3px 15px; line-height:25px;font: 12px/20px "Microsoft YaHei"; color:333px; border:1px solid #e8e8e8;}
a.addyg:hover{ background:#fcfcfc; color:#333; border:1px solid #f66294;}
a.deleteyg:link,a.deleteyg:visited{ margin:0px auto; display:inline-block;margin-right:10px; background:#FFF; padding:3px 15px; line-height:25px;font: 12px/20px "Microsoft YaHei"; color:333px; border:1px solid #e8e8e8;}
a.deleteyg:hover{ background:#fcfcfc; color:#333; border:1px solid #f66294;}
.select2{ margin:0 auto; padding:0px; font-family:Arial, Helvetica, sans-serif; font-size:12px; height:25px;border:1px solid #cccccc; }
.select2 option{ line-height:25px;}
.searchbox{ position:relative; width:100%; }

/********系统用户、角色和所属门店用页签样式*******/
*{margin:0;padding:0;}
body{font-size:14px;font-family:"Microsoft YaHei";}
ul,li{list-style:none;}

#tab{position:relative;}
#tab .tabList ul li{
    float:left;
    background:#fefefe;
    background:-moz-linear-gradient(top, #fefefe, #ededed);
    background:-o-linear-gradient(left top,left bottom, from(#fefefe), to(#ededed));
    background:-webkit-gradient(linear,left top,left bottom, from(#fefefe), to(#ededed));
    border:1px solid #ccc;
    padding:5px 0;
    width:100px;
    text-align:center;
    margin-left:-1px;
    position:relative;
    cursor:pointer;
}
#tab .tabCon{
    position:absolute;
    left:-1px;
    top:32px;
    border:1px solid #ccc;
    border-top:none;
    width: 60%;
    height:300px;
}
#tab .tabCon div{
    padding:10px;
    position:absolute;
    opacity:0;
    filter:alpha(opacity=0);
}
#tab .tabList li.cur{
    border-bottom:none;
    background:#fff;
}
#tab .tabCon div.cur{
    opacity:1;
    filter:alpha(opacity=100);
}

/**********系统用户中角色与关联门店样式***********/
*{margin:0; padding:0;}
/*ul,li{ list-style:none;}*/
.main{ width:80%; border:1px solid #ccc; float:left;font-size:12px;}
/*.main ul{ float:left; height:28px; line-height:28px; border-bottom:1px solid #ccc;width:100%;}*/
/*.main ul li{ float:left; width:80px; text-align:center; border-right:1px solid #ccc; }*/
.main ul li.hover{ color:red; font-weight:900;}
.mainbox{float:left;width:100%;}
.subbox{ padding:20px;}

/***********首页top部分四个菜单样式***********************/
#nav{ margin:0px auto; padding:0px; list-style-type:none; width:350px; margin-top:38px;}
#nav li{ margin:0px; padding:0px; width:80px; height:34px; float:left; line-height:30px; margin-right:6px;}
#nav li a:link,#nav li a:visited{ margin:0px; padding:0px; width:80px; height:30px; font-size:15px; border:2px solid #f56394; border-bottom:none; background:#FFF; display:block;}
#nav li a:hover{ background:#f56394; color:#FFF; font-weight:bold;}
#nav li a.active{ background:#f56394; color:#FFF; font-weight:bold;}