<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>编辑系统用户</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">
        function submitForm(){
            var userName = document.getElementById("userName").value;
            if (!userName || userName.length == 0) {
                alert('登陆名不能为空');
                return;
            }
            document.getElementById("myform").submit();
        }
    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：编辑系统用户
    </div>
    <div class="zhuxiao"><a href="#" class="zx_sty"></a></div>
</div>
<div class="center_con">
    <form method="post" id="myform" action="/jinquan/sys_user_save">
        <table width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="regTd_l">登陆名称：</td>
                <td class="regTd_r">
                    <input type="hidden" id="id" name="id" value="<%=sysUser.id%>"/>
                    <input id="userName" name="userName" type="text" class="input5" value="<%=sysUser.userName%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span>
                </td>
                <td class="regTd_l">登陆密码：</td>
                <td class="regTd_r"><input id="password" name="password" type="text" class="input5" value="<%=sysUser.password%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">所属门店：</td>
                <td class="regTd_r"><input id="shopId" name="shopId" type="text" class="input5" value="<%=sysUser.shopId%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">员工id：</td>
                <td class="regTd_r"><input id="staffId" name="staffId" type="text" class="input5" value="<%=sysUser.staffId%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
        </table>
        <!--角色信息 start-->
        <span style="float: left; font-weight:bold;width: 120px;"><h3>角色列表</h3></span>
        <br>
        <table id="roleTable" width="60%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <tr bgcolor="lightblue">
                <td width="5%"><input type="checkbox"/></td>
                <td width="10%">角色名称</td>
                <td width="70%">角色描述</td>
            </tr>
            <!-- 遍历所有角色，然后对已经选择的角色默认选中处理-->
            <% for (var i=0;i<data.data.length;i++) {%>
            <tr onmouseover="this.className='f_on'" class="f_off"  onmouseout="this.className='f_off'">
                <td><input type="checkbox" name="roleId" value="<%=data.data[i].id%>"/></td>
                <td><%=data.data[i].name%></td>
                <td><%=data.data[i].describe%></td>
            </tr>
            <%}%>
        </table>
        <!--角色信息 end-->
    </form>
    <div class="reg_but">
        <%
        if(show == ''){
        %><div class="rb_l"><a href="javascript:;" onclick="submitForm()" class="reset"></a></div><%
        }
        %>
        <div class="rb_l"><a href=/jinquan/sys_user_list" class="close"></a></div>
    </div>


</div>
</body>
</html>
