<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>编辑系统用户</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">
        function submitForm(){
            var userName = document.getElementById("userName").value;
            if (!userName || userName.length == 0) {
                alert('登陆名不能为空');
                return;
            }
            document.getElementById("myform").submit();
        }
        $(document).ready(function(){
            var oDiv = document.getElementById("tab");
            var oLi = oDiv.getElementsByTagName("div")[0].getElementsByTagName("li");
            var aCon = oDiv.getElementsByTagName("div")[1].getElementsByTagName("div");
            var timer = null;
            for (var i = 0; i < oLi.length; i++) {
                oLi[i].index = i;
                oLi[i].onmouseover = function() {
                    show(this.index);
                }
            }
            function show(a) {
                index = a;
                var alpha = 0;
                for (var j = 0; j < oLi.length; j++) {
                    oLi[j].className = "";
                    aCon[j].className = "";
                    aCon[j].style.opacity = 0;
                    aCon[j].style.filter = "alpha(opacity=0)";
                }
                oLi[index].className = "cur";
                clearInterval(timer);
                timer = setInterval(function() {
                            alpha += 2;
                            alpha > 100 && (alpha = 100);
                            aCon[index].style.opacity = alpha / 100;
                            aCon[index].style.filter = "alpha(opacity=" + alpha + ")";
                            alpha == 100 && clearInterval(timer);
                        },
                        5)
            }
        })
    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：编辑系统用户
    </div>
    <div class="zhuxiao"><a href="#" class="zx_sty"></a></div>
</div>
<div class="center_con">
    <form method="post" id="myform" action="/jinquan/sys_user_save">
        <table width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="regTd_l">登陆名称：</td>
                <td class="regTd_r">
                    <input type="hidden" id="id" name="id" value="<%=sysUser.id%>"/>
                    <input id="userName" name="userName" type="text" class="input5" value="<%=sysUser.userName%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span>
                </td>
                <td class="regTd_l">登陆密码：</td>
                <td class="regTd_r"><input id="password" name="password" type="text" class="input5" value="<%=sysUser.password%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">所属门店：</td>
                <td class="regTd_r"><input  type="text" class="input5" readonly value="<%=sysUser.shopId%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">员工id：</td>
                <td class="regTd_r"><input id="staffId" name="staffId" type="text" class="input5" value="<%=sysUser.staffId%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
        </table>
        <!-- 代码 begin -->
        <div id="tab" >
            <div class="tabList">
                <ul>
                    <li class="cur">关联角色</li>
                    <li>关联机构</li>
                </ul>
            </div>
            <div class="tabCon">
                <div class="cur">
                    <!--角色信息 start-->
                    <table id="roleTable" width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
                        <tr bgcolor="lightblue">
                            <td width="5%"><input type="checkbox"/></td>
                            <td width="10%">角色名称</td>
                            <td width="70%">角色描述</td>
                        </tr>
                        <!-- 遍历所有角色，然后对已经选择的角色默认选中处理-->
                        <% for (var i=0;i<data.data.length;i++) {%>
                        <tr onmouseover="this.className='f_on'" class="f_off"  onmouseout="this.className='f_off'">
                            <%
                            var selectCheck = '';
                            for (var j=0;j<data.roleResults.length;j++) {
                            if(data.roleResults[j].roleId == data.data[i].id){
                            selectCheck = 'checked';
                            break;
                            }
                            %>
                            <%}%>
                            <td><input type="checkbox" name="roleId" value="<%=data.data[i].id%>" <%=selectCheck%>/></td>
                            <td><%=data.data[i].name%></td>
                            <td><%=data.data[i].describe%></td>
                        </tr>
                        <%}%>
                    </table>
                    <!--角色信息 end-->

                </div>
                <div>

                    <!--门店信息 start-->
                    <table id="roleTable" width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
                        <tr bgcolor="lightblue">
                            <td width="5%"><input type="checkbox"/></td>
                            <td width="10%">门店名称</td>
                            <td width="70%">门店地址</td>
                        </tr>
                        <!-- 遍历所有角色，然后对已经选择的角色默认选中处理-->
                        <% for (var i=0;i<shopData.shopResults.length;i++) {%>
                        <tr onmouseover="this.className='f_on'" class="f_off"  onmouseout="this.className='f_off'">
                            <%
                            var selectCheck = '';
                            for (var j=0;j<shopData.selectShopResults.length;j++) {
                            if(shopData.shopResults[i].id == shopData.selectShopResults[j].shopId){
                            selectCheck = 'checked';
                            break;
                            }
                            %>
                            <%}%>
                            <td><input type="checkbox" name="shopIds" value="<%=shopData.shopResults[i].id%>" <%=selectCheck%>/></td>
                            <td><%=shopData.shopResults[i].name%></td>
                            <td><%=shopData.shopResults[i].address%></td>
                        </tr>
                        <%}%>
                    </table>
                    <!--门店信息 end-->
                </div>
            </div>
        </div>

    </form>
    <br/><br/><br/><br/><br/><br/>
    <br/><br/><br/><br/><br/><br/>
    <br/><br/><br/><br/><br/><br/>
    <div class="reg_but">
        <%
        if(show == ''){
        %><div class="rb_l"><a href="javascript:;" onclick="submitForm()" class="reset"></a></div><%
        }
        %>
        <div class="rb_l"><a href=/jinquan/sys_user_list class="close"></a></div>
    </div>


</div>
</body>
</html>
