<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户管理</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">
        var replytype = '<%=replytype%>';
        if (replytype == 'add') {
            parent.layer.msg('增加成功');
        } else if (replytype == 'del') {
            parent.layer.msg('删除成功');
        } else if (replytype == 'update') {
            parent.layer.msg('修改成功');
        }
        //查询方法
        function search () {
            var userName = document.getElementById('userName').value;
            window.location.href = '/jinquan/sys_user_list?userName='+userName;
        }

        //跳转到编辑页面
        function preEdit (id) {
            window.location.href = '/jinquan/sys_user_add?id='+id;
        }
        //跳转到删除页面
        function del (id) {
            window.location.href = '/jinquan/sys_user_del?id='+id;
        }
        //跳转到查看页面
        function browse (id) {
            window.location.href = '/jinquan/sys_user_add?show=view&id='+id;
        }
    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：用户管理列表
    </div>
</div>
<div class="center_con">
    <div class="butSet">
        <div class="sousuo">
            <table width="100%" class="table4" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>登陆名称：<input name="userName" id="userName" value="<%=data.userName%>" type="text" class="input5" /></td>
                    <td><a href="javascript:search();" class="chaxun"></a></td>
                </tr>
            </table>

        </div>
        <div class="but_0"><a href="/jinquan/sys_user_add" class="bsty0"></a></div>
    </div>
    <div class="tabCon">
        <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
            <tr>
                <th>员工名称</th>
                <th>所属门店</th>
                <th>登陆名</th>
                <th>是否启用</th>
                <th>操作</th>
            </tr>
            <% for (var i=0;i<data.data.length;i++) {%>
            <tr onmouseover="this.className='f_on'" class="f_off"  onmouseout="this.className='f_off'">
                <td><%=data.data[i].staffName%></td>
                <td><%=data.data[i].shopName%></td>
                <td><%=data.data[i].userName%></td>
                <td><%if(data.data[i].activity=='Y'){%>启用<%}else{%>停用<%}%></td>
                <td>
                    <table width="100%" border="0" cellspacing="0" class="table_t"  cellpadding="0">
                        <tr>
                            <td><div align="center"><img src="../../images/index_2.jpg" width="9" height="9" />&nbsp;[<a href="javascript:browse(<%=data.data[i].id%>)">查看</a>]</div></td>
                            <td><div align="center"><img src="../../images/037.gif" width="9" height="9" />&nbsp;[<a href="javascript:preEdit(<%=data.data[i].id%>)">编辑</a>]</div></td>
                            <td><div align="center"><img src="../../images/delete.gif" width="9" height="9" />&nbsp;[<a href="javascript:del(<%=data.data[i].id%>)">删除</a>]</div></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <%}%>
        </table>
        <%- include ../pagination.html -%>
    </div>
</div>

</body>
</html>
