<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>编辑角色</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../../css/zTreeStyle/zTreeStyle.css" type="text/css">
    <link rel="stylesheet" href="../../../css/zTreeStyle/demo.css" type="text/css">
    <script language="JavaScript" type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="../js/zTree/jquery.ztree.core.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="../js/zTree/jquery.ztree.excheck.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="../js/qiehuan.js"></script>
    <script type="text/javascript" src="../../js/layer/layer.js"></script>
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">

        var setting = {
            check: {
                enable: true
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
            callback: {
                onCheck: onCheck
//                afterCheck:onCheck
            }
        };

        var index = 0;//该添加第几个节点
        var zNodes =[];
        var code;
        //点击节点后，回调事件
        function onCheck(e,treeId,treeNode) {
            var treeObj = $.fn.zTree.getZTreeObj("treeDemo"),
                    nodes = treeObj.getCheckedNodes(true),
                    selectMenus = "",
                    selectResources = "";
            for (var i = 0; i < nodes.length; i++) {
                if(nodes[i].resource != null){
                    selectResources += nodes[i].id + ",";
                }else{
                    selectMenus += nodes[i].id + ",";
                }
            }
            if(selectResources != ""){
                selectResources = selectResources.substring(0,selectResources.length - 1);
            }
            if(selectMenus != ""){
                selectMenus = selectMenus.substring(0,selectMenus.length - 1);
            }
            $("#selectMenus").val(selectMenus);
            $("#selectResources").val(selectResources);
        }
        //设置点击
        function setCheck() {
            var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
                    type = { "Y":"", "N":""};
            zTree.setting.check.chkboxType = type;
            showCode('setting.check.chkboxType = { "Y" : "' + type.Y + '", "N" : "' + type.N + '" };');
        }
        function showCode(str) {
            if (!code) code = $("#code");
            code.empty();
            code.append("<li>"+str+"</li>");
        }

        $(document).ready(function(){


            //获取所有菜单
            var menusByRoleList = JSON.parse('<%-JSON.stringify(menusByRole)%>');//该角色对应的菜单
            var resourcesByRoleList = JSON.parse('<%-JSON.stringify(resourcesByRole)%>');//该角色选择的对应的资源
            var menus = '<%-JSON.stringify(menus)%>';
            menus = JSON.parse(menus);
            //获取所有资源
            var resourcess = '<%-JSON.stringify(resourcess)%>';
            resourcess = JSON.parse(resourcess);
            for(var i = 0 ; i < menus.length ; i ++){
                if(menus[i].parentId == 0){
                    var nodesObj = {};
                    nodesObj.id = menus[i].id;
                    nodesObj.pId = menus[i].parentId;
                    nodesObj.name = menus[i].textCh;
                    nodesObj.nocheck = true;
                    zNodes[index]= nodesObj;
                    index++;
                    for(var j = i ; j < menus.length ; j ++){
                        if(menus[j].parentId == menus[i].id){
                            var nodesObj = {};
                            nodesObj.id = menus[j].id;
                            nodesObj.pId = menus[j].parentId;
                            nodesObj.name = menus[j].textCh;
                            for(var m = 0 ; m < menusByRoleList.length ; m ++){
                                if(menusByRoleList[m].menuId == menus[j].id){
                                    nodesObj.checked = true;
                                    break;
                                }
                            }
                            zNodes[index]= nodesObj;
                            index++;
                            for(var k = 0 ; k < resourcess.length ; k ++){
                                if(resourcess[k].menuId == menus[j].id){
                                    var nodesObj = {};
                                    nodesObj.id = resourcess[k].id;
                                    nodesObj.pId = menus[j].id;
                                    nodesObj.name = resourcess[k].textCh;
                                    nodesObj.resource = "resource--";
                                    for(var l = 0 ; l < resourcesByRoleList.length ; l ++){
                                        if(resourcesByRoleList[l].resourcesId == resourcess[k].id){
                                            nodesObj.checked = true;
                                            break;
                                        }
                                    }
                                    zNodes[index]= nodesObj;
                                    index++;
                                }
                            }
                        }
                    }
                }
            }
//            console.log("zNodes="+zNodes);
            //为所选菜单赋值
            var selectMenus = "";
            var selectResources = "";

            for(var k = 0 ; k < menusByRoleList.length ; k ++){
                selectMenus += menusByRoleList[k].menuId+",";
            }
            for(var l = 0 ; l < resourcesByRoleList.length ; l ++){
                selectResources += resourcesByRoleList[l].resourcesId+",";
            }
            if(selectResources != ""){
                selectResources = selectResources.substring(0,selectResources.length - 1);
            }
            if(selectMenus != ""){
                selectMenus = selectMenus.substring(0,selectMenus.length - 1);
            }
            $("#selectMenus").val(selectMenus);
            $("#selectResources").val(selectResources);

            $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        });



        function submitForm(){
            console.log($("#selectMenus").val());
            var name = document.getElementById("name").value;
            if (!name || name.length == 0) {
                parent.layer.alert('角色不能为空');
                return;
            }
            document.getElementById("myform").submit();
        }
    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：编辑角色
    </div>
</div>
<div class="center_con">
    <form method="post" id="myform" action="/jinquan/sys_role_save">
        <table width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="regTd_l">角色名称：</td>
                <td class="regTd_r">
                    <input id="name" name="name" type="text" class="input5" value="<%=sysRole.name%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span>
                    <input type="hidden" name="selectMenus" id="selectMenus"/>
                    <input type="hidden" name="id" id="id" value="<%=sysRole.id%>"/>
                    <input type="hidden" name="selectResources" id="selectResources"/>
                </td>
                <td class="regTd_l">角色描述：</td>
                <td class="regTd_r"><input id="describe" name="describe" type="text" class="input5" value="<%=sysRole.describe%>" /></td>
            </tr>
            <tr>
                <td class="regTd_l">选择权限：</td>
                <td class="regTd_r">
                    <div class="zTreeDemoBackground left">
                        <ul id="treeDemo" class="ztree"></ul>
                    </div>
                </td>
            </tr>
        </table>
    </form>
    <div class="reg_but">
        <%
        if(show == ''){
        %><div class="rb_l"><a href="javascript:;" onclick="submitForm()" class="reset"></a></div><%
        }
        %>
        <div class="rb_l"><a href=/jinquan/sys_role_list class="close"></a></div>
    </div>


</div>
</body>
</html>
