<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>选择服务</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
</head>
<script type="text/javascript">

    function search () {
        var name = document.getElementById('name').value;
        var cid = document.getElementById('id').value;
        var index = document.getElementById("index").value;
        window.location.href = '/jinquan/service_select_activity?name='+name+'&id='+cid+"&index="+index;
    }

    function pageturning (selectPage) {
        var name = document.getElementById('name').value;
        var cid = document.getElementById('id').value;
        var index = document.getElementById("index").value;
        window.location.href = '/jinquan/service_list?page='+selectPage+'&name='+name+'&id='+cid;
    }
    //选择服务项目
    function select(name,content,id,price,cname){
        var index = document.getElementById("index").value;
        if(window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('serviceName'+index)){
            window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('serviceName'+index).value=name;
        }
        if(window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('serviceContent'+index)){
            window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('serviceContent'+index).value=content;
        }
        if(window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('serviceId'+index)){
            window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('serviceId'+index).value=id;
        }
        //商品单价
        if(window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('servicePrice'+index)){
            window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('servicePrice'+index).value=price;
        }
        //分类名称
        if(window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('serviceClassName'+index)){
            window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('serviceClassName'+index).value=cname;
        }
        var index = parent.layer.getFrameIndex(window.name); //获取当前窗体索引
        parent.layer.close(index); //执行关闭

    }
</script>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：服务管理
    </div>
</div>
<div class="center_con">
    <div class="butSet">
        <div class="sousuo">
            <table width="100%" class="table4" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>服务名称：<input id="name" name="name" type="text" class="input5" value="<%=data.name%>"/></td>
                    <td> &nbsp;服务分类：<select id="id" name="id">
                        <option value ="">请选择</option>
                        <%for(var i=0;i<data.classify.length;i++){%>
                        <option value ="<%=data.classify[i].id%>" <%if(data.classifyId == data.classify[i].id){%>selected<%}%> ><%=data.classify[i].name%></option>
                        <%}%>
                    </select></td>
                    <td><a href="javascript:search()" class="chaxun"></a></td>
                </tr>
            </table>

        </div>
    </div>
    <div class="tabCon">
        <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
            <tr>
                <th>服务名称<input id="index" name="index" type="hidden" value="<%=index%>" </th>
                <th>服务分类</th>
                <th>服务金额</th>
                <th>操作</th>
            </tr>
            <% for (var i=0;i<data.data.length;i++) {%>
            <tr onmouseover="this.className='f_on'" class="f_off"  onmouseout="this.className='f_off'">
                <td><%=data.data[i].name%></td>
                <td><%=data.data[i].cname%></td>
                <td><%=data.data[i].price%></td>
                <td>
                    <table width="100%" border="0" cellspacing="0" class="table_t"  cellpadding="0">
                        <tr>
                            <td><div align="center"><img src="../../images/index_2.jpg" width="9" height="9" />&nbsp;[<a href="javascript:select('<%=data.data[i].name%>','<%=data.data[i].content%>','<%=data.data[i].id%>','<%=data.data[i].price%>','<%=data.data[i].cname%>')">选择服务</a>]</div></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <%}%>
        </table>

        <%- laypage %>
    </div>
</div>

</body>
</html>
