<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>添加课程报名</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <script type="application/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="application/javascript" src="../../js/layer/layer.js"></script>
    <script type="application/javascript" src="../../js/laydate/laydate.js"></script>
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">
        var iframIndex ;
        function getWares(){
            //iframe层
            iframIndex = parent.layer.open({
                type: 2,
                title: '选择会员信息',
                shadeClose: true,
                shade: 0.8,
                area: ['80%', '90%'],
                content: '/jinquan/member_all_select', //iframe的url
                success: function(layero, index){
                },
                close: function(d){
                }
            });
        }

        var courseIfram ;
        function getCourseIfram(){
            //iframe层
            courseIfram = parent.layer.open({
                type: 2,
                title: '选择课程信息',
                shadeClose: true,
                shade: 0.8,
                area: ['80%', '90%'],
                content: '/jinquan/course_select_activity?courseType=3', //iframe的url
                success: function(layero, index){
                },
                close: function(d){
                }
            });
        }
        function submitForm(){
            var memberId = document.getElementById("memberId").value;
            if (!memberId || memberId.length == 0) {
                parent.layer.alert('会员名称不能为空');
                return;
            }
            var courseId = document.getElementById("courseId").value;
            if (!courseId || courseId.length == 0) {
                parent.layer.alert('课程名称不能为空');
                return;
            }

            var childMonths = document.getElementById("childMonths").value;
            if (!childMonths || childMonths.length == 0) {
                parent.layer.alert('宝宝月龄/预产期不能为空');
                return;
            }
            var externPersons = document.getElementById("externPersons").value;
            if (!externPersons || externPersons.length == 0) {
                parent.layer.alert('是否可带宝宝不能为空');
                return;
            }
            var remark = document.getElementById("remark").value;
            if (!remark || remark.length == 0) {
                parent.layer.alert('备注不能为空');
                return;
            }
//            var isRegisterSuccess = document.getElementById("isRegisterSuccess").value;
//            if (!isRegisterSuccess || isRegisterSuccess.length == 0) {
//                parent.layer.alert('是否报名成功不能为空');
//                return;
//            }
//            var isPhoneConfirm = document.getElementById("isPhoneConfirm").value;
//            if (!isPhoneConfirm || isPhoneConfirm.length == 0) {
//                parent.layer.alert('课前电话确认不能为空');
//                return;
//            }
//            var isSmConfirm = document.getElementById("isSmConfirm").value;
//            if (!isSmConfirm || isSmConfirm.length == 0) {
//                parent.layer.alert('课前电话确认不能为空');
//                return;
//            }
            document.getElementById("myform").submit();
        }
        // 验证库存量
        function checkIsSelectCourse () {

            var memberId = $("#memberId").val();
            if (memberId == '') {
                parent.layer.alert('请选择会员！');
                return;
            }
            var courseId = $("#courseId").val();
            if (courseId == '') {
                parent.layer.alert('请选择报名课程！');
                return;
            }

            $.ajax({
                type: "post",
                url: "/jinquan/checkIsSelectCourse",
                data: {'courseId':$("#courseId").val(),'memberId':$("#memberId").val() },
                success: function (result) {
                    if(result.flag){
                        parent.layer.alert('该会员已预约此课程！',{icon: 2});
                    }
                }
            });
        }
    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：添加课程报名
    </div>
</div>
<div class="center_con">
    <form method="post" id="myform" action="/jinquan/class_meet_add">
        <table width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="regTd_l">会员名称：</td>
                <td class="regTd_r">
                    <input id="memberName" name="memberName" onfocus="getWares()"/>
                    <input id="memberId" name="memberId" type="hidden" />
                </td>
                <td  class="regTd_l">课程名称：</td>
                <td class="regTd_r"><input id="courseName"   name="courseName" type="text" class="input5" onfocus="getCourseIfram()"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span>
                    <input id="courseId" name="courseId" type="hidden" class="input5" /></td>
            </tr>
            <tr>
                <td class="regTd_l">上课时间：</td>
                <td class="regTd_r"><input id="courseTimeStart" name="courseTimeStart" type="text" class="input5" readonly="true" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">课程费用：</td>
                <td class="regTd_r"><input id="coursePrice" name="coursePrice" type="text" class="input5" readonly="true" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">宝宝月龄/预产期：</td>
                <td class="regTd_r"><input id="childMonths" onfocus="checkIsSelectCourse()" name="childMonths" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">除宝宝外人数：</td>
                <td class="regTd_r"><input id="externPersons" name="externPersons" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">是否带宝宝：</td>
                <td class="regTd_r">
                    <select id="weatherLeadBaby" name="weatherLeadBaby">
                        <option>请选择</option>
                        <option value="1">带</option>
                        <option value="0">不带</option>
                    </select>
                            &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">备注：</td>
                <td class="regTd_r"><input id="remark" name="remark" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
           <!-- <tr>
                <td class="regTd_l">是否报名成功：</td>
                <td class="regTd_r" colspan="3">
                    <select id="isRegisterSuccess" name="isRegisterSuccess"/>
                        <option value="yes">是</option>
                        <option value="no">否</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="regTd_l">课前电话确认：</td>
                <td class="regTd_r"><input id="isPhoneConfirm" name="isPhoneConfirm" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">课前短信确认：</td>
                <td class="regTd_r"><input id="isSmConfirm" name="isSmConfirm" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">上课确认：</td>
                <td class="regTd_r">
                    <select id="courseConfirm" name="courseConfirm">
                        <option value="yes">是</option>
                        <option value="no">否</option>
                    </select>
                </td>
                <td class="regTd_l">未来原因：</td>
                <td class="regTd_r">
                    <select id="ReasonForNotCome" name="ReasonForNotCome">
                        <option value="0">请选择</option>
                        <option value="1">来上课</option>
                        <option value="2">未来上课</option>
                        <option value="3">转至下一期</option>
                    </select>
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>-->
        </table>
    </form>
    <div class="reg_but">
        <div class="rb_l"><a href="javascript:;" onclick="submitForm()" class="reset"></a></div>
        <div class="rb_l"><a href="/jinquan/class_meet_list" class="close"></a></div>
    </div>


</div>
</body>
</html>
