<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>出库管理</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <script type="application/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="application/javascript" src="../../js/layer/layer.js"></script>
    <script type="application/javascript" src="../../js/laydate/laydate.js"></script>
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
</head>
<script type="text/javascript">

    var replytype = '<%=replytype%>';
    if (replytype == 'add') {
        parent.layer.msg('增加成功');
    } else if (replytype == 'del') {
        parent.layer.msg('删除成功');
    } else if (replytype == 'update') {
        parent.layer.msg('修改成功');
    }

    function search () {
        var oper = document.getElementById('oper').value;
        var outType = document.getElementById('outType').value;
        var outDate = document.getElementById('outDate').value;
        window.location.href = '/jinquan/storeroom_out_list?oper='+oper+'&outType='+outType+'&outDate='+outDate;
    }

    function pageturning (selectPage) {
        var oper = document.getElementById('oper').value;
        var outType = document.getElementById('outType').value;
        var outDate = document.getElementById('outDate').value;
        window.location.href = '/jinquan/storeroom_out_list?page='+selectPage+'&oper='+oper+'&outType='+outType+'&outDate='+outDate;
    }
</script>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：出库管理列表
    </div>
</div>
<div class="center_con">
    <div class="butSet">
        <div class="sousuo">
            <table width="100%" class="table4" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>出库方式：<select id="outType" name="outType">
                        <option value =""></option>
                        <%for(var i=0;i<data.outTypeClassify.length;i++){%>
                        <option value ="<%=data.outTypeClassify[i].id%>" <%if(data.outType == data.outTypeClassify[i].id){%>selected<%}%> ><%=data.outTypeClassify[i].name%></option>
                        <%}%>
                    </select></td>
                    <td> &nbsp;领取人：<input id="oper" name="oper" type="text" class="input5" value="<%=data.oper%>"/></td>
                    <td> &nbsp;出库时间：<input id="outDate" name="outDate" type="text" class="input5" onclick="laydate()" readonly="true" value="<%=data.outDate%>"/> </td>
                    <td><a href="javascript:search()" class="chaxun"></a></td>
                </tr>
            </table>

        </div>
        <div class="but_0"><a href="/jinquan/storeroom_out_pre_add" class="bsty0"></a></div>
    </div>
    <div class="tabCon">
        <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
            <tr>
                <th>出库时间</th>
                <th>领取人</th>
                <th>出库方式</th>
                <th>出库库房</th>
                <th>操作</th>
            </tr>
            <% for (var i=0;i<data.data.length;i++) {%>
            <tr onmouseover="this.className='f_on'" class="f_off"  onmouseout="this.className='f_off'">
                <td><%=data.data[i].outDate%></td>
                <td><%=data.data[i].oper%></td>
                <td><%=data.data[i].outName%></td>
                <td><%=data.data[i].storeroomName%></td>
                <td>
                    <table width="100%" border="0" cellspacing="0" class="table_t"  cellpadding="0">
                        <tr>
                            <td><div align="center"><img src="../../images/index_2.jpg" width="9" height="9" />&nbsp;[<a href="/jinquan/storeroom_out_detail?id=<%=data.data[i].id%>">查看</a>]</div></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <%}%>
        </table>
        <!-- <%- include ../pagination.html -%>   -->
        <%- laypage %>
    </div>
</div>

</body>
</html>
