<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>编辑出库单</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <script type="application/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="application/javascript" src="../../js/layer/layer.js"></script>
    <script type="application/javascript" src="../../js/laydate/laydate.js"></script>
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">
        var iframIndex ;
        function getWares(index){

            var sid = document.getElementById('storeroom').value;
            if (sid == '' || sid.length == 0) { //库房不能为空
                parent.layer.alert('请先选择库房！',{icon: 2});
                return;
            }
            //iframe层
            iframIndex = parent.layer.open({

                type: 2,
                title: '选择商品',
                shadeClose: true,
                shade: 0.8,
                area: ['80%', '90%'],
                content: '/jinquan/wares_select_in_storeroom?index='+index+'&sid='+sid, //iframe的url
                success: function(layero, index){

                },
                close: function(d){

                }
            });
        }

        // 验证库存量
        function check (index) {

            var proId = $("#proId"+index).val();
            if (proId == '') {
                parent.layer.alert('请先选择商品！',{icon: 2});
                document.getElementById("count"+index).value = '';
                return;
            }

            $.ajax({
                type: "post",
                url: "/jinquan/storeroom_check",
                data: {'storeroomId':$("#storeroom").val(),'waresId':$("#proId"+index).val(),'num':$("#count"+index).val()},
                success: function (result) {
                    if(!result.flag){
                        document.getElementById("count"+index).value = '';
                        parent.layer.alert('该商品库存不够！',{icon: 2});
                    }
                }
            });
        }

        //提交表单
        function submitForm(){

            var oper = document.getElementById("oper").value;
            if (!oper || oper.length == 0) {
                parent.layer.alert('领取人不能为空',{icon: 2});
                return;
            }

            var address = document.getElementById('address').value;
            if(!address || address.length == 0) {
                parent.layer.alert('发货地址不能为空',{icon: 2});
                return;
            }

            var consigneeTel = document.getElementById('consigneeTel').value;
            if(!consigneeTel || consigneeTel.length == 0) {
                parent.layer.alert('收货人电话不能为空',{icon: 2});
                return;
            }

            var consignee = document.getElementById('consignee').value;
            if(!consignee || consignee.length == 0) {
                parent.layer.alert('收货人不能为空',{icon: 2});
                return;
            }

            // 判断该表单中 是否有相同的 商品
            var arr_proId = document.getElementsByName('proId');
            var arr = new Array();
            for(var i=0;i<arr_proId.length;i++) {
                 arr.push(arr_proId[i].value);
            }
            //排序
            var nary=arr.sort();
            for (var i=0;i<arr.length;i++) {
                if (nary[i]==nary[i+1]){
                    parent.layer.alert('商品中有两条数据相同，请查证后提交！',{icon: 2});
                    return;
                }
            }

            var arr_proname = document.getElementsByName('proname');
            for (var i=0;i<arr_proname.length;i++) {
                if(arr_proname[i].value == '') {
                    var n = i+1;
                    parent.layer.alert('商品详情第'+n+'行产品名称不能为空',{icon: 2});
                    return;
                }
            }

            var arr_count = document.getElementsByName('count');
            for (var i=0;i<arr_count.length;i++) {
                if(arr_count[i].value == '') {
                    var n = i+1;
                    parent.layer.alert('商品详情第'+n+'行商品数量不能为空',{icon: 2});
                    return;
                }
            }

            var arr_price = document.getElementsByName('price');
            for (var i=0;i<arr_price.length;i++) {
                if(arr_price[i].value == '') {
                    var n = i+1;
                    parent.layer.alert('商品详情第'+n+'行商品单价不能为空',{icon: 2});
                    return;
                }
            }

            document.getElementById("myform").submit();

        }

        //当前商品显示位置
        var waresIndex = 0;
        //table中增加需要添加的行信息
        function addTr(){
            //获取表格对象
            var table=document.getElementById("waresTable");
            //获取当前行数
            waresIndex = $("#waresTable tr").length;
            var row=table.insertRow(waresIndex);
            var cell1=row.insertCell(0);//商品名称
            var cell2=row.insertCell(1);//商品编号
            var cell3=row.insertCell(2);//采购数量
            var cell4=row.insertCell(3);//商品单价
            var cell5=row.insertCell(4);//删除本行
            var cell6=row.insertCell(5);//商品id
            cell1.innerHTML = '<input id="proname'+waresIndex+'"  name="proname" type="text" class="input5 input_arr" onfocus="getWares('+waresIndex+')"/>';
            cell2.innerHTML='<input id="proNo'+waresIndex+'" name="proNo" type="text" class="input5 input_arr" readonly="true"/>';
            cell3.innerHTML='<input id="count'+waresIndex+'" name="count" type="text" class="input5 input_arr" onblur="check('+waresIndex+')"/>';
            cell4.innerHTML='<input id="bname'+waresIndex+'" name="price" type="text" class="input5 input_arr" />';
            cell6.innerHTML='<input id="proId'+waresIndex+'" name="proId" type="hidden" class="input5 input_arr" />';
            cell5.innerHTML='<a style="cursor: pointer" onclick="javaScript:delTr(this)"><h1>-</h1></a>';
        }
        //table中删除选中的行数据
        function delTr(delObj){
            var deltr = delObj.parentNode.parentNode;
            $('#waresTable tr:eq('+deltr.rowIndex+')').remove();
        }

    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：编辑出库单
    </div>
</div>
<div class="center_con">
    <form method="post" id="myform" action="/jinquan/storeroom_out_add">
        <table width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="regTd_l">领取人：</td>
                <td class="regTd_r"><input id="oper" name="oper" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">出库方式：</td>
                <td class="regTd_r"><select id="outType" name="outType">
                    <%for(var i=0;i<data.outTypeClassify.length;i++){%>
                    <option value ="<%=data.outTypeClassify[i].id%>" ><%=data.outTypeClassify[i].name%></option>
                    <%}%>
                </select>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">收货人：</td>
                <td class="regTd_r"><input id="consignee" name="consignee" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">出库库房：</td>
                <td class="regTd_r"><select id="storeroom" name="storeroom">
                    <%for(var i=0;i<data.storerooms.length;i++){%>
                    <option value ="<%=data.storerooms[i].id%>" ><%=data.storerooms[i].name%></option>
                    <%}%>
                </select>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">发货地址：</td>
                <td class="regTd_r"><input id="address" name="address" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">收货人电话：</td>
                <td class="regTd_r"><input id="consigneeTel" name="consigneeTel" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">说明：</td>
                <td class="regTd_r" colspan="3"><textarea id="remarks" name="remarks" rows="8" cols="19" style="width : 70%"></textarea></td>
            </tr>
        </table>

        <!--商品信息 start-->
        <span style="float: left; font-weight:bold;width: 100px;"><h3>商品信息</h3></span>
        <br>
        <table id="waresTable" width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <tr bgcolor="lightblue">
                <td>商品名称</td>
                <td>商品编号</td>
                <td>出库数量</td>
                <td>商标</td>
                <td width="50px;"><a style="cursor: pointer" onclick="javaScript:addTr()"><h1>+</h1></a></td>
            </tr>
        </table>
        <!--合同信息 end-->
    </form>
    <div class="reg_but">
        <div class="rb_l"><a href="javascript:;" onclick="submitForm()" class="reset"></a></div>
        <div class="rb_l"><a href="/jinquan/storeroom_out_list" class="close"></a></div>
    </div>


</div>
</body>
</html>
