<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>金泉会所</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <script type="application/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="application/javascript" src="../../js/layer/layer.js"></script>
    <script type="application/javascript" src="../../js/laydate/laydate.js"></script>
</head>


<script type="text/javascript">

    var menus = '<%-JSON.stringify(user.menus)%>';
    menus = JSON.parse(menus);

    $(document).ready(function(){
        var mm = '';
        for(var i = 0 ; i < menus.length ; i ++){
            if('<%=user.shortcutMenuId1 %>'==menus[i].id){
                $("#nav").append('<li><a href="'+menus[i].url+'" class="" target="mainFrame">'+menus[i].textCh+'</a></li>');
            }

            if('<%=user.shortcutMenuId2 %>'==menus[i].id ){
                $("#nav").append('<li><a href="'+menus[i].url+'" class="" target="mainFrame">'+menus[i].textCh+'</a></li>');
            }
            if('<%=user.shortcutMenuId3 %>'==menus[i].id ){
                $("#nav").append('<li><a href="'+menus[i].url+'" class="" target="mainFrame">'+menus[i].textCh+'</a></li>');
            }
            if('<%=user.shortcutMenuId4 %>'==menus[i].id ){
                $("#nav").append('<li><a href="'+menus[i].url+'" class="" target="mainFrame">'+menus[i].textCh+'</a></li>');
            }
        }
    });

    function iFrameLeftHeight() {
        //获取屏幕高度
        var pingmuHight = document.body.clientHeight;
        //获取头部、底部高度
        var topHight = $("#top").height();
        var bottomHight = $("#bottom").height();
        //为左侧菜单设置高度
        var leftIfm= document.getElementById("leftFrame");
        leftIfm.height = pingmuHight - topHight - bottomHight;
//        leftIfm.width = 171;
    }
    function iFrameRightHeight() {
        var ifm= document.getElementById("rightFrame");
        var subWeb = document.frames ? document.frames["rightFrame"].document : ifm.contentDocument;
        if(ifm != null && subWeb != null) {
            ifm.height = subWeb.body.scrollHeight;
        }
    }
</script>
<body>
<frameset rows="81,*,29" cols="*" framespacing="0" frameborder="no" border="0">
    <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
        <tr height="10%">
            <td colspan="3">
                <div id="top">
                    <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="296"><div class="logo"><img src="images/logo.jpg" /></div> </td>
                            <td >
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td>
                                            <ul id="nav">
                                            </ul>
                                        </td>
                                        <td class="top_c2" style="text-align:right">
                                            欢迎  <%=user.userName%>  使用金泉平台！
                                            <div class="zhuxiao"><a href="/" class="zx_sty"></a></div>
                                        </td>
                                    </tr>

                                </table>
                            </td>

                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr height="85%">
            <td width="171" name="fmTitle" align="center" valign="top"  >
                <iframe id="leftFrame" height="100%" width="171" src="jinquan/menu" border="0" frameborder="0" scrolling="no" onLoad="iFrameLeftHeight()"></iframe>
            </td>
            <td width="2"></td>
            <td width="99%" align="center" valign="top">
                <iframe id="rightFrame" height="100%" width="100%" src="jinquan/welcome" name="mainFrame" border="0" frameborder="0" onLoad="iFrameRightHeight()"></iframe>
            </td>
        </tr>
        <tr height="5%">
            <td colspan="3">
                <div id="bottom">
                    <table  width="100%" border="0"  cellspacing="0" cellpadding="0">
                        <tr>
                            <td  width="35%"><div class="sty1">客服电话： XXXXXXXXXX</div></td>
                            <td  width="45%"><div class="sty2">金泉平台</div></td>
                            <td width="20%"><div class="sty3">版权所有@2016</div></td>
                        </tr>
                    </table>

                </div>
            </td>
        </tr>
    </table>
</frameset>
</body>
</html>
