<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>金泉会所</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
<frameset rows="81,*,29" cols="*" framespacing="0" frameborder="no" border="0">
    <div id="top">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="296" ><div class="logo"><img src="../../images/logo.jpg" /></div> </td>
                <td >
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td class="l_top_c">&nbsp;</td>
                        </tr>
                    </table>
                </td>
                <td width="331" class="l_top_r"></td>
            </tr>
        </table>

    </div>
    <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="171" name="fmTitle" align="center" valign="top"  >
                <iframe id="leftFrame" height="100%" width="171" src="jinquan/menu" border="0" frameborder="0"   scrolling="no"></iframe>
            </td>
            <td width="2"></td>
            <td align="center" valign="top">
                <iframe id="rightFrame" height="100%" width="100%" src="jinquan/welcome" name="mainFrame" border="0" frameborder="0" ></iframe>
            </td>
        </tr>
    </table>
    <div id="bottom">
        <table  width="100%" border="0"  cellspacing="0" cellpadding="0">
            <tr>
                <td  width="35%"><div class="sty1">客服电话： XXXXXXXXXX</div></td>
                <td  width="45%"><div class="sty2">莲花平台近期将更新V1.1,请您及时下载安装最新版本</div></td>
                <td width="20%"><div class="sty3">版权所有@2012</div></td>
            </tr>
        </table>

    </div>
</frameset>

</body>
</html>
