<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>金泉会所</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <script type="application/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="application/javascript" src="../../js/layer/layer.js"></script>
    <script type="application/javascript" src="../../js/laydate/laydate.js"></script>
</head>


<body>
<frameset rows="81,*,29" cols="*" framespacing="0" frameborder="no" border="0">
    <div id="top">
        <table width="100%"  border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="296" ><div class="logo"><img src="images/logo.jpg" /></div> </td>
                <td >
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td class="top_c"><div class="top_sty">欢迎使用莲花平台！管理员账号XXX</div></td>
                        </tr>
                    </table>
                </td>
                <td width="331" class="top_r">
                    <div class="search_wai">
                        <div class="search">
                            <div class="sr_l"><input type="text"  class="input1"/></div>
                            <div class="sr_r"><input  type="button" class="button1"/></div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="171" name="fmTitle" align="center" valign="top"  >
                <iframe id="leftFrame" height="100%" width="171" src="jinquan/menu" border="0" frameborder="0"   scrolling="no"></iframe>
            </td>
            <td width="2"></td>
            <td align="center" valign="top">
                <iframe id="rightFrame" height="100%" width="100%" src="jinquan/welcome" name="mainFrame" border="0" frameborder="0" ></iframe>
            </td>
        </tr>
    </table>
    <div id="bottom">
        <table  width="100%" border="0"  cellspacing="0" cellpadding="0">
            <tr>
                <td  width="35%"><div class="sty1">客服电话： XXXXXXXXXX</div></td>
                <td  width="45%"><div class="sty2">莲花平台近期将更新V1.1,请您及时下载安装最新版本</div></td>
                <td width="20%"><div class="sty3">版权所有@2012</div></td>
            </tr>
        </table>

    </div>
</frameset>



</body>
</html>
