<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../../css/global.css" rel="stylesheet" type="text/css" />
<link href="../../css/index.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" type="text/javascript" src="../js/qiehuan.js"></script>
<script src="../../js/prototype.lite.js" type="text/javascript"></script>
<script src="../../js/moo.fx.js" type="text/javascript"></script>
<script src="../../js/moo.fx.pack.js" type="text/javascript"></script>
<style type="text/css"> 
html,body{height:100%;padding:0;margin:0;}
</style>

<style>
.content{
	width: 171px;
	height: 26px;
	
}
.subClass {
    width: 171px;
	margin: 0px;
	padding: 0px;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	clip: rect(0px,0px,0px,0px);
}
.subClass ul {
    list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: block;
}
.subClass li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	color: #333333;
	list-style-type: none;
	display: block;
	text-decoration: none;
	height: 26px;
	width: 171px;
	padding-left: 0px;
}

.subClass a:link,.subClass a:visited,.subClass a:active{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #575757;
	background-image:url(../../images/sub_bg_link.jpg);
	background-repeat: no-repeat;
	height: 26px;
	line-height: 26px;
	padding-left:51px;
	width:120px;
	display: block;
    overflow: hidden;
	text-decoration: none; text-align:left;

}
.subClass a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 26px;
	font-weight: bold;
	color: #575757;
	background-image:url(../../images/sub_bg_hover.jpg);
	background-repeat: no-repeat;
	text-align:left;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 26px;
	padding-left:51px;
	width:120px;
	text-decoration: none;
}
</style>
</head>
<body>
<table width="171" border="0" cellspacing="0" cellpadding="0" style="float:left;" >
  <tr>
    <td valign="top">
    <h1 class="tm1"><img src="../../images/tmbg.jpg" /></h1>
    <div class="menucon">
    <h1 class="bigClass">
    <div class="bigClass_l"><img src="../../images/menu_add.gif" ></div>
    <div class="bigClass_r">
    <p>门店管理</p>
    </div>
    </h1>
     <div class="content">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="../../images/menu_topline.gif" width="171" height="2" /></td>
          </tr>
        </table>
       <ul class="subClass">
          <li><a href="/jinquan/shop_list" target="mainFrame">门店列表</a></li>
        </ul>
      </div>
    </div>


    <div class="menucon">
        <h1 class="bigClass">
            <div class="bigClass_l"><img src="../../images/menu_add.gif" ></div>
            <div class="bigClass_r">
                <p>教室及课程管理</p>
            </div>
        </h1>
        <div class="content" >
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td><img src="../../images/menu_topline.gif" width="171" height="2" /></td>
                </tr>
            </table>
            <ul class="subClass">
                <li><a href="/jinquan/classroom_list" target="mainFrame">教室管理</a></li>
                <li><a href="/jinquan/course_plan" target="mainFrame">排课情况</a></li>
                <li><a href="/jinquan/course_list" target="mainFrame">课程查询</a></li>
            </ul>
        </div>
    </div>
    
   <div class="menucon">
    <h1 class="bigClass">
    <div class="bigClass_l"><img src="../../images/menu_add.gif" ></div>
    <div class="bigClass_r">
    <p >员工管理</p>
    </div>
    </h1>
    <div class="content" >
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="../../images/menu_topline.gif" width="171" height="2" /></td>
          </tr>
        </table>
       <ul class="subClass">
          <li><a href="/jinquan/staff_list" target="mainFrame">员工列表</a></li>
          <li><a href="/jinquan/staff_train_list" target="mainFrame">员工培训</a></li>
          <li><a href="/jinquan/punch_card_list" target="mainFrame">打卡记录</a></li>
          <li><a href="/jinquan/attendance_type_list" target="mainFrame">考勤类别</a></li>
          <li><a href="/jinquan/attendance_change_list" target="mainFrame">考勤变更</a></li>
           <!--
           <li><a href="/jinquan/attendance_search_list" target="mainFrame">查询考勤</a></li>
           -->
           <li><a href="../right.html" target="mainFrame">绩效查询</a></li>
           <li><a href="../right.html" target="mainFrame">绩效考勤</a></li>
        </ul>
      </div>
    </div>
   <div class="menucon">
    <h1 class="bigClass">
    <div class="bigClass_l"><img src="../../images/menu_add.gif" ></div>
    <div class="bigClass_r">
    <p >会员管理</p>
    </div>
    </h1>
    <div class="content" >
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="../../images/menu_topline.gif" width="171" height="2" /></td>
          </tr>
        </table>
       <ul class="subClass">
          <li><a href="/jinquan/member_card_type_list" target="mainFrame">充值卡类型</a></li>
          <li><a href="/jinquan/member_card_list" target="mainFrame">会员卡管理</a></li>
          <li><a href="/jinquan/activity_manage_list" target="mainFrame">活动管理</a></li>
          <li><a href="/jinquan/member_list" target="mainFrame">会员列表</a></li>
          <li><a href="/jinquan/service_meet_list" target="mainFrame">预约服务</a></li>
          <li><a href="/jinquan/class_meet_list" target="mainFrame">课程报名</a></li>
          <li><a href="/jinquan/nurs_service_list" target="mainFrame">护理服务</a></li>
          <li><a href="http://www.baidu.com" target="mainFrame">收费信息</a></li>
          <li><a href="/jinquan/return_visit_list" target="mainFrame">回访信息</a></li>
          <li><a href="/jinquan/complain_list" target="mainFrame">投诉信息</a></li>
        </ul>
      </div>
    </div>
        <div class="menucon">
            <h1 class="bigClass">
                <div class="bigClass_l"><img src="../../images/menu_add.gif" ></div>
                <div class="bigClass_r">
                    <p >进销存管理</p>
                </div>
            </h1>
            <div class="content" >
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td><img src="../../images/menu_topline.gif" width="171" height="2" /></td>
                    </tr>
                </table>
                <ul class="subClass">
                    <li><a href="/jinquan/service_list" target="mainFrame">服务管理</a></li>
                    <li><a href="/jinquan/wares_list" target="mainFrame">商品管理</a></li>
                    <li><a href="/jinquan/storeroom_list" target="mainFrame">库房管理</a></li>
                    <li><a href="/jinquan/distributor_list" target="mainFrame">经销商管理</a></li>
                    <li><a href="/jinquan/storeroom_in_list" target="mainFrame">入库管理</a></li>
                    <li><a href="/jinquan/storeroom_out_list" target="mainFrame">出库管理</a></li>
                    <li><a href="/jinquan/storeroom_move_list" target="mainFrame">移库管理</a></li>
                    <li><a href="/jinquan/storeroom_inventory" target="mainFrame">盘点库存</a></li>
                </ul>
            </div>
        </div>

        <div class="menucon">
            <h1 class="bigClass">
                <div class="bigClass_l"><img src="../../images/menu_add.gif" ></div>
                <div class="bigClass_r">
                    <p >权限管理</p>
                </div>
            </h1>
            <div class="content" >
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td><img src="../../images/menu_topline.gif" width="171" height="2" /></td>
                    </tr>
                </table>
                <ul class="subClass">
                    <li><a href="/jinquan/main_classify_list" target="mainFrame">分类管理</a></li>
                    <li><a href="/jinquan/sys_resources_list" target="mainFrame">资源按钮管理</a></li>
                    <li><a href="/jinquan/sys_menu_list" target="mainFrame">菜单管理</a></li>
                    <li><a href="/jinquan/sys_role_list" target="mainFrame">角色管理</a></li>
                    <li><a href="/jinquan/sys_user_list" target="mainFrame">系统用户管理</a></li>
                    <li><a href="/jinquan/sys_user_set" target="mainFrame">个人设置</a></li>
                </ul>
            </div>
        </div>
        <div class="menucon">
            <h1 class="bigClass">
                <div class="bigClass_l"><img src="../../images/menu_add.gif" ></div>
                <div class="bigClass_r">
                    <p >效果样式</p>
                </div>
            </h1>
            <div class="content" >
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td><img src="../../images/menu_topline.gif" width="171" height="2" /></td>
                    </tr>
                </table>
                <ul class="subClass">
                    <li><a href="/jinquan/layui_demo" target="mainFrame">常用组件效果</a></li>
                </ul>
            </div>
        </div>
    
 <script type="text/javascript">
		var contents = document.getElementsByClassName('content');
		var toggles = document.getElementsByClassName('bigClass');
	    var myAccordion = new fx.Accordion(
			toggles, contents, {opacity: true, duration: 400}
   	);
		myAccordion.showThisHideOpen(contents[0]);
	</script>  
    </td>
  </tr>
</table>
</body>
</html>
