<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>回访信息</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">
        function search () {
            var serviceMeetId = document.getElementById('serviceMeetId').value;
            var returnVisitDate = document.getElementById('returnVisitDate').value;
            var returnVisitType = document.getElementById('returnVisitType').value;
            var selectPage = document.getElementById('page').value;
            window.location.href = '/jinquan/return_visit_list?serviceMeetId='+serviceMeetId+'&page='+selectPage+'&returnVisitDate='+returnVisitDate+ '&returnVisitType='+returnVisitType ;
        }
        function pageturning (selectPage) {
            var serviceMeetId = document.getElementById('serviceMeetId').value;
            var returnVisitDate = document.getElementById('returnVisitDate').value;
            var returnVisitType = document.getElementById('returnVisitType').value;
            window.location.href = '/jinquan/return_visit_list?serviceMeetId='+serviceMeetId+'&page='+selectPage+'&returnVisitDate='+returnVisitDate+ '&returnVisitType='+returnVisitType ;
        }
        function show (id) {
            window.location.href = '/jinquan/return_visit_show?id='+id;
        }
        function preEdit (id) {
            window.location.href = '/jinquan/return_visit_preEdit?id='+id;
        }
        function del (id) {
            window.location.href = '/jinquan/return_visit_del?id='+id;
        }

    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：回访信息列表
    </div>
    <div class="zhuxiao"><a href="#" class="zx_sty"></a></div>
</div>
<div class="center_con">
    <div class="butSet">
        <div class="sousuo">
            <table width="100%" class="table4" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td><input id="page" name="page" type="hidden" class="input5" value="<%=data.currentPage%>"/>
                        服务单编号：<input id="serviceMeetId" name="serviceMeetId" type="text" class="input5" value="<%=data.serviceMeetId%>"/></td>
                    <td> &nbsp;回访时间：<input id="returnVisitDate" name="returnVisitDate" type="text" class="input5" value="<%=data.returnVisitDate%>"/></td>
                    <td> &nbsp;回访方式：<input id="returnVisitType" name="returnVisitType" type="text" class="input5" value="<%=data.returnVisitType%>"/> </td>
                    <td><a href="javascript:search()" class="chaxun"></a></td>
                </tr>
            </table>

        </div>
        <div class="but_0"><a href="/jinquan/return_visit_goAdd" class="bsty0"></a></div>
    </div>
    <div class="tabCon">
        <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
            <tr>
                <th>客户名称</th>
                <th>电话</th>
                <th>服务时间</th>
                <th>回访方式</th>
                <th>回访时间</th>
                <th>回访结果</th>
                <th>操作</th>
            </tr>
            <% for (var i=0;i<data.data.length;i++) {%>
            <tr onmouseover="this.className='f_on'" class="f_off"  onmouseout="this.className='f_off'">
                <td><%=data.data[i].name%></td>
                <td><%=data.data[i].tel%></td>
                <td><%=data.data[i].serviceDate%></td>
                <td><%=data.data[i].returnVisitType%></td>
                <td><%=data.data[i].returnVisitDate%></td>
                <td><%=data.data[i].returnVisitResult%></td>
                <td>
                    <table width="100%" border="0" cellspacing="0" class="table_t"  cellpadding="0">
                        <tr>
                            <td><div align="center">[<a href="javascript:show(<%=data.data[i].id%>)">查看</a>]</div></td>
                            <td><div align="center">[<a href="javascript:preEdit(<%=data.data[i].id%>)">修改</a>]</div></td>
                            <!--<td><div align="center">[<a href="javascript:del(<%=data.data[i].id%>)">删除</a>]</div></td>-->
                        </tr>
                    </table>
                </td>
            </tr>
            <%}%>
        </table>

        <%- include ../pagination.html -%>
    </div>
</div>

</body>
</html>
