<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>投诉信息</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">
        function submitForm(){
            var serviceMeetId = document.getElementById("serviceMeetId").value;
            if (!serviceMeetId || serviceMeetId.length == 0) {
                parent.layer.alert('服务单号不能为空');
                return;
            }
            var name = document.getElementById("name").value;
            if (!name || name.length == 0) {
                parent.layer.alert('会员姓名不能为空');
                return;
            }
            var tel = document.getElementById("tel").value;
            if (!tel || tel.length == 0) {
                parent.layer.alert('电话不能为空');
                return;
            }
            var complainPrincipal = document.getElementById("complainPrincipal").value;
            if(!complainPrincipal || complainPrincipal.length == 0) {
                parent.layer.alert('投诉技师不能为空');
                return;
            }
            var complainType = document.getElementById("complainType").value;
            if(!complainType || complainType.length == 0) {
                parent.layer.alert('投诉类型不能为空');
                return;
            }
            var dealPrincipal = document.getElementById("dealPrincipal").value;
            if (!dealPrincipal || dealPrincipal.length == 0) {
                parent.layer.alert('解决人不能为空');
                return;
            }
            var complainDetail = document.getElementById("complainDetail").value;
            if (!complainDetail || complainDetail.length == 0) {
                parent.layer.alert('投诉详情不能为空');
                return;
            }

            document.getElementById("myform").submit();
        }
    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：编辑投诉单
    </div>
</div>
<div class="center_con">
    <form method="post" id="myform" action="/jinquan/complain_add">
        <table width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="regTd_l">服务单号：</td>
                <td class="regTd_r"><input id="serviceMeetId" name="serviceMeetId" type="text" class="input5" readonly="true" value="<%=complain.serviceMeetId%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td  class="regTd_l">会员姓名：</td>
                <td class="regTd_r"><input id="name" name="name" type="text" class="input5" readonly="true" value="<%=complain.name%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">会员电话：</td>
                <td class="regTd_r"><input id="tel" name="tel" type="text" class="input5" readonly="true" value="<%=complain.tel%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">投诉技师：</td>
                <td class="regTd_r"><input id="complainPrincipal" name="complainPrincipal" type="text" class="input5" readonly="true" value="<%=complain.complainPrincipal%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">投诉类型：</td>
                <td class="regTd_r">
                    <select id="complainType" name="complainType">
                        <option value="0">请选择</option>
                        <option value="1">发牢骚</option>
                        <option value="2">退钱</option>
                        <option value="3">换技师</option>
                    </select>
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">解决人：</td>
                <td class="regTd_r"><input id="dealPrincipal" name="dealPrincipal" type="text" class="input5" readonly="true" value="<%=complain.dealPrincipal%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">投诉详情：</td>
                <td class="regTd_r" colspan="3">
                    <textarea id="complainDetail" name="complainDetail" rows="6" cols="100"><%=complain.complainDetail%></textarea>
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
        </table>
    </form>
    <div class="reg_but">
        <div class="rb_l"><a href="javascript:;" onclick="submitForm()" class="reset"></a></div>
        <div class="rb_l"><a href="/jinquan/complain_list" class="close"></a></div>
    </div>


</div>
</body>
</html>
