<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>投诉信息</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <script type="application/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">
        var iframIndex ;
        //此处应该选择护理服务单
        //获取服务单信息
        function getServiceMeets(){
            //iframe层
            iframIndex = parent.layer.open({
                type: 2,
                title: '选择预约服务单信息',
                shadeClose: true,
                shade: 0.8,
                area: ['80%', '90%'],
                content: '/jinquan/nurs_service_list_select?1=1&status=5&isSelect=true', //iframe的url
                success: function(layero, index){
                },
                close: function(d){
                }
            });
        }
        //获取技师信息
        function getmembers(index){
            //iframe层
            memberIndex = parent.layer.open({
                type: 2,
                title: '选择员工信息',
                shadeClose: true,
                shade: 0.8,
                area: ['80%', '90%'],
                content: '/jinquan/staff_select_servicemeet?index='+'complainAdd', //iframe的url
                success: function(layero, index){
                },
                close: function(d){
                }
            });
        }
        function submitForm(){
            //服务单号
            if($("#nursServiceNo").val() == ''){
                parent.layer.alert('请选择服务单号。',{icon: 2});
                return;
            }
            //投诉技师
            if($("#complainPrincipal").val() == ''){
                parent.layer.alert('请选择投诉技师。',{icon: 2});
                return;
            }
            //投诉类型
            if($("#complainType").val() == ''){
                parent.layer.alert('请选择投诉类型。',{icon: 2});
                return;
            }
            //投诉详情
            if($("#complainDetail").val() == ''){
                parent.layer.alert('请选择投诉详情。',{icon: 2});
                return;
            }

            document.getElementById("myform").submit();
        }
        //根据服务单id获取该服务单下参与服务的所有技师
        function getPrincipalsByServiceId(serviceId){
            $.ajax({
                type: "post",
                url: "/jinquan/nurs_service_getPrincipals_serviceId",
                data: {'serviceId':serviceId},
                success: function (result) {
                    var complainPrincipalList =  eval('(' + result + ')');
                    //for each遍历往“投诉技师”下拉框中添加
                    jQuery("#complainPrincipal").empty();
                    jQuery("#complainPrincipal").append("<option value=''>请选择</option>");
                    for (var i=0;i<complainPrincipalList.length;i++)
                    {
                        jQuery("#complainPrincipal").append("<option value='"+complainPrincipalList[i].staffId+"'>"+complainPrincipalList[i].staffName+"</option>");
                    }
                }
            });

        }
    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：编辑投诉单
    </div>
</div>
<div class="center_con">
    <form method="post" id="myform" action="/jinquan/complain_save">
        <table width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="regTd_l">服务单号：</td>
                <td class="regTd_r">
                    <input id="complainId" name="complainId" type="hidden"  value="<%=complain.id%>" />
                    <input id="nursServiceNo" name="nursServiceNo" type="text" class="input5" <%if(complain.nursServiceNo == null){%> onfocus="getServiceMeets()"<%}else{%>readonly<%}%> value="<%=complain.nursServiceNo%>" />
                    <input id="nursServiceId" name="nursServiceId" type="hidden" value="<%=complain.nursServiceId%>" />
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td  class="regTd_l">会员姓名：</td>
                <td class="regTd_r">
                    <input id="memberName" name="memberName" value="<%=complain.name%>" readonly="true" type="text" class="input5"/>&nbsp;&nbsp;
                    <span style="color:#FF0000;">*</span>
                </td>
            </tr>
            <tr>
                <td class="regTd_l">会员电话：</td>
                <td class="regTd_r"><input id="tel" name="tel" value="<%=complain.tel%>" readonly="true" type="text" class="input5" readonly="true" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">投诉技师：</td>
                <td class="regTd_r">
                    <select id="complainPrincipal" name="complainPrincipal" <%if(complain.complainStaff != null){%>disabled<%}%> >
                        <option value="">请选择</option>
                        <%
                        if(complain.complainStaff != null){
                            %><option value="<%=complain.complainStaffId%>" selected><%=complain.complainStaff%></option> <%
                        }
                        %>
                    </select>
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">投诉类型：</td>
                <td class="regTd_r">
                    <select id="complainType" name="complainType">
                        <option value="" <%if(complain.complainType == ''){%>selected<%}%>>请选择</option>
                        <option value="1" <%if(complain.complainType == '1'){%>selected<%}%>>发牢骚</option>
                        <option value="2" <%if(complain.complainType == '2'){%>selected<%}%>>退钱</option>
                        <option value="3" <%if(complain.complainType == '3'){%>selected<%}%>>换技师</option>
                    </select>
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">解决人：</td>
                <td class="regTd_r">
                    <input id="staffId" name="staffId" type="hidden"   class="input5" />
                    <input id="dealPrincipal" name="dealPrincipal" value="<%=complain.solveStaff%>" type="text" class="input5"
                        <%if(complain.solveStaff == null){%> onfocus="getmembers()"<%}else{%>readonly<%}%> />
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">投诉详情：</td>
                <td class="regTd_r" colspan="3">
                    <textarea id="complainDetail" name="complainDetail" rows="6" cols="100"><%=complain.complainDetail%></textarea>
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
        </table>
    </form>
    <div class="reg_but">
        <%

        if(show == ''){
            %><div class="rb_l"><a href="javascript:;" onclick="submitForm()" class="reset"></a></div><%
        }
        %>
        <div class="rb_l"><a href="/jinquan/complain_list" class="close"></a></div>
    </div>


</div>
</body>
</html>
