<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>选择预约服务单</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>

    <script type="text/javascript">
        function search () {
            var selectPage = document.getElementById('page').value;
            var phone = document.getElementById('phone').value;
            var name = document.getElementById('name').value;
            var meetTime = document.getElementById('meetTime').value;
            var status = document.getElementById('status').value;
            window.location.href = '/jinquan/service_meet_list?phone='+phone+'&page='+selectPage+'&name='+name+ '&meetTime='+meetTime+ '&status='+status ;
        }
        function pageturning (selectPage) {

            var phone = document.getElementById('phone').value;
            var name = document.getElementById('name').value;
            var meetTime = document.getElementById('meetTime').value;
            var status = document.getElementById('status').value;
            window.location.href = '/jinquan/service_meet_list?phone='+phone+'&page='+selectPage+'&customerName='+name+ '&meetStartTime='+meetTime ;
        }
        //选择该商品
        function select(serviceMeet){
            window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('serviceMeetId').value=serviceMeet.id;
            window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('name').value=serviceMeet.name;
            window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('tel').value=serviceMeet.tel;
            window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('complainPrincipal').value=serviceMeet.principal;

            var index = parent.layer.getFrameIndex(window.name); //获取当前窗体索引
            parent.layer.close(index); //执行关闭

        }

    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：已回访服务列表
    </div>
    <div class="zhuxiao"><a href="#" class="zx_sty"></a></div>
</div>
<div class="center_con">
    <div class="butSet">
        <div class="sousuo">
            <table width="100%" class="table4" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td> &nbsp;客户名称：<input id="name" name="name" type="text" class="input5" value="<%=data.name%>" /></td>
                    <td><input id="page" name="page" type="hidden" class="input5" value="<%=data.currentPage%>"/>
                        电话：<input id="phone" name="phone" type="text" class="input5" value="<%=data.phone%>" /></td>
                    <td> &nbsp;预约时间：<input id="meetTime" name="meetTime" type="text" class="input5" value="<%=data.meetTime%>"/></td>
                    <td><a href="javascript:search()" class="chaxun"></a></td>
                </tr>
            </table>

        </div>
    </div>
    <div class="tabCon">
        <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
            <tr>
                <th>客户名称</th>
                <th>电话</th>
                <th>预约时间</th>
                <th>技师</th>
                <th>操作</th>
            </tr>
            <% for (var i=0;i<data.data.length;i++) {%>

            <tr onmouseover="this.className='f_on'" class="f_off"  onmouseout="this.className='f_off'">
                <td><%=data.data[i].name%></td>
                <td><%=data.data[i].tel%></td>
                <td><%=data.data[i].meetTime%></td>
                <td><%=data.data[i].principal%></td>
                <td>
                    <table width="100%" border="0" cellspacing="0" class="table_t"  cellpadding="0">
                        <tr>
                            <td><div align="center"><img src="../../images/index_2.jpg" width="9" height="9" />&nbsp;[<a href="javascript:select(<%=JSON.stringify(data.data[i])%>)">选择预约服务单</a>]</div></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <%}%>
        </table>

        <%- include ../pagination.html -%>
    </div>
</div>

</body>
</html>
