<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>会员列表</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
</head>

<script type="text/javascript">
    function search () {
        var selectPage = document.getElementById('page').value;
        var serialNumber = document.getElementById('serialNumber').value;
        var memberName = document.getElementById('memberName').value;
        var tel = document.getElementById('tel').value;
        window.location.href = '/jinquan/member_list?serialNumber='+serialNumber+'&page='+selectPage+'&memberName='+memberName+'&tel='+tel;
    }
    function pageturning (selectPage) {
        var selectPage = document.getElementById('page').value;
        var serialNumber = document.getElementById('serialNumber').value;
        var memberName = document.getElementById('memberName').value;
        var tel = document.getElementById('tel').value;
        window.location.href = '/jinquan/member_list?serialNumber='+serialNumber+'&page='+selectPage+'&memberName='+memberName+'&tel='+tel;
    }

    function show (id) {
        window.location.href = '/jinquan/member_show?id='+id;
    }
    function preEdit (id) {
        window.location.href = '/jinquan/member_preEdit?id='+id;
    }
    function del (id) {
        window.location.href = '/jinquan/member_del?id='+id;
    }

</script>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：会员管理列表
    </div>
    <div class="zhuxiao"><a href="#" class="zx_sty"></a></div>
</div>

<div class="center_con">
    <div class="butSet">
        <div class="sousuo">
            <table width="100%" class="table4" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td><input id="page" name="page" type="hidden" class="input5" value="<%=data.currentPage%>"/>卡号：<input id="serialNumber" name="serialNumber" type="text" class="input5" /></td>
                    <td> &nbsp;会员名称：<input id="memberName" name="memberName" type="text" class="input5" /></td>
                    <td> &nbsp;会员电话：<input id="tel" name="tel" type="text" class="input5" /></td>
                    <td><a href="javascript:search()" class="chaxun"></a></td>
                </tr>
            </table>

        </div>
        <div class="but_0"><a href="/jinquan/member_goAdd" class="bsty0"></a></div>
    </div>
    <div class="tabCon">
        <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
            <tr>
                <th width="15%">卡号</th>
                <th width="30%">名称</th>
                <th width="30%">电话</th>
                <th width="10%">会员卡类型</th>
                <th width="20%">操作</th>
            </tr>
            <% for (var i=0;i<data.data.length;i++) {%>
            <tr onmouseover="this.className='f_on'" class="f_off"  onmouseout="this.className='f_off'">
                <td><%=data.data[i].serialNumber%></td>
                <td><%=data.data[i].memberName%></td>
                <td><%=data.data[i].tel%></td>
                <td><%=data.data[i].type%></td>
                <td>
                    <table width="100%" border="0" cellspacing="0" class="table_t"  cellpadding="0">
                        <tr>
                            <td><div align="center"><img src="../../images/index_2.jpg" width="9" height="9" />&nbsp;[<a href="javascript:show(<%=data.data[i].id%>)">查看</a>]</div></td>
                            <td><div align="center"><img src="../../images/037.gif" width="9" height="9" />&nbsp;[<a href="javascript:preEdit(<%=data.data[i].id%>)">编辑</a>]</div></td>
                            <td><div align="center"><img src="../../images/delete.gif" width="9" height="9" />&nbsp;[<a href="javascript:del(<%=data.data[i].id%>)">删除</a>]</div></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <%}%>
        </table>

        <%- include ../pagination.html -%>
    </div>
</div>

</body>
</html>
