<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>增加收费单</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <script type="application/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="application/javascript" src="../../js/layer/layer.js"></script>
    <script type="application/javascript" src="../../js/laydate/laydate.js"></script>
    <script type="application/javascript" src="../../js/qiehuan.js"></script>
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">
        var iframIndex ;

        function getMenber(){//选择会员
            //iframe层
            iframIndex = parent.layer.open({
                type: 2,
                title: '选择会员卡信息',
                shadeClose: true,
                shade: 0.8,
                area: ['80%', '90%'],
                content: '/jinquan/member_card_select?isActivation=1&type=1', //iframe的url
                success: function(layero, index){
                },
                close: function(d){
                }
            });
        }
        //提交表单
        function submitForm(){

            if($('#actualMoney').val() == ''){
                parent.layer.alert("请填写充值金额。",{icon: 2});
                return;
            }
            if($('#discountMoney').val() == ''){
                parent.layer.alert("请填写赠送金额。",{icon: 2});
                return;
            }

            var payType = $('#payType').val();//付费方式
            if($('#payType').val() == ''){
                parent.layer.alert('请选择付费方式。',{icon: 2});
                return;
            }
            document.getElementById("myform").submit();

        }

        function changeFrom(doc) { //1、护理；2、课程；3、商品；4、购买会员卡；5、内购；6、会员卡续费
            var chargeType = doc.value;
            window.location.href = "/jinquan/money_manage_edit?&chargeType="+chargeType;
        }
        //设置应收金额、优惠金额、最终收费金额
        function setReceivableMoney() {
            var actualMoney = $('#actualMoney').val();//实收金额
            var discountMoney = $('#discountMoney').val();//赠送金额
            $('#receivableMoney').val(Number(actualMoney)+Number(discountMoney));//赠送金额
            $('#finalActualMoney').val(actualMoney);//赠送金额
        }

    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：会员续费
    </div>
</div>
<div class="center_con">
    <form method="post" id="myform" action="/jinquan/money_manage_save">
        <table width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="regTd_l">收费项目：</td>
                <td class="regTd_r">
                    <select id="chargeType" name="chargeType" onchange="changeFrom(this)">
                        <option value="1" <%if(chargeType == '1'){%>selected<%}%>>购买会员卡</option>
                        <option value="2" <%if(chargeType == '2'){%>selected<%}%>>护理收费</option>
                        <option value="3" <%if(chargeType == '3'){%>selected<%}%>>上课付费</option>
                        <option value="4" <%if(chargeType == '4'){%>selected<%}%>>仅商品购买</option>
                        <option value="5" <%if(chargeType == '5'){%>selected<%}%>>仅服务次卡</option>
                        <option value="6" <%if(chargeType == '6'){%>selected<%}%>>员工内购</option>
                        <option value="7" <%if(chargeType == '7'){%>selected<%}%>>会员续费</option>
                    </select>
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td  class="regTd_l">会员名称：</td>
                <td class="regTd_r">
                    <input id="memberName" type="text" name="memberName" onfocus="getMenber()" onchange="alert('2323')"/>
                    <input id="memberId" name="memberId" type="hidden"/>
                    <input id="memberCardId" name="memberCardId" type="hidden"/>
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span>
                </td>
            </tr>
            <tr>
                <td  class="regTd_l">会员卡名称：</td>
                <td class="regTd_r">
                    <input type="text" id="cardTypeName" name="cardTypeName" readonly/>
                </td>
                <td class="regTd_l">会员卡类型：</td>
                <td class="regTd_r">
                    <input type="text" id="memberCartTypeVal" name="memberCartTypeVal" readonly/>
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td  class="regTd_l">卡内费用：</td>
                <td class="regTd_r">
                    <input type="text" id="thisTimeMoney" name="thisTimeMoney" readonly/>
                </td>
                <td class="regTd_l">充值优惠：</td>
                <td class="regTd_r">
                    <input type="text" id="reductionDes" name="reductionDes" readonly/>
            </tr>
            <tr>
                <td  class="regTd_l">充值金额：</td>
                <td class="regTd_r">
                    <input type="text" id="actualMoney" name="actualMoney" onchange="setReceivableMoney()"/><!-- 实收金额 -->
                    <input type="hidden" id="receivableMoney" name="receivableMoney"/><!-- 应收金额 -->
                    <input type="hidden" id="finalActualMoney" name="finalActualMoney"/><!-- 最终实收金额 -->
                </td>
                <td  class="regTd_l">赠送金额：</td>
                <td class="regTd_r">
                    <input type="text" id="discountMoney" name="discountMoney" onchange="setReceivableMoney()"/><!-- 优惠金额 -->
                </td>
            </tr>
            <tr>
                <td  class="regTd_l">为0后折扣：</td>
                <td class="regTd_r">
                    <input type="text" id="zeroDiscounts" name="zeroDiscounts" readonly/>
                </td>
                <td  class="regTd_l">付费方式：</td>
                <td class="regTd_r">
                    <select id="payType" name="payType" onchange="changePayType()">
                        <option value="">请选择</option>
                        <!--
                        <option value="0">延迟付费</option>
                        -->
                        <option value="1">现金</option>
                        <option value="2">微信</option>
                        <option value="3">支付宝</option>
                    </select>
                </td>
            </tr>
        </table>
        <!-- 收费信息 end -->
    </form>
    <div class="reg_but">
        <div class="rb_l"><a href="javascript:;" onclick="submitForm()" class="reset"></a></div>
        <div class="rb_l"><a href="/jinquan/money_manage_list" class="close"></a></div>
    </div>


</div>
</body>
</html>
