<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>增加收费单</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <script type="application/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="application/javascript" src="../../js/layer/layer.js"></script>
    <script type="application/javascript" src="../../js/laydate/laydate.js"></script>
    <script type="application/javascript" src="../../js/qiehuan.js"></script>
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">
        var iframIndex ;
        //选择服务
        function getServices(index){
            //iframe层
            iframIndex = parent.layer.open({
                type: 2,
                title: '选择服务',
                shadeClose: true,
                shade: 0.8,
                area: ['80%', '90%'],
                content: '/jinquan/service_select_activity?index='+index, //iframe的url
                success: function(layero, index){

                },
                close: function(d){

                }
            });
        }
        //选择商品
        function getWares(index){
            //iframe层
            iframIndex = parent.layer.open({
                type: 2,
                title: '选择商品',
                shadeClose: true,
                shade: 0.8,
                area: ['80%', '90%'],
                content: '/jinquan/wares_select?index='+index, //iframe的url
                success: function(layero, index){

                },
                close: function(d){

                }
            });
        }

        function getServiceMeet(){//选择预约单
            //iframe层
            iframIndex = parent.layer.open({
                type: 2,
                title: '选择预约单信息',
                shadeClose: true,
                shade: 0.8,
                area: ['80%', '90%'],
                content: '/jinquan/service_meet_select?status=3', //iframe的url,状态为3的预约单为“已接受服务”
                success: function(layero, index){
                },
                close: function(d){
                }
            });
        }
        //选择技师
        function getmembers(index){
            index = index == null ? "" :index;
            //iframe层
            memberIndex = parent.layer.open({
                type: 2,
                title: '选择技师',
                shadeClose: true,
                shade: 0.8,
                area: ['80%', '90%'],
                content: '/jinquan/staff_select_servicemeet?index='+index, //iframe的url
                success: function(layero, index){
                },
                close: function(d){
                }
            });
        }
        //提交表单
        function submitForm(){

            // 判断该表单中 是否有相同的 商品
            var arr_proId = document.getElementsByName('proId');
            var arr = new Array();
            for(var i=0;i<arr_proId.length;i++) {
                arr.push(arr_proId[i].value);
            }
            //排序
            var nary=arr.sort();
            for (var i=0;i<arr.length;i++) {
                if (nary[i]==nary[i+1]){
                    parent.layer.alert('商品中有两条数据相同，请查证后提交！',{icon: 2});
                    return;
                }
            }


            var arr_proname = document.getElementsByName('proname');
            for (var i=0;i<arr_proname.length;i++) {
                if(arr_proname[i].value == '') {
                    var n = i+1;
                    parent.layer.alert('商品详情第'+n+'行产品名称不能为空',{icon: 2});
                    return;
                }
            }

            var arr_count = document.getElementsByName('count');
            for (var i=0;i<arr_count.length;i++) {
                if(arr_count[i].value == '') {
                    var n = i+1;
                    parent.layer.alert('商品详情第'+n+'行商品数量不能为空',{icon: 2});
                    return;
                }
            }

            var arr_price = document.getElementsByName('price');
            for (var i=0;i<arr_price.length;i++) {
                if(arr_price[i].value == '') {
                    var n = i+1;
                    parent.layer.alert('商品详情第'+n+'行商品单价不能为空',{icon: 2});
                    return;
                }
            }
            var payType = $('#payType').val();//付费方式
            if($('#payType').val() == '0'){
                $('#actualMoney').val("0");
            }else{
                //实付金额应该等于活动后应收金额
                if($('#finalActualMoney').val() != $('#actualMoney').val()){
                    parent.layer.alert('"实付金额"应该等于"最终应收"',{icon: 2});
                    return;
                }
            }
            document.getElementById("myform").submit();

        }

        //table中增加需要添加的行信息
        function addWaresTr(){
            //获取表格对象
            var table=document.getElementById("waresTable");
            //获取当前行数
            var waresIndex = $("#waresTable tr").length;
            var row=table.insertRow(waresIndex);
            var cell1=row.insertCell(0);//商品名称
            var cell2=row.insertCell(1);//商品编号
            var cell3=row.insertCell(2);//采购数量
            var cell4=row.insertCell(3);//商品单价
            var cell5=row.insertCell(4);//小计
            var cell6=row.insertCell(5);//优惠价格
            var cell7=row.insertCell(6);//商品id
            var cell8=row.insertCell(7);//商品id
            cell1.innerHTML = '<input id="proname'+waresIndex+'"  name="proname" type="text" class="input5 input_arr" onfocus="getWares('+waresIndex+')"  readonly/>';
            cell2.innerHTML='<input id="proNo'+waresIndex+'" name="proNo" type="text" class="input5 input_arr" readonly="true"/>';
            cell3.innerHTML='<input id="count'+waresIndex+'" name="count" type="text" class="input5 input_arr" onblur="getSubtotal()"/>';
            cell4.innerHTML='<input id="price'+waresIndex+'" name="price" type="text" class="input5 input_arr" readonly="true"/>';
            cell5.innerHTML='<input id="subtotal'+waresIndex+'" name="subtotal" type="text" class="input5 input_arr" readonly="true"/>';
            cell6.innerHTML='<input id="lessMoney'+waresIndex+'" name="lessMoney" type="text" class="input5 input_arr" readonly="true"/>';
            cell7.innerHTML='<a style="cursor: pointer" onclick="javaScript:delTr(this,2)"><h1>-</h1></a>';
            cell8.innerHTML='<input id="proId'+waresIndex+'" name="proId" type="hidden" class="input5 input_arr" />';
        }
        //table中增加需要添加的行信息
        function addServicesTr(staffId,staffName){
            if($("#nursServiceId").val() == ""){
                parent.layer.alert('请先选择服务单：）',{icon: 2});
                return;
            }
            //获取表格对象
            var table=document.getElementById("servicesTable");
            //获取当前行数
            var serviceIndex = $("#servicesTable tr").length;
            var row=table.insertRow(serviceIndex);
            var cell1=row.insertCell(0);//服务名称
            var cell2=row.insertCell(1);//服务描述
            var cell3=row.insertCell(2);//消费数量
            var cell4=row.insertCell(3);//服务单价
            var cell5=row.insertCell(4);//小计
            var cell6=row.insertCell(5);//优惠价格
            var cell7=row.insertCell(6);//删除服务
            var cell8=row.insertCell(7);//服务id
            var cell9=row.insertCell(8);//服务id
            var cell10=row.insertCell(9);//服务id
            cell1.innerHTML = '<input id="serviceName'+serviceIndex+'"  name="serviceName" type="text" class="input5 input_arr"  style="width: 90px;" onfocus="getServices('+serviceIndex+')"  readonly/>';
            cell2.innerHTML='<input id="serviceContent'+serviceIndex+'" name="serviceContent" type="text" class="input5 input_arr" style="width: 90px;" readonly="true"/>';
            cell3.innerHTML='<input id="servicePrice'+serviceIndex+'" name="servicePrice" type="text" class="input5 input_arr" style="width: 60px;" readonly="true"/>';
            cell4.innerHTML='<input id="serviceCount'+serviceIndex+'" name="serviceCount" type="text" class="input5 input_arr" style="width: 60px;" onblur="getSubtotal()"/>';
            cell5.innerHTML='<input id="serviceSubtotal'+serviceIndex+'" name="serviceSubtotal" type="text" class="input5 input_arr" style="width: 70px;" readonly="true"/>';
            cell6.innerHTML='<input id="serviceLessMoney'+serviceIndex+'" name="serviceLessMoney" type="text" class="input5 input_arr" style="width: 70px;" readonly="true"/>';
            cell7.innerHTML='<input id="serviceStaffName'+serviceIndex+'" name="serviceStaffName" type="text" class="input5 input_arr" style="width: 80px;" value="'+staffName+'" onfocus="getmembers('+serviceIndex+')" readonly/>' +
                            '<input id="serviceStaffId'+serviceIndex+'" name="serviceStaffId" type="hidden" class="input5 input_arr" readonly="true" value="'+staffId+'"/>';
            cell8.innerHTML='<input id="serviceTraineeName'+serviceIndex+''+serviceIndex+'" name="serviceTraineeName" type="text" class="input5 input_arr" style="width: 80px;" onfocus="getmembers('+serviceIndex+''+serviceIndex+')" readonly/>' +
                    '<input id="serviceTraineeId'+serviceIndex+''+serviceIndex+'" name="serviceTraineeId" type="hidden" class="input5 input_arr" readonly="true"/>';
            cell9.innerHTML='<a style="cursor: pointer" onclick="javaScript:delTr(this,1)"><h1>-</h1></a>';
            cell10.innerHTML='<input id="serviceId'+serviceIndex+'" name="serviceId" type="hidden" class="input5 input_arr" />';

        }
        /**
         * table中删除选中的行数据
         * delObj：删除指定行
         * delTemp：删除那个表格:1服务表；2：商品表格
         */

        function delTr(delObj,delIndex){
            var deltr = delObj.parentNode.parentNode;
            if(delIndex == 1){//从服务table中删除行
                $('#servicesTable tr:eq('+deltr.rowIndex+')').remove();
            }else if(delIndex == 2){//从商品table中删除行
                $('#waresTable tr:eq('+deltr.rowIndex+')').remove();
            }
            getSubtotal();
        }
        //选择会员后处理事件
        function activationActivity(){
            inActivity = false;
            var memberName = $('#memberName').val;
            if(memberName == ''){
                $('#availableActivity').attr("disabled",true);
            }else{
                $('#availableActivity').attr("disabled",false);
            }
            activityPreferential();
        }

        function changeFrom(doc) { //1、护理；2、课程；3、商品；4、购买会员卡；5、内购；6、会员卡续费
            var chargeType = doc.value;
            window.location.href = "/jinquan/money_manage_edit?&chargeType="+chargeType;
        }

        //变更付费方式后，对应付金额的的影响
        function changePayType(){
            var payType = $('#payType').val();//付费方式
            if($('#payType').val() == '0'){
                //延期付费，收款状态为未收款
                //实付金额设为0，并不可编辑
                $('#actualMoney').attr("disabled",true);
                $('#actualMoney').val("0");
            }else{
                $('#actualMoney').attr("disabled",false);
            }
        }

        /**
         * 这些变量应为数据集合
         * 定义全局某活动所参与的商品
         * 定义全局某活动所参与的课程
         * 定义全局某活动所参与的会员
         * 定义全局某活动所参与的服务
         * 定义全局某活动所参与的会员卡种类
         */
        var proIds,courseIds,memberIds,serviceIds,memberCardType = "";
        var inActivity = false;//是否参与活动

        /**
         * 计算每行商品的小计
         * 设置应收总金额、活动后金额、活动优惠金额
         */
        function getSubtotal(){
            var discount = 1;
            //查看所用折扣劵情况
            var lessLevel = $('#lessLevel').val() ;//活动打折/减免项目
            if(inActivity && lessLevel != ''){
                discount = lessLevel;
            }else{
                discount = 0;
            }
            //遍历已选择商品，判断每个商品是否可以打折，如果可以，则计算出折扣后金额
            var receivableMoneys = 0,activityDiscountMoney = 0;//活动优惠价格
            var arr_proId = document.getElementsByName('proId');
            for(var i=1;i<=arr_proId.length;i++) {
                var proId = $('#proId'+i).val();//当前商品id
                var proCount = $('#count'+i).val();//当前商品购买数量
                var proPrice = $('#price'+i).val();//当前商品单价
                $('#subtotal'+i).val(Number(proCount) * Number(proPrice));//当前商品小计
                receivableMoneys += Number(proCount) * Number(proPrice);
                if(proCount == ''){
                    continue;
                }
                if(inActivity && lessLevel != ''){
                    discount = lessLevel;
                }
                var activityPro = false;
                if(proIds != undefined){//没有选择活动时，不计算折扣信息
                    var activityProIds = proIds.split(",");
                    for(var p = 0 ; p < activityProIds.length ; p ++){
                        if(proId == activityProIds[p]){//如果该商品参与活动
                            activityPro = true;
                            break;
                        }
                    }
                    if(!activityPro){
                        discount = 0;//不参与优惠计算
                    }
                }else{
                    discount = 0;//不参与优惠计算
                }
                $('#lessMoney'+i).val("-"+ForDight(proCount * proPrice * discount,2));//当前商品优惠后价格
                activityDiscountMoney += ForDight(proCount * proPrice * discount,2);
            }
            //遍历已选择的服务，判断每个服务是否可以打折，如果可以，则计算出折扣后金额
//            var receivableMoneys = 0,activityDiscountMoney = 0;//活动优惠价格
            var arr_serviceId = document.getElementsByName('serviceId');
            for(var i=1;i<=arr_serviceId.length;i++) {
                var serviceId = $('#serviceId'+i).val();//当前服务id
//                alert("serviceId="+serviceId);
                var serviceCount = $('#serviceCount'+i).val();//当前服务次数
                var servicePrice = $('#servicePrice'+i).val();//当前服务单价
                $('#serviceSubtotal'+i).val(Number(serviceCount) * Number(servicePrice));//当前商品小计


                receivableMoneys += Number(serviceCount) * Number(servicePrice);
                if(serviceCount == ''){
                    continue;
                }
                if(inActivity && lessLevel != ''){
                    discount = lessLevel;
                }
                var activityService = false;
                if(serviceIds != undefined){//没有选择活动时，不计算折扣信息
                    var activityServices = serviceIds.split(",");
                    for(var s = 0 ; s < activityServices.length ; s ++){
//                        alert("检查有没有符合的服务信息"+serviceIds);
                        if(serviceId == activityServices[s]){//如果该服务参与活动
                            activityService = true;
                            break;
                        }
                    }
                    if(!activityService){
                        discount = 0;//不参与优惠计算
                    }
                }else{
                    discount = 0;//不参与优惠计算
                }
                $('#serviceLessMoney'+i).val("-"+ForDight(serviceCount * servicePrice * discount,2));//当前商品优惠后价格
                activityDiscountMoney += ForDight(serviceCount * servicePrice * discount,2);
            }
            //设置应收总金额、活动后金额、活动优惠金额
            $('#receivableMoney').val(ForDight(receivableMoneys,2));
            $('#activityDiscountMoney').val(ForDight(activityDiscountMoney,2));
            var activityActualMoneyVal = receivableMoneys - activityDiscountMoney;
            $('#activityActualMoney').val(ForDight(activityActualMoneyVal,2));//活动后应收金额

//            //计算折上折情况
            var discountsVal = $("#discounts").val();//折上折力度

            $("#discountsMoney").val(ForDight((activityActualMoneyVal*(1-discountsVal)),2));//折扣卡优惠费用
            $("#finalActualMoney").val(ForDight((activityActualMoneyVal*discountsVal),2));//折上折力度
        }

        /**
         * 选择活动后
         * 1、将该活动的商品、会员、课程、服务信息、可与哪些种会员卡享受同等待遇全部为全局变量赋值
         * 2、异步获取该活动所有的打折信息
         */
        function asyGetActivity(activityId) {
            var activityId = activityId.value;
            if(activityId == ''){
                //用户选择“请选择”，不做处理
                return ;
            }

            $.ajax({
                type: "post",
                url: "/jinquan/ajax_activity_manage_by_id",
                data: {'activityId':activityId},
                success: function (result) {
                    var activityManageMxList =  result.activityManageMx;
                    var activityData =  result.activity;
                    proIds = activityData.proIds;
//                    courseIds = activityData.courseIds;
                    memberIds = activityData.memberIds;
                    serviceIds = activityData.serviceIds;
                    memberCardType = activityData.memberCardType;
                    //for each遍历往“减免力度”下拉框中添加
                    jQuery("#lessLevel").empty();
                    jQuery("#lessLevel").append("<option value=''>请选择</option>");
                    for (var i=0;i<activityManageMxList.length;i++)
                    {
                        jQuery("#lessLevel").append("<option value='"+activityManageMxList[i].activityDynamicsVal+"'>"+activityManageMxList[i].activityDynamics+"</option>");
                    }
                    activityPreferential();//计算活动优惠情况
                }
            });

        }

        /**
         * 计算活动优惠方法
         * 1、判断会员是否享受活动折扣
         * 2、如果享受活动，当选择活动明细后，对应商品明细后计算出“优惠金额”（活动、课程、服务等）
         * 3、为应收金额、活动后金额、活动优惠金额赋值
         */
        function activityPreferential(){
            var memberId = $('#memberId').val() ;//会员id
//            var lessLevel = $('#lessLevel').val() ;//活动打折/减免项目
            if(memberId == '' ){
                inActivity = false;
                //如果会员id或减免力度为空，则不做成处理
                return false;
            }
            //判断会员是否享受折扣活动
            if(memberIds == undefined){
                inActivity = false;
                return false;
            }
            var memberIdArr = memberIds.split(",");
            var memberHaveActivity = false;
            for(var m = 0 ; m < memberIdArr.length ; m ++){
                memberId = $('#memberId').val() ;//会员id
                if(memberIdArr[m] == memberId) {
                    memberHaveActivity = true;
                    $('#inActivityId').show();
                    $('#outActivityId').hide();
                    inActivity = true;
                    break;
                }
            }
            //显示会员是否可参与活动
            if(!memberHaveActivity){
                $('#outActivityId').show();
                $('#inActivityId').hide();
                inActivity = false;
            }
            //判断是否可用折扣卡、或者服务此卡
            var memberCardTypeArr = memberCardType.split(",");
            var memberType = $("#memberType").val();
            for(var i = 0 ; i < memberCardTypeArr.length ; i ++){
                //如果用户有打折卡
                if(memberCardTypeArr[i] == memberType){
                    $("#discounts").append("<option value='0.8'>8折</option>");
                }
            }
            getSubtotal();//计算每个商品的费用
        }
        /**
         * 当开始服务时间变化时，动态变更下拉框显示信息
         */
        function changeServiceTime(){
            var serviceTime = $("#serviceTime").val();
            var serviceStartTimeHH = serviceTime.split(":")[0];
            var serviceStartTimeSS = serviceTime.split(":")[1];
            $("#serviceStartTimeHH option").each(function() {
                if ($(this).text() == serviceStartTimeHH) {
                    $(this).attr("selected", "selected");
                }
            });
            $("#serviceStartTimeSS option").each(function() {
                if ($(this).text() == serviceStartTimeSS) {
                    $(this).attr("selected", "selected");
                }
            });
        }
    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：护理收费
    </div>
</div>
<div class="center_con">
    <form method="post" id="myform" action="/jinquan/money_manage_save">
        <table width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="regTd_l">收费项目：</td>
                <td class="regTd_r">
                    <select id="chargeType" name="chargeType" onchange="changeFrom(this)" disabled>
                        <option value="1" <%if(chargeType == '1'){%>selected<%}%>>购买会员卡</option>
                        <option value="2" <%if(chargeType == '2'){%>selected<%}%>>护理收费</option>
                        <option value="3" <%if(chargeType == '3'){%>selected<%}%>>上课付费</option>
                        <option value="4" <%if(chargeType == '4'){%>selected<%}%>>仅商品购买</option>
                        <option value="5" <%if(chargeType == '5'){%>selected<%}%>>仅服务次卡</option>
                        <option value="6" <%if(chargeType == '6'){%>selected<%}%>>员工内购</option>
                        <option value="7" <%if(chargeType == '7'){%>selected<%}%>>会员续费</option>
                    </select>暂时仅开放护理收费
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td  class="regTd_l">服务单号：</td>
                <td class="regTd_r">
                    <input id="nursServiceId" type="text" name="nursServiceId" onfocus="getServiceMeet()" onblur="activationActivity()" />
                    <input id="serviceMeetId" type="hidden" name="serviceMeetId"/>
                    <input id="memberId" name="memberId" type="hidden"/>
                    <input id="memberType" name="memberType" type="hidden"/>
                    &nbsp;&nbsp;<span id="inActivityId" style="color:#05ff00;;display:none">可参与活动</span><span id="outActivityId" style="color:#ff0505;display:none">不可参与活动</span>
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span>
                </td>
            </tr>
            <tr>
                <td  class="regTd_l">会员名称：</td>
                <td class="regTd_r">
                    <input id="name" type="text" name="name"/>
                </td>
                <td  class="regTd_l">会员电话：</td>
                <td class="regTd_r">
                    <input id="tel" type="text" name="tel"/>
                </td>
            </tr>
            <tr>
                <td  class="regTd_l">服务开始时间：</td>
                <td class="regTd_r">
                    <input id="serviceTime" type="hidden" onchange="changeServiceTime()" value=""/>
                    <select id="serviceStartTimeHH" disabled>
                        <option value="">请选择</option>
                        <%
                        for(var i = 0 ; i < 12 ; i ++){
                        var timeHHVal = i+8;
                        if(timeHHVal < 10){
                        timeHHVal = "0"+timeHHVal;
                        }
                        %><option value="<%=timeHHVal%>"><%=timeHHVal%></option><%
                        }
                        %>
                    </select>:
                    <select id="serviceStartTimeSS" disabled>
                        <option value="">请选择</option>
                        <%
                        var miao = "";
                        for(var i = 5 ; i <= 60 ; i += 5 ){
                        miao = i == 5 ? "0"+i:i;
                        %><option value="<%=miao%>"><%=miao%></option><%
                        }
                        %>
                    </select>
                </td>
                <td  class="regTd_l">服务截止时间：</td>
                <td class="regTd_r">
                    <select id="serviceEndTimeHH">
                        <option value="">请选择</option>
                        <%
                        for(var i = 0 ; i < 12 ; i ++){
                        var timeHHVal = i+8;
                        if(timeHHVal < 10){
                        timeHHVal = "0"+timeHHVal;
                        }
                        %><option value="<%=timeHHVal%>"><%=timeHHVal%></option><%
                        }
                        %>
                    </select>:
                    <select id="serviceEndTimeSS">
                        <option value="">请选择</option>
                        <%
                        var miao = "";
                        for(var i = 5 ; i <= 60 ; i += 5 ){
                        miao = i == 5 ? "0"+i:i;
                        %><option value="<%=miao%>"><%=miao%></option><%
                        }
                        %>
                    </select>
                </td>
            </tr>
            <!--
            <tr>
                <td  class="regTd_l">预约技师：</td>
                <td class="regTd_r">
                    <input id="staffName" type="text" name="staffName"/>
                    <input id="staffId" name="staffId" type="hidden"/>
                </td>
                <td  class="regTd_l">预约时间：</td>
                <td class="regTd_r">
                    <input id="meetTime" type="text" name="meetTime"/>
                </td>
            </tr>
            <tr>
                <td  class="regTd_l">预约服务：</td>
                <td class="regTd_r">
                    <input id="serviceName" type="text" name="serviceName"/>
                    <input id="serviceId" name="memberId" type="hidden"/>
                </td>
                <td  class="regTd_l">服务费用：</td>
                <td class="regTd_r">
                    <input id="servicePrice" type="text" name="servicePrice"/>
                </td>
            </tr>
            <tr>
                <td  class="regTd_l">前台报价：</td>
                <td class="regTd_r">
                </td>
                <td  class="regTd_l"></td>
                <td class="regTd_r">
                </td>
            </tr>
            -->
        </table>
        <!--服务信息 start-->
        <span style="float: left; font-weight:bold;width: 100px;"><h3>服务信息</h3></span>
        <br>
        <table id="servicesTable" width="100%" class="reg_table" border="0" cellspacing="0" cellpadding="0">
            <tr bgcolor="lightblue">
                <td style="width: auto">服务名称</td>
                <td style="width: auto">服务描述</td>
                <td style="width: auto">单价</td>
                <td style="width: auto">数量</td>
                <td style="width: auto">小计</td>
                <td style="width: auto">优惠情况</td>
                <td style="width: auto">服务技师</td>
                <td style="width: auto">实习技师</td>
                <td width="50px;"><a style="cursor: pointer" onclick="javaScript:addServicesTr('','')"><h1>+</h1></a></td>
            </tr>
        </table>
        <!--服务信息 end-->

        <!--商品信息 start-->
        <span style="float: left; font-weight:bold;width: 100px;"><h3>商品信息</h3></span>
        <br>
        <table id="waresTable" width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <tr bgcolor="lightblue">
                <td>商品名称</td>
                <td>商品编号</td>
                <td>采购数量</td>
                <td>商品单价</td>
                <td>小计</td>
                <td>减免费用</td>
                <td width="50px;"><a style="cursor: pointer" onclick="javaScript:addWaresTr()"><h1>+</h1></a></td>
            </tr>
        </table>
        <!--商品信息 end-->
        <!-- 收费信息 start -->
        <table width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="regTd_l">可用活动：</td>
                <td class="regTd_r">
                    <select id="availableActivity" name="availableActivity" onchange="asyGetActivity(this)" disabled="disabled">
                        <option value="">请选择</option>
                        <%
                        for(var i = 0 ; i < data.activityManageData.length ; i ++ ){
                        %><option value="<%=data.activityManageData[i].id%>" ><%=data.activityManageData[i].activityName%></option><%
                        }
                        %>
                    </select>
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td  class="regTd_l">减免力度：</td>
                <td class="regTd_r">
                    <select id="lessLevel" name="lessLevel" onchange="getSubtotal()">
                        <option value="1" >请选择</option>
                    </select>
                    优惠 <input type="text" name="activityDiscountMoney" id="activityDiscountMoney" style="width: 40px;" readonly/> 元
                </td>
            </tr>
            <tr>
                <td class="regTd_l">应收金额：</td>
                <td class="regTd_r">
                    <input type="text" id="receivableMoney" name="receivableMoney" readonly/>
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td  class="regTd_l">活动后应收：</td>
                <td class="regTd_r">
                    <input type="text" id="activityActualMoney" name="activityActualMoney" readonly/>
                </td>
            </tr>
            <tr>
                <td class="regTd_l">打折力度：</td>
                <td class="regTd_r">
                    <select name="discounts" id="discounts" onchange="getSubtotal()">
                        <option value="1" >请选择</option>
                    </select>
                </td>
                <td  class="regTd_l">折扣卡优惠：</td>
                <td class="regTd_r">
                    <input type="text" id="discountsMoney" name="discountsMoney" value="0" style="width: 40px;" readonly/>元，最终应收<input type="text" id="finalActualMoney" name="finalActualMoney" value="0" style="width: 60px;" readonly/>
                </td>
            </tr>
            <tr>
                <td  class="regTd_l">付费方式：</td>
                <td class="regTd_r">
                    <select id="payType" name="payType" onchange="changePayType()">
                        <option value="">请选择</option>
                        <option value="0">延迟付费</option>
                        <option value="1">现金</option>
                        <option value="2">微信</option>
                        <option value="3">支付宝</option>
                        <option value="4">充值卡</option>
                    </select>
                </td>
                <td  class="regTd_l">实付金额：</td>
                <td class="regTd_r">
                    <input type="text" id="actualMoney" name="actualMoney"/>
                </td>
            </tr>
        </table>
        <!-- 收费信息 end -->
    </form>
    <div class="reg_but">
        <div class="rb_l"><a href="javascript:;" onclick="submitForm()" class="reset"></a></div>
        <div class="rb_l"><a href="/jinquan/money_manage_list" class="close"></a></div>
    </div>


</div>
</body>
</html>
