<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>教室列表</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">
        function search () {

            var selectPage = document.getElementById('page').value;
            var classRoomName = document.getElementById('classRoomName').value;
            var classRoomCode = document.getElementById('classRoomCode').value;
            window.location.href = '/jinquan/classroom_list?page='+selectPage+'&classRoomName='+classRoomName+'&classRoomCode='+classRoomCode ;
        }
        function pageturning (selectPage) {
            var name = document.getElementById('classroomName').value;
            var classCode = document.getElementById('classroomCode').value;
            window.location.href = '/jinquan/classroom_list?page='+selectPage+'&name='+name+'&classCode='+classCode ;
        }
        function setStatus (status, id) {
            var page = document.getElementById('page').value;
            alert(status+'______'+id);
            window.location.href = '/jinquan/classroom_set?page='+page +'&status='+status+'&id='+id;
        }
        function preEdit (id) {
            window.location.href = '/jinquan/classroom_to_edit?id='+id;
        }
        function del (id) {
            window.location.href = '/jinquan/classroom_del?id='+id;
        }

    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：教室列表
    </div>
    <div class="zhuxiao"><a href="#" class="zx_sty"></a></div>
</div>
<div class="center_con">
    <div class="butSet">
        <div class="sousuo">
            <table width="100%" class="table4" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td> <input id="page" name="page" type="hidden" class="input5" value="<%=data.currentPage%>"/>教室名称：<input name="classRoomName"  id="classRoomName" type="text" class="input5" value="<%=data.classRoomName%>" /></td>
                    <td> &nbsp;教室编号：<input name="classRoomCode"  id="classRoomCode" type="text" class="input5" value="<%=data.classRoomCode%>" /></td>
                    <td><a href="javascript:search()" class="chaxun"></a></td>
                </tr>
            </table>

        </div>
        <div class="but_0"><a href="/jinquan/classroom_to_add" class="bsty0"></a></div>
    </div>
    <div class="tabCon">
        <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
            <tr>
                <th>名称</th>
                <th>编码</th>
                <th>分类</th>
                <th>操作</th>
            </tr>
            <% for (var i=0;i<data.data.length;i++) {%>
            <tr onmouseover="this.className='f_on'" class="f_off"  onmouseout="this.className='f_off'">
                <td><%=data.data[i].name%></td>
                <td><%=data.data[i].classCode%></td>
                <td>

                    <% if(data.data[i].classType==1){%>
                    5人
                    <%}if(data.data[i].classType==2){%>
                    5~10人
                    <%}if(data.data[i].classType==3){%>
                    10~20人
                    <%}%>

                </td>
                <td>
                    <table width="100%" border="0" cellspacing="0" class="table_t"  cellpadding="0">
                        <tr>
                            <% if (data.data[i].status == 1) {%>
                            <td><div align="center"><img src="../../images/stop.gif" width="9" height="9" />&nbsp;[<a href="javascript:setStatus(0,<%=data.data[i].id%>)">停用</a>]</div></td>
                            <% } else {%>
                            <td><div align="center"><img src="images/start.gif" width="9" height="9" />&nbsp;[<a href="javascript:setStatus(1,<%=data.data[i].id%>)">启用</a>]</div></td>
                            <%}%>
                            <td><div align="center"><img src="../../images/037.gif" width="9" height="9" />&nbsp;[<a href="javascript:preEdit(<%=data.data[i].id%>)">编辑</a>]</div></td>
                            <td><div align="center"><img src="../../images/delete.gif" width="9" height="9" />&nbsp;[<a href="javascript:del(<%=data.data[i].id%>)">删除</a>]</div></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <%}%>
        </table>

        <%- include ../pagination.html -%>
    </div>
</div>

</body>
</html>
