<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>教室列表</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript" src="../../js/layer/layer.js"></script>
    <script type="text/javascript">

        var replytype = '<%=replytype%>';
        if (replytype == 'add') {
            parent.layer.msg('增加成功');
        } else if (replytype == 'set') {
            parent.layer.msg('设置成功');
        } else if (replytype == 'update') {
            parent.layer.msg('修改成功');
        }

        function search () {
            var classRoomName = document.getElementById('classRoomName').value;
            var classRoomCode = document.getElementById('classRoomCode').value;
            window.location.href = '/jinquan/classroom_list?classRoomName='+classRoomName+'&classRoomCode='+classRoomCode ;
        }
        function pageturning (selectPage) {
            var name = document.getElementById('classroomName').value;
            var classCode = document.getElementById('classroomCode').value;
            window.location.href = '/jinquan/classroom_list?page='+selectPage+'&classRoomName='+name+'&classRoomCode='+classCode ;
        }

        function setStatus (id, type) {
            if (type == '0') { //停用
                parent.layer.alert('停用教室后，在入库管理可以选择停用教室，则教室物品入库，该教室信息自动删除',{icon: 7});
            } else { //重新启用
                parent.layer.alert('重新启用后，不会生成物品出库单。',{icon: 7});
            }
            window.location.href= '/jinquan/classroom_set?id='+id+'&type='+type;

        }

    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：教室列表
    </div>
</div>
<div class="center_con">
    <div class="butSet">
        <div class="sousuo">
            <table width="100%" class="table4" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td> 教室名称：<input name="classRoomName"  id="classRoomName" type="text" class="input5" value="<%=data.classRoomName%>" /></td>
                    <td> &nbsp;教室编码：<input name="classRoomCode"  id="classRoomCode" type="text" class="input5" value="<%=data.classRoomCode%>" /></td>
                    <td><a href="javascript:search()" class="chaxun"></a></td>
                </tr>
            </table>

        </div>
        <div class="but_0"><a href="/jinquan/classroom_pre_add" class="bsty0"></a></div>
    </div>
    <div class="tabCon">
        <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
            <tr>
                <th>编码</th>
                <th>名称</th>
                <th>分类</th>
                <th>操作</th>
            </tr>
            <% for (var i=0;i<data.data.length;i++) {%>
            <tr onmouseover="this.className='f_on'" class="f_off"  onmouseout="this.className='f_off'">
                <td><%=data.data[i].serialNumber%></td>
                <td><%=data.data[i].name%></td>
                <td><%=data.data[i].cname%></td>
                <td>
                    <table width="100%" border="0" cellspacing="0" class="table_t"  cellpadding="0">
                        <tr>
                            <%if (data.data[i].status == '1') {%>
                            <td><div align="center"><img src="../../images/nav2.gif" width="9" height="9" />&nbsp;[<a href="javascript:setStatus('<%=data.data[i].id%>',0)">停用</a>]</div></td>
                            <%} else {%>
                            <td><div align="center"><img src="../../images/delete.gif" width="9" height="9" />&nbsp;[<a href="javascript:setStatus('<%=data.data[i].id%>',1)">启用</a>]</div></td>
                            <%}%>
                            <td><div align="center"><img src="../../images/index_2.jpg" width="9" height="9" />&nbsp;[<a href="/jinquan/classroom_browse?id=<%=data.data[i].id%>">查看</a>]</div></td>

                        </tr>
                    </table>
                </td>
            </tr>
            <%}%>
        </table>
        <!-- <%- include ../pagination.html -%>   -->
        <%- laypage %>
    </div>
</div>

</body>
</html>
