<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>移库管理</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <script type="application/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="application/javascript" src="../../js/layer/layer.js"></script>
    <script type="application/javascript" src="../../js/laydate/laydate.js"></script>
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
</head>

<script type="text/javascript">

    var replytype = '<%=replytype%>';
    if (replytype == 'add') {
        parent.layer.msg('增加成功');
    } else if (replytype == 'del') {
        parent.layer.msg('删除成功');
    } else if (replytype == 'update') {
        parent.layer.msg('修改成功');
    }

    function search () {

        var oper = document.getElementById('oper').value;
        var outId = document.getElementById('outId').value;
        var inId = document.getElementById('inId').value;
        var moveDate = document.getElementById('moveDate').value;
        window.location.href = '/jinquan/storeroom_move_list?oper='+oper+'&outId='+outId+'&inId='+inId+'&moveDate='+moveDate;
    }

    function pageturning (selectPage) {
        var oper = document.getElementById('oper').value;
        var outId = document.getElementById('outId').value;
        var inId = document.getElementById('inId').value;
        var moveDate = document.getElementById('moveDate').value;
        window.location.href = '/jinquan/storeroom_out_list?page='+selectPage+'&oper='+oper+'&outId='+outId+'&inId='+inId+'&moveDate='+moveDate;
    }
</script>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：移库管理列表
    </div>
    <div class="zhuxiao"><a href="#" class="zx_sty"></a></div>
</div>
<div class="center_con">
    <div class="butSet">
        <div class="sousuo">
            <table width="100%" class="table4" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>出库库房：<select id="outId" name="outId">
                        <option value =""></option>
                        <%for(var i=0;i<data.storerooms.length;i++){%>
                        <option value ="<%=data.storerooms[i].id%>" <%if(data.outId == data.storerooms[i].id){%>selected<%}%> ><%=data.storerooms[i].name%></option>
                        <%}%>
                    </select></td>
                    <td> &nbsp;经手人：<input id="oper" name="oper" type="text" class="input5" value="<%=data.oper%>" /></td>
                    <td> &nbsp;入库库房：<select id="inId" name="inId">
                        <option value =""></option>
                        <%for(var i=0;i<data.storerooms.length;i++){%>
                        <option value ="<%=data.storerooms[i].id%>" <%if(data.inId == data.storerooms[i].id){%>selected<%}%> ><%=data.storerooms[i].name%></option>
                        <%}%>
                    </select> </td>
                    <td> &nbsp;移库时间：<input id="moveDate" name="moveDate" type="text" class="input5" onclick="laydate()" readonly="true" value="<%=data.moveDate%>"/> </td>
                    <td><a href="javascript:search()" class="chaxun"></a></td>
                </tr>
            </table>

        </div>
        <div class="but_0"><a href="/jinquan/storeroom_move_pre_add" class="bsty0"></a></div>
    </div>
    <div class="tabCon">
        <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
            <tr>
                <th>出库库房</th>
                <th>入库库房</th>
                <th>经办人</th>
                <th>移库时间</th>
                <th>操作</th>
            </tr>
        </table>

        <%- include ../pagination.html -%>
    </div>
</div>

</body>
</html>
