<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>新增预约服务</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <script type="application/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="application/javascript" src="../../js/layer/layer.js"></script>
    <script type="application/javascript" src="../../js/laydate/laydate.js"></script>
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">
        function getMemberId()
        {
//            var memberName = document.getElementById("name").value;
//            if (!memberName || memberName.length == 0) {
//                parent.layer.alert('名称不能为空',{icon: 2});
//                return;
//            }
            var memberTel = document.getElementById("tel").value;
            if (!memberTel || memberTel.length == 0) {
                parent.layer.alert('电话不能为空',{icon: 2});
                return;
            }
            $.ajax({
//                data: {"memberName":memberName,"memberTel":memberTel},
                data: {"memberTel":memberTel},
                url: '/jinquan/getMemberByNameTel',
                type: 'post',
                dataType: 'json',
                async: false,
                cache: false,
                timeout: 5000,
                success: function(data){
                    var datas =eval('(' + data + ')');
                    if(datas.flag) {

                        document.getElementById("memberId").value=datas.member.id;
                        document.getElementById("age").value=datas.member.age;
                        renderTables(datas);
                    }
                    else
                    {
                        $("#serviceMeets  tr:not(:first)").empty("");
                        $("#nursServices  tr:not(:first)").empty("");
                        $("#complains  tr:not(:first)").empty("");
                        document.getElementById("memberId").value=null;
                        var msg = '非会员预约服务，是否确认预约？';
                        var index = parent.layer.confirm(msg, {
                            icon : 3,
                            title : "请确认姓名和电话号码是系统会员信息",
                            btn: ['确定','取消'], //按钮
                            shade: [0.3,'#000'] //不显示遮罩
                        }, function(){
                            parent.layer.close(index);
                        });
                    }
                },
                error: function(jqXHR, textStatus, errorThrown){
                    $("#serviceMeets  tr:not(:first)").empty("");
                    $("#nursServices  tr:not(:first)").empty("");
                    $("#complains  tr:not(:first)").empty("");
                    parent.layer.alert("系统错误请系统管理员！",{icon: 2});
                }
            });
        }
        function renderTables(datas)
        {

            var  serviceMeets =datas.serviceMeets;
            //获取表格对象
            var serviceMeetsTable=document.getElementById("serviceMeets");
            //获取当前行数
            serviceMeetsIndex = $("#serviceMeets tr").length;
            $("#serviceMeets  tr:not(:first)").empty("");
            for(var i=0;i<serviceMeets.length;i++)
            {
                var row=serviceMeetsTable.insertRow(serviceMeetsIndex);
                var cell1=row.insertCell(0);//预约时间
                var cell2=row.insertCell(1);//预约技师
                var cell3=row.insertCell(2);//如约、爽约
                var cell4=row.insertCell(3);//如约、爽约
                cell1.innerHTML =serviceMeets[i].serviceName;
                cell2.innerHTML =serviceMeets[i].meetTime;
                cell3.innerHTML =serviceMeets[i].principal;
                var zhuangtai ="";
                if(serviceMeets[i].status==1){
                    zhuangtai="预约成功";
                }
                else if(serviceMeets[i].status==2)
                {
                    zhuangtai="已护理";
                }
                else if(serviceMeets[i].status==3)
                {
                    zhuangtai="已收费";
                }
                else if(serviceMeets[i].status==4)
                {
                    zhuangtai="已回访";
                }
                else if(serviceMeets[i].status==5)
                {
                    zhuangtai="已投诉";
                }
                else
                {
                    zhuangtai="处理失败";
                }
                cell4.innerHTML =zhuangtai;
                serviceMeetsIndex++;
            }
            //获取表格对象
            var nursServicesTable=document.getElementById("nursServices");
            var  nursServices =datas.nursServices;
            nursServicesIndex = $("#nursServices tr").length;
            $("#nursServices  tr:not(:first)").empty("");
            for(var i=0;i<nursServices.length;i++)
            {
                var row=nursServicesTable.insertRow(nursServicesIndex);
                var cell1=row.insertCell(0);//护理服务项目
                var cell2=row.insertCell(1);//服务时间
                var cell3=row.insertCell(2);//服务技师
                var cell4=row.insertCell(3);//服务类型
                cell1.innerHTML =nursServices[i].serviceName;
                cell2.innerHTML =nursServices[i].startTime;
                cell3.innerHTML =nursServices[i].principal;
                cell4.innerHTML =nursServices[i].serviceType;
                nursServicesIndex++;
            }
            //获取表格对象
            var complainsTable=document.getElementById("complains");
            var  complains =datas.complains;
            complainsIndex = $("#complains tr").length;
            $("#complains  tr:not(:first)").empty("");
            for(var i=0;i<complains.length;i++)
            {
                var row=complainsTable.insertRow(complainsIndex);
                var cell1=row.insertCell(0);//预约时间
                var cell2=row.insertCell(1);//预约技师
                var cell3=row.insertCell(2);//如约、爽约
                var cell4=row.insertCell(3);//如约、爽约
                cell1.innerHTML =complains[i].serviceName;
                cell2.innerHTML =complains[i].complainTime;
                cell3.innerHTML =complains[i].dealPrincipal;
                cell4.innerHTML =complains[i].complainDetail;
                complainsIndex++;
            }
        }
        function submitForm(){
            var name = document.getElementById("name").value;
            if (!name || name.length == 0) {
                parent.layer.alert('名称不能为空',{icon: 2});
                return;
            }
            var tel = document.getElementById("tel").value;
            if (!tel || tel.length == 0) {
                parent.layer.alert('电话不能为空',{icon: 2});
                return;
            }
//            var age = document.getElementById("age").value;
//            if (!age || age.length == 0) {
//                parent.layer.alert('年龄不能为空',{icon: 2});
//                return;
//            }
            var principal = document.getElementById("principal").value;
            if(!principal || principal.length == 0) {
                parent.layer.alert('技师不能为空',{icon: 2});
                return;
            }
            var problemDescription = document.getElementById("problemDescription").value;
            if (!problemDescription || problemDescription.length == 0) {
                parent.layer.alert('问题描述不能为空',{icon: 2});
                return;
            }
            var serviceType = document.getElementById("serviceType").value;
            if (!serviceType || serviceType.length == 0) {
                parent.layer.alert('门店/上门不能为空',{icon: 2});
                return;
            }
            /*
            var price = document.getElementById("price").value;
            if (!price || price.length == 0) {
                parent.layer.alert('报价不能为空',{icon: 2});
                return;
            }
            */

            document.getElementById("myform").submit();
        }
        var iframIndex ;
        function getServices(){
            //iframe层
            iframIndex = parent.layer.open({

                type: 2,
                title: '选择服务项目',
                shadeClose: true,
                shade: 0.8,
                area: ['80%', '90%'],
                content: '/jinquan/service_select', //iframe的url
                success: function(layero, index){
                },
                close: function(d){
                }
            });
        }
        function getmembers(index){
            //iframe层
            memberIndex = parent.layer.open({
                type: 2,
                title: '选择员工信息',
                shadeClose: true,
                shade: 0.8,
                area: ['80%', '90%'],
                content: '/jinquan/staff_select_servicemeet?index='+'', //iframe的url
                success: function(layero, index){
                },
                close: function(d){
                }
            });
        }
        /**
         * 当切换是否指定技师
         * 指定时：可以选择技师；
         * 未指定时：不可以选择技师
         */
        function changeSpecified(){
            if($("#specified").val() == 0){
                $("#staffId").val("");
                $("#principal").val("");
                $("#principal").attr("disabled","disabled");//设为不可用
            }else{
                $("#principal").removeAttr("disabled");//取消不可用的设置
            }
        }

    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：添加预约服务
    </div>
</div>
<div class="center_con">
    <table method="post" id="myform" action="/jinquan/service_meet_add">
        <table width="100%" class="reg_table" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="regTd_l">名称：</td>
                <td class="regTd_r"><input id="name" name="name" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td  class="regTd_l">电话：</td>
                <td class="regTd_r"><input id="tel" name="tel" type="text" class="input5" onBlur="getMemberId()" />
                    <input id="memberId" name="memberId" type="hidden"  class="input5" />
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">预约时间：</td>
                <td class="regTd_r"><input id="meetTime" name="meetTime" type="text" class="input5" onclick="laydate()"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">问题描述：</td>
                <td class="regTd_r"><input id="problemDescription" name="problemDescription" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">服务位置：</td>
                <td class="regTd_r">
                    <select id="serviceType" name="serviceType" >
                        <option value="0">请选择</option>
                        <option value="1">到店</option>
                        <option value="2">上门</option>
                    </select>
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">门店/上门：</td>
                <td class="regTd_r"><input id="address" name="address" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">是否指定技师:</td>
                <td class="regTd_r">
                    <!-- 指定时：可以选择技师；未指定时：不可以选择技师 -->
                    <select id="specified" name="specified" class="input5" onchange="changeSpecified()" >
                        <option value="1">指定</option>
                        <option value="0">未指定</option>
                    </select>
                </td>
                <td class="regTd_l">技师：</td>
                <td class="regTd_r">
                    <input id="staffId" name="staffId" type="hidden"   class="input5" />
                    <input id="principal" name="principal" type="text" class="input5" onfocus="getmembers()" />&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td class="regTd_l">年龄：</td>
                <td class="regTd_r"><input id="age" name="age" type="text"  readonly="true" class="input5" />&nbsp;&nbsp;</td>
                <td class="regTd_l">报价：</td>
                <td class="regTd_r"><input id="price" name="price" type="text" class="input5"    />&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="regTd_l">请选择服务项目：</td>
                <td class="regTd_r">
                    <input id="serviceName" name="serviceName" type="text" class="input5" onfocus="getServices()"/>
                    <input id="serviceId" name="serviceId" type="hidden" class="input5" /> &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            </table>
            <!-- 预约情况 -->
            <span style="float: left; font-weight:bold;width: 100px;">预约情况</span>
            <br>
            <table id="serviceMeets" name="serviceMeets"  border="0" width="80%" class="reg_table" border="0" cellspacing="0" cellpadding="0">
                <tr bgcolor="lightblue">
                    <td>服务项目</td>
                    <td>预约时间</td>
                    <td>预约技师</td>
                    <td>如约/爽约</td>
                </tr>
            </table>
            <!-- 服务情况 -->
            <span style="float: left; font-weight:bold;width: 100px;">护理情况:</span>
        <br>
            <table id="nursServices" name="nursServices" class="reg_table"border="0" cellspacing="0" cellpadding="0">
                <tr bgcolor="lightblue">
                    <td>服务项目</td>
                    <td>服务时间</td>
                    <td>服务技师</td>
                    <td>服务类型</td>
                </tr>
            </table>
            <!-- 投诉情况 -->

        <span style="float: left; font-weight:bold;width: 100px;">投诉情况:</span>
        <br>
            <table  id="complains" name="complains" class="reg_table"border="0" cellspacing="0" cellpadding="0">
                <tr bgcolor="lightblue">
                    <td>服务项目</td>
                    <td>投诉时间</td>
                    <td>投诉技师</td>
                    <td>投诉情况</td>

                </tr>
        </table>
    </form>
    <div class="reg_but">
        <div class="rb_l"><a href="javascript:;" onclick="submitForm()" class="reset"></a></div>
        <div class="rb_l"><a href="/jinquan/service_meet_list" class="close"></a></div>
    </div>


</div>
</body>
</html>
