<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>修改预约服务</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <script type="application/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="application/javascript" src="../../js/layer/layer.js"></script>
    <script type="application/javascript" src="../../js/laydate/laydate.js"></script>
    <script type="text/javascript" src="../../js/geo.js"></script>
    <script type="text/javascript" src="../../js/py.js"></script>
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">

        /**
         * 检索手机号逻辑
         * 1、根据手机号检索用户信息
         * 2、选择某会员后，调动本页面方法，查询该会员预约、服务、投诉情况
         */
        //1、根据手机号检索用户信息
        function getMemberId(){
            if($("#tel").val() == ''){
                parent.layer.alert('电话不能为空',{icon: 2});
                return;
            }else{
//                $("#memberId").val("");
//                $("#customerName").val("");
                parent.layer.open({
                    type: 2,
                    title: '选择会员',
                    shadeClose: true,
                    shade: 0.8,
                    area: ['80%', '90%'],
                    content: '/jinquan/member_all_select?tel='+$("#tel").val(), //iframe的url
                    success: function(layero, index){

                    },
                    close: function(d){

                    }
                });
            }
        }
        //2、选择某会员后，调动本页面方法，查询该会员预约、服务、投诉情况
        function getMemberByMemberId(memberId){
            if(memberId == ''){
                return;
            }
            $.ajax({
                data: {"memberId":memberId},
                url: '/jinquan/getMemberByMemberId',
                type: 'post',
                dataType: 'json',
                async: false,
                cache: false,
                timeout: 5000,
                success: function(data){
                    $("#serviceMeets  tr:not(:first)").empty("");
                    $("#nursServices  tr:not(:first)").empty("");
                    $("#complains  tr:not(:first)").empty("");
                    var datas =eval('(' + data + ')');
                    renderTables(datas);
                },
                error: function(jqXHR, textStatus, errorThrown){
                    $("#serviceMeets  tr:not(:first)").empty("");
                    $("#nursServices  tr:not(:first)").empty("");
                    $("#complains  tr:not(:first)").empty("");
                    parent.layer.alert("系统错误请系统管理员！",{icon: 2});
                }
            });
        }

        //回填用户最近情况
        function renderTables(datas)
        {
            changeAddress();//处理到店或者上门时显示内容
//            changeStatus();//处理预约状态
            if(datas!=null){


            var  serviceMeets =datas.serviceMeets;
            //获取表格对象
            var serviceMeetsTable=document.getElementById("serviceMeets");
            //获取当前行数
            serviceMeetsIndex = $("#serviceMeets tr").length;
            $("#serviceMeets  tr:not(:first)").empty("");
            if(serviceMeets!=null)
            {
            for(var i=0;i<serviceMeets.length;i++)
            {
                var row=serviceMeetsTable.insertRow(serviceMeetsIndex);
                var cell1=row.insertCell(0);//预约时间
                var cell2=row.insertCell(1);//预约技师
                var cell3=row.insertCell(2);//如约、爽约
                cell1.innerHTML =serviceMeets[i].meetTime;
                cell2.innerHTML =serviceMeets[i].principal;
                var zhuangtai ="";
                if(serviceMeets[i].status==1){
                    zhuangtai="预约成功";
                }
                else if(serviceMeets[i].status==2)
                {
                    zhuangtai="上门预约";
                }
                else if(serviceMeets[i].status==3)
                {
                    zhuangtai="取消预约";
                }
                else if(serviceMeets[i].status==4)
                {
                    zhuangtai="已回访";
                }
                else if(serviceMeets[i].status==5)
                {
                    zhuangtai="已投诉";
                }
                else
                {
                    zhuangtai="处理失败";
                }
                cell3.innerHTML =zhuangtai;
                serviceMeetsIndex++;
            }
            }
            //获取表格对象
            var nursServicesTable=document.getElementById("nursServices");
            var  nursServices =datas.nursServices;
            nursServicesIndex = $("#nursServices tr").length;
            $("#nursServices  tr:not(:first)").empty("");
            if(nursServices!=null)
            {

                for(var i=0;i<nursServices.length;i++)
                {
                    var row=nursServicesTable.insertRow(nursServicesIndex);
                    var cell1=row.insertCell(0);//服务日期
                    var cell2=row.insertCell(1);//开始时间
                    var cell3=row.insertCell(2);//截止时间
                    var cell4=row.insertCell(3);//查看详情
                    cell1.innerHTML =nursServices[i].serviceDate;
                    cell2.innerHTML =nursServices[i].startTime;
                    cell3.innerHTML =nursServices[i].endTime;
                    var nursServiceId =nursServices[i].id;
                    cell4.innerHTML ="<a href='javascript:void();' onclick='showNursService("+nursServiceId+")' >查看详情</a>";
                    nursServicesIndex++;
                }

            }
            //获取表格对象
            var complainsTable=document.getElementById("complains");
            var  complains =datas.complains;
            complainsIndex = $("#complains tr").length;
            $("#complains  tr:not(:first)").empty("");
            if(complains!=null)
            {

                for(var i=0;i<complains.length;i++)
                {
                    var row=complainsTable.insertRow(complainsIndex);
                    var cell1=row.insertCell(0);//预约时间
                    var cell2=row.insertCell(1);//预约技师
                    var cell3=row.insertCell(2);//如约、爽约
                    var cell4=row.insertCell(3);//如约、爽约
                    cell1.innerHTML =complains[i].serviceName;
                    cell2.innerHTML =complains[i].complainTime;
                    cell3.innerHTML =complains[i].dealPrincipal;
                    cell4.innerHTML =complains[i].complainDetail;
                    complainsIndex++;
                }
            }
            }
        }

        function showNursService(id){
            parent.layer.open({
                type: 2,
                title: '查看服务单详情',
                shadeClose: true,
                shade: 0.8,
                area: ['80%', '90%'],
                content: '/jinquan/nurs_service_preEdit?show=show&openWindow=open&id='+id, //iframe的url
                success: function(layero, index){

                },
                close: function(d){

                }
            });
        }

        function submitForm(){
            var name = document.getElementById("customerName").value;
            if (!name || name.length == 0) {
                parent.layer.alert('名称不能为空',{icon: 2});
                return;
            }
            var tel = document.getElementById("tel").value;
            if (!tel || tel.length == 0) {
                parent.layer.alert('电话不能为空',{icon: 2});
                return;
            }
            if($('#meetTimeYMD').val() == ""){
                parent.layer.alert('预约时间不能为空。',{icon: 2});
                return;
            }
            if($('#meetTimeHH').val() == ""){
                parent.layer.alert('预约时间小时不能为空。',{icon: 2});
                return;
            }
            if($('#meetTimeSS').val() == ""){
                parent.layer.alert('预约时间分钟不能为空。',{icon: 2});
                return;
            }
            $('#meetTime').val($('#meetTimeYMD').val() +" "+$('#meetTimeHH').val()+":"+$('#meetTimeSS').val());
            if($("#serviceType").val() == 1){//到店
                if($("#serverShopId").val() == ""){//需选择门店
                    parent.layer.alert('请选择门店。',{icon: 2});
                    return;
                }
            }else{//上门
                if($("#price").val() == ""){//需填写报价
                    parent.layer.alert('报价不能为空',{icon: 2});
                    return;
                }
                if($("#s1").val() == ""){//需选择省份
                    parent.layer.alert('请选择省份。',{icon: 2});
                    return;
                }
                if($("#s2").val() == ""){//需选择地级市
                    parent.layer.alert('请选择地级市。',{icon: 2});
                    return;
                }
                if($("#s3").val() == ""){//需选择市、县级市、县
                    parent.layer.alert('请选择市、县级市、县。',{icon: 2});
                    return;
                }
                if($("#address").val() == ""){//需填写详细地址
                    parent.layer.alert('请选择详细地址。',{icon: 2});
                    return;
                }
            }
            if($("#specified").val() == 2){//指定了技师，技师及报价不能为空
                if($("#principal").val() == ""){
                    parent.layer.alert('技师不能为空',{icon: 2});
                    return;
                }
            }
            if($("#status").val() == 3){//如果预约单状态改为“已接受服务”则服务技师、服务时间、服务单号都不能为空
                if($("#nursServiceNo").val() == ''){
                    parent.layer.alert('请填写护理服务单。',{icon: 2});
                    return;
                }
                if($("#serviceTimeHH").val() == ''){
                    parent.layer.alert('请填写护理开始小时。',{icon: 2});
                    return;
                }
                if($("#serviceTimeSS").val() == ''){
                    parent.layer.alert('请填写护理开始分钟。',{icon: 2});
                    return;
                }
                $("#serviceTime").val( $("#serviceTimeHH").val() +":"+$("#serviceTimeSS").val());

                var serviceStaffNameStr = "";
                $("input[name='serviceStaffName']").each(function(){
                    if($(this).val() != ""){
                        serviceStaffNameStr += ","+$(this).val();
                    }
                });
                if(serviceStaffNameStr == ""){
                    parent.layer.alert('请选择服务技师。',{icon: 2});
                    return;
                }
            }

            if($("#status").val() == 3 && ('<%=service_meet.status%>'=='1' || '<%=service_meet.status%>' == '2')){//是否创建护理服务单数据
                $("#createService").val("Y");
            }
            document.getElementById("myform").submit();
        }
        var iframIndex ;
        function getmembers(index){
            index = index == null ? "" :index;
            //iframe层
            memberIndex = parent.layer.open({
                type: 2,
                title: '选择技师',
                shadeClose: true,
                shade: 0.8,
                area: ['80%', '90%'],
                content: '/jinquan/staff_select_servicemeet?index='+index, //iframe的url
                success: function(layero, index){
                },
                close: function(d){
                }
            });
        }

        /**
         * 服务位置如果是：上门，则选择区县及填写详细地址；到店：选择该员工管理的门店信息
         */
        function changeAddress(){
            //获取serviceType下拉框值
            var serviceType = $("#serviceType").val();
            if(serviceType == 1){//到店
                $("#shopAddress").show();
                $("#memberAddress").hide();
                $("#shopAddressText").show();
                $("#memberAddressText").hide();
                $("#priceSpanId").hide();//到店时报价隐藏
//                if($("#id").val() == ''){
//                }
//                alert("修改状态为：1");
                $("#status").find("option[value='1']").attr("selected",true);
            }else{//上门
                $("#shopAddress").hide();
                $("#memberAddress").show();
                $("#shopAddressText").hide();
                $("#memberAddressText").show();
                $("#priceSpanId").show();//上门时报价隐藏
//                if($("#id").val() == ''){
//                }
                $("#status").find("option[value='2']").attr("selected",true);
            }
        }

        /**
         * 当状态改变时，且状态变更为：已接受服务时，需要输入服务单号+开始服务时间
         */
        function changeStatus(){
            if($("#status").val() == 1 || $("#status").val() == 2){
                parent.layer.alert('选择服务位置，预约状态自动变更。',{icon: 2});
                //状态默认变更修改前
                $("#status").find("option[value='<%=service_meet.status%>']").attr("selected",true);
                return;
            }
            statusInit();
        }
        /**
         * 初始化状态信息
         */
        function statusInit(){

            if($("#status").val() == 3){
                $("#serviceCode1").show();
                $("#serviceCode2").show();
                $("#serviceStaffTrId").show();
                $("#serviceTimeId").show();
            }else{
                $("#serviceCode1").hide();
                $("#serviceCode2").hide();
                $("#serviceStaffTrId").hide();
                $("#serviceTimeId").hide();
            }
        }
        /**
         * 当切换是否指定技师
         * 指定时：可以选择技师；
         * 未指定时：不可以选择技师
         */
        function changeSpecified(){
            if($("#specified").val() == 1){
                $("#staffIdRecommend").val("");//推荐技师id为空
                $("#serviceStaffNameRecommend").val("");//推荐技师名称为空
                $("#staffId").val("");//技师id为空
                $("#price").val("");//标价设为空
                $("#principal").val("");
                $("#principal").attr("disabled","disabled");//设为不可用
                $("#price").attr("disabled","disabled");//标价设为不可用
                $("#recommendSpan").hide();
            }else{
                if($("#specified").val() == 3){
                    document.getElementById("serviceStaffSpanId").innerHTML = "推荐";
                    $("#recommendSpan").show();
                }else{
                    document.getElementById("serviceStaffSpanId").innerHTML = "指定";
                    $("#recommendSpan").hide();
                }
                $("#principal").removeAttr("disabled");//取消不可用的设置
                $("#price").removeAttr("disabled");//取消不可用的设置
            }
        }

        var serviceStaffIndex = 1;
        /**
         * 追加护理服务的技师
         */
        function appendServiceStaff(){
            serviceStaffIndex ++;
            //增加一个技师id（hidden）
            var staffIdHidden = document.createElement("input");
            staffIdHidden.setAttribute("type","hidden");
            staffIdHidden.setAttribute("id","staffId"+serviceStaffIndex);
            staffIdHidden.setAttribute("name","serviceStaffId");
            //增加一个技师名称（文本框）
            var principalText = document.createElement("input");
            principalText.setAttribute("type","text");
            principalText.setAttribute("id","principal"+serviceStaffIndex);
            principalText.setAttribute("name","serviceStaffName");
            principalText.setAttribute("class","input5");
            principalText.setAttribute('onfocus',"getmembers("+serviceStaffIndex+")");
            //添加一个span标签，删除对应的技师信息
            var serviceStaffSpan = document.createElement("span");
            serviceStaffSpan.setAttribute("id","serviceStaffSpan"+serviceStaffIndex);
            serviceStaffSpan.setAttribute("style","font-size:20px;cursor: pointer");
            serviceStaffSpan.setAttribute('onclick',"delServiceStaff("+serviceStaffIndex+")");
            serviceStaffSpan.innerHTML = "-";

            var div = document.getElementById("serviceStaffDivId");
            div.appendChild(staffIdHidden);
            div.appendChild(principalText);
            div.appendChild(serviceStaffSpan);
        }
        /**
         * 删除护理服务的技师
         */
        function delServiceStaff(delIndex){
            $("#staffId"+delIndex).remove();
            $("#principal"+delIndex).remove();
            $("#serviceStaffSpan"+delIndex).remove();
        }

        $(function(){
            setup('');
            if('<%=service_meet.province%>' == ''){
                preselect('北京市');
            }else{
                preselect('<%=service_meet.province%>');
                //1秒钟后，为另外两个下拉框赋值
                var t=setTimeout("initAddr()",800)
            }
            renderTables('<%=datas%>');

            if($("#specified").val() == '1') {//未指定
                $("#principal").val("");
                $("#principal").attr("disabled", "disabled");//设为不可用
            }
            if($("#specified").val() != '3'){
                $("#recommendSpan").hide();
            }
            if($("#specified").val() == '3'){
                document.getElementById("serviceStaffSpanId").innerHTML = "推荐";
                $("#recommendSpan").show();
            }
            statusInit();
            getMemberByMemberId('<%=service_meet.memberId%>');
        });
        /**
         * 从后台生成护理服务单编号
         */
        function createNursServiceNo(){
            //如果服务位置选择：门店，服务单号根据所选门店生成；上门，服务单号按照当前登录用户所在门店生成
            var createNoByShopId = "";//生成服务单号使用的门店
            if($("#serviceType").val() == '1'){//到店
                if($("#serverShopId").val() == ''){
                    parent.layer.alert('请选择门店。',{icon: 2});
                    return;
                }
                createNoByShopId = $("#serverShopId").val();
            }
            if($("#id").val() == ''){//如果没有用户信息，提示先更新会员信息
                parent.layer.alert('预约单应预约成功后，再变更服务信息。',{icon: 2});
                return;
            }else if($("#memberId").val() == ''){
                parent.layer.alert('用户还不是会员，请更新会员信息，再变更服务信息。',{icon: 2});
                return;
            }else{
                $.ajax({
                    url: '/jinquan/nurs_service_create_no?createNoByShopId='+createNoByShopId,
                    type: 'post',
                    dataType: 'json',
                    async: false,
                    cache: false,
                    timeout: 5000,
                    success: function(data){
                        var datas =eval('(' + data + ')');
                        $("#nursServiceNo").val(datas.nursNo);
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        parent.layer.alert("系统错误请系统管理员！",{icon: 2});
                    }
                });
            }
        }
        /**
         * 一键新增会员
         */
        function addMemberByTel(){
            var tel = $("#tel").val();
            var customerName = $("#customerName").val();
            $.ajax({
                url: '/jinquan/member_add_by_tel?tel='+tel+'&customerName='+customerName,
                type: 'post',
                dataType: 'json',
                async: false,
                cache: false,
                timeout: 5000,
                success: function(data){
                    var datas =eval('(' + data + ')');
                    if(datas.isAdd == '0'){
                        parent.layer.alert("该客户已存在，无需重复增加！",{icon: 2});
                    }else if(datas.isAdd == '1'){
                        $("#memberId").val(datas.id);
                        parent.layer.alert("已更新会员信息！",{icon: 2});
                    }
                },
                error: function(jqXHR, textStatus, errorThrown){
                    parent.layer.alert("系统错误请系统管理员！",{icon: 2});
                }
            });
        }
        /**
         * 修改、查看时，为省市县下拉框赋值
         */
        function initAddr(){
//            alert("OK");
//            province,city,town
            $("#s2 option").each(function() {
                if ($(this).text() == '<%=service_meet.city%>') {
                    $(this).attr("selected", "selected");
//                    break;
                }
            });
            $("#s3").append("<option value='<%=service_meet.town%>' selected><%=service_meet.town%></option>"); //为Select追加一个Option(下拉项)
        }
    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：预约服务
    </div>
</div>
<div class="center_con">
    <form method="post" id="myform" action="/jinquan/service_meet_doEdit">
        <table width="100%" class="reg_table" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="regTd_l">名称：</td>
                <td class="regTd_r">
                    <input id="id" type="hidden" name="id" value="<%=service_meet.id%>"  readonly="true"/>
                    <input id="memberId" name="memberId" type="hidden" class="input5"  value="<%=service_meet.memberId%>" />
                    <input id="createService" name="createService" type="hidden" /><!-- 是否创建服务单 -->
                    <input id="customerName" name="name" type="text" class="input5" value="<%=service_meet.name%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td  class="regTd_l">电话：</td>
                <td class="regTd_r">
                    <input id="tel" name="tel" type="text" class="input5"   onBlur="getMemberId()"   value="<%=service_meet.tel%>" />&nbsp;&nbsp;
                    <span style="color:#FF0000;">*</span>
                </td>
            </tr>
            <tr>
                <td class="regTd_l">预约时间：</td>
                <td class="regTd_r">
                    <%
                        var meetTimeStr = service_meet.meetTime;
                        meetTimeStr = meetTimeStr == null?"":meetTimeStr;
                        var meetTimeStrYMD = "";
                        var meetTimeStrHH = "";
                        var meetTimeStrSS = "";
                        if(meetTimeStr != ""){
                            meetTimeStrYMD = meetTimeStr.split(" ")[0];
                            meetTimeStrHH = meetTimeStr.split(" ")[1].split(":")[0];
                            meetTimeStrSS = meetTimeStr.split(" ")[1].split(":")[1];
                        }
                    %>
                    <input id="meetTimeYMD" name="meetTimeYMD" type="text" class="input5" style="width: 70px" readonly onclick="laydate({min: laydate.now(-7),max: laydate.now(+7)})"  value="<%=meetTimeStrYMD%>" />
                    <input id="meetTime" name="meetTime" type="hidden" value="<%=service_meet.meetTime%>" />
                    <select id="meetTimeHH">
                        <option value="">请选择</option>
                        <%
                            for(var i = 0 ; i < 12 ; i ++){
                                var timeHHVal = i+8;
                                if(timeHHVal < 10){
                                    timeHHVal = "0"+timeHHVal;
                                }
                                %><option value="<%=timeHHVal%>" <%if(meetTimeStrHH == timeHHVal){%>selected<%}%>><%=timeHHVal%></option><%
                            }
                        %>
                    </select>:
                    <select id="meetTimeSS">
                        <option value="">请选择</option>
                        <%
                        var miao = "";
                        for(var i = 0 ; i < 60 ; i += 30 ){
                            miao = i < 10 ? "0"+i:i;
                            %><option value="<%=miao%>" <%if(meetTimeStrSS == miao){%>selected<%}%>><%=miao%></option><%
                        }
                        %>
                    </select>
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">特殊备注：</td>
                <td class="regTd_r">
                    <input id="specialRemarks" name="specialRemarks" value="<%=service_meet.specialRemarks%>" type="text" class="input5" />
                </td>
            </tr>
            <tr>
            <td class="regTd_l">服务位置：</td>
            <td class="regTd_r">
                <!-- 服务位置如果是：上门，则选择区县及填写详细地址；到店：选择该员工管理的门店信息 -->
                <select id="serviceType" name="serviceType" onchange="changeAddress()">
                    <option value="1" <%if(service_meet.serviceType == '1'){%>selected<%}%>>到店</option>
                    <option value="2" <%if(service_meet.serviceType == '2'){%>selected<%}%>>上门</option>
                </select>
                <span id="priceSpanId">
                    报价：<input id="price" name="price" type="text" class="input5" style="width: 50px;" value="<%=service_meet.price%>" />&nbsp;元&nbsp;
                </span>
                &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            <td class="regTd_l">
                <span id="shopAddressText">选择门店：</span>
                <span id="memberAddressText">上门地址：</span>
            </td><!-- 服务位置如果是：上门，则选择区县及填写详细地址；到店：选择该员工管理的门店信息 -->
            <td class="regTd_r">
                <span id="shopAddress" style='display:none;'>
                    <select id="serverShopId" name="serverShopId">
                        <option value="">请选择</option>
                        <%
                            for(var i = 0 ; i < shopArr.length ; i ++){
                                %><option value="<%=shopArr[i].id%>" <%if(service_meet.serverShopId == shopArr[i].id){%>selected<%}%>><%=shopArr[i].name%></option><%
                            }
                        %>
                    </select>
                </span>
                <span id="memberAddress" style='display:none;'>
                    <select class="select" name="province" id="s1" onchange="initCode()">
                        <option></option>
                    </select>
                    <select class="select" name="city" id="s2">
                        <option></option>
                    </select>
                    <select class="select" name="town" id="s3">
                        <option></option>
                    </select>
                    <input id="address" name="address" type="text" class="input5"  value="<%=service_meet.address%>" />&nbsp;&nbsp;
                </span>
                <span style="color:#FF0000;">*</span>
            </td>
        </tr>
            <tr>
                <td class="regTd_l">是否指定技师：</td>
                <td class="regTd_r">
                    <select id="specified" name="specified"  onchange="changeSpecified()">
                        <option value="1" <%if(service_meet.specified == '1'){%>selected<%}%>>未指定</option>
                        <option value="2" <%if(service_meet.specified == '2'){%>selected<%}%>>指定</option>
                        <option value="3" <%if(service_meet.specified == '3'){%>selected<%}%>>推荐</option>
                    </select>
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">
                    <span id="serviceStaffSpanId">指定</span> ：</td>
                <td class="regTd_r">
                    <span id="recommendSpan">
                        <input id="staffIdRecommend" name="recommendStaffId" type="hidden"  value="<%=service_meet.recommendStaffId%>"  class="input5" />
                        <input id="serviceStaffNameRecommend" name="recommendName" type="text" value="<%=service_meet.recommendName%>" class="input5" onfocus="getmembers('Recommend')" />&nbsp;
                        指定:
                    </span>
                    <input id="staffId" name="staffId" type="hidden"  value="<%=service_meet.staffId%>"  class="input5" />
                    <input id="principal" name="principal" type="text" value="<%=service_meet.principal%>" class="input5" onfocus="getmembers()" />&nbsp;
                </td>
            </tr>
            <tr style="border:solid 1px #f56394;">
                <td class="regTd_l">做过何种处理：</td>
                <td class="regTd_r">
                    <%
                    var dealStr = service_meet.deal == null ? "" :service_meet.deal;
                    for(var i=0;i<treatmentMethodArr.length;i++){
                    var treatmentMethodId='deal'+i;
                    %>
                    <input id="<%=treatmentMethodId%>" name="deal" type="checkbox" value ="<%=treatmentMethodArr[i].id%>"
                    <%if(dealStr.indexOf(treatmentMethodArr[i].id) > -1){%>checked<%}%>/>
                    <%=treatmentMethodArr[i].name%>
                    <%
                    if((i+1)%3 == 0){
                    %><br><%
                    }
                    }%>
                    &nbsp;&nbsp;</td>

                <td class="regTd_l">服务需求：</td>
                <td class="regTd_r">

                    <%
                    var serviceNeedStr = service_meet.serviceNeeds == null ? "" :service_meet.serviceNeeds;
                    for(var i=0;i<serverDemandArr.length;i++){
                    var serviceNeeds='serviceNeeds'+i;
                    %>
                    <input id="<%=serviceNeeds%>" name="serviceNeeds" type="checkbox" value ="<%=serverDemandArr[i].id%>"
                    <%if(serviceNeedStr.indexOf(serverDemandArr[i].id) > -1){%>checked<%}%>/>
                    <%=serverDemandArr[i].name%>
                    <%
                    if((i+1)%2 == 0){
                    %><br><%
                    }
                    }%>


                    &nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="regTd_l">当前状态：</td>
                <td class="regTd_r">
                    <select name="status" id="status" onchange="changeStatus()" <%if(show != ''){%>disabled<%}%>>
                        <option value="1" <%if(service_meet.status == '1'){%>selected<%}%>>预约成功</option>
                        <option value="2" <%if(service_meet.status == '2'){%>selected<%}%>>上门预约</option>
                        <option value="3" <%if(service_meet.status == '3'){%>selected<%}%>>已接受服务</option>
                        <option value="4" <%if(service_meet.status == '4'){%>selected<%}%>>取消预约</option>
                        <option value="5" <%if(service_meet.status == '5'){%>selected<%}%>>已结算</option>
                    </select>
                    <span style="color:#FF0000;">*</span></td>
                <td class="regTd_l" id="serviceCode1">护理服务单号：</td>
                <td class="regTd_r" id="serviceCode2">
                    <%
                        if(service_meet.status == '1' || service_meet.status == '2'){
                            %><input type="button" style="height: 50px" value="生成护理服务单号" onclick="createNursServiceNo()"/><%
                        }
                    %>
                    <input type="hidden" id="nursServiceId" readonly name="nursServiceId" value="<%=service_meet.nursServiceId%>"/>&nbsp;&nbsp;
                    <input type="text" id="nursServiceNo" readonly name="nursServiceNo" value="<%=service_meet.nursServiceNo%>"/>&nbsp;&nbsp;
                    <!-- 生成一键生成会员信息 -->
                    <%
                    if(service_meet.memberId == null || service_meet.memberId == ''){
                    %><input type="button" value="一键新增会员" onclick="addMemberByTel()"/><%
                    }
                    %>
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr id="serviceTimeId">
                <td class="regTd_l">服务开始时间</td>
                <td class="regTd_r">
                    <input type="hidden" id="serviceTime" name="serviceTime" value="<%=service_meet.serviceTime%>"/>
                    <select id="serviceTimeHH">
                        <option value="">请选择</option>
                        <%
                        var serviceTimeStr = service_meet.serviceTime;
                        serviceTimeStr = serviceTimeStr == null?"":serviceTimeStr;
                        var serviceTimeStrHH = "";
                        var serviceTimeStrSS = "";
                        if(serviceTimeStr != ""){
                        serviceTimeStrHH = serviceTimeStr.split(":")[0];
                        serviceTimeStrSS = serviceTimeStr.split(":")[1];
                        }
                        for(var i = 0 ; i < 12 ; i ++){
                        var timeHHVal = i+8;
                        if(timeHHVal < 10){
                        timeHHVal = "0"+timeHHVal;
                        }
                        %><option value="<%=timeHHVal%>" <%if(serviceTimeStrHH == timeHHVal){%>selected<%}%>><%=timeHHVal%></option><%
                        }
                        %>
                    </select>:
                    <select id="serviceTimeSS">
                        <option value="">请选择</option>
                        <%
                        var miao = "";
                        for(var i = 5 ; i <= 60 ; i += 5 ){
                        miao = i == 5 ? "0"+i:i;
                        %><option value="<%=miao%>"  <%if(serviceTimeStrSS == miao){%>selected<%}%>><%=miao%></option><%
                        }
                        %>
                    </select>
                </td>
                <td class="regTd_l">&nbsp;</td>
                <td class="regTd_r">&nbsp;</td>
            </tr>
            <tr id="serviceStaffTrId">
                <td class="regTd_l">服务技师：</td>
                <td class="regTd_r" colspan="3">
                    <span id="serviceStaffDivId">
                        <%
                        var serviceStaffIdStr = service_meet.serviceStaffIds;
                        var serviceStaffNameStr = service_meet.serviceStaffNames;
                        serviceStaffIdStr = serviceStaffIdStr == null ? "" : serviceStaffIdStr;
                        serviceStaffNameStr = serviceStaffNameStr == null ? "" : serviceStaffNameStr;
                        var serviceStaffIdArr = serviceStaffIdStr.split(",");
                        var serviceStaffNameArr = serviceStaffNameStr.split(",");
                        if(serviceStaffIdArr.length > 0){
                            for(var i = 0 ; i < serviceStaffIdArr.length ; i ++){
                                %>
                                <input id="staffId<%=(i+1)%>" name="serviceStaffId" type="hidden"  value="<%=serviceStaffIdArr[i]%>"  class="input5" />
                                <input id="principal<%=(i+1)%>" name="serviceStaffName" type="text" value="<%=serviceStaffNameArr[i]%>" class="input5" onfocus="getmembers(<%=(i+1)%>)" />&nbsp;
                                <span id="serviceStaffSpan<%=(i+1)%>" style="font-size:20px;cursor: pointer" onclick="delServiceStaff(<%=(i+1)%>)">-</span>
                                <%
                            }
                        }else{
                            %>
                            <input id="staffId1" name="serviceStaffId" type="hidden"  value="<%=service_meet.serviceStaffIds%>"  class="input5" />
                            <input id="principal1" name="serviceStaffName" type="text" value="<%=service_meet.serviceStaffNames%>" class="input5" onfocus="getmembers(1)" />&nbsp;
                            <%
                        }
                        %>
                    </span>
                    <span style="font-size:20px;cursor: pointer" onclick="appendServiceStaff()">+</span>
                    <span style="color:#FF0000;">*</span></td>
                <td>&nbsp;</td>
            </tr>
        </table>
        <!-- 预约情况 -->
        <span style="float: left; font-weight:bold;width: 100px;">预约情况</span>
        <br>
        <table id="serviceMeets" name="serviceMeets" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <tr bgcolor="lightblue">
                <td width="30%">预约时间</td>
                <td width="30%">预约技师</td>
                <td width="30%">如约/爽约</td>
            </tr>
        </table>

        <!-- 护理情况 -->
        <span style="float: left; font-weight:bold;width: 100px;">护理情况</span>
        <br>
        <table id="nursServices" name="nursServices" class="reg_table" border="0" cellspacing="0" cellpadding="0">
            <tr bgcolor="lightblue">
                <td>服务日期</td>
                <td>开始时间</td>
                <td>截止时间</td>
                <td>详情</td>
            </tr>
        </table>
        <!-- 投诉情况 -->
        <span style="float: left; font-weight:bold;width: 100px;">投诉情况</span>
        <br>
        <table  id="complains" name="complains" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <tr bgcolor="lightblue">
                <td>服务项目</td>
                <td>投诉时间</td>
                <td>投诉技师</td>
                <td>投诉情况</td>

            </tr>
        </table>
    </form>
    <div class="reg_but">
        <%if(show == ''){
            %><div class="rb_l"><a href="javascript:;" onclick="submitForm()" class="reset"></a></div><%
        }%>
        <div class="rb_l"><a href="/jinquan/service_meet_list" class="close"></a></div>
    </div>


</div>
</body>
</html>
