<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>预约服务</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <script type="application/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="application/javascript" src="../../js/layer/layer.js"></script>
    <script type="application/javascript" src="../../js/laydate/laydate.js"></script>
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">
        function getMemberId(memberName,memberTel )
        {
            $.ajax({
                data: {"memberName":memberName,"memberTel":memberTel},
                url: '/jinquan/getMemberByNameTel',
                type: 'post',
                dataType: 'json',
                async: false,
                cache: false,
                timeout: 5000,
                success: function(data){

                    if(data) {
                        document.getElementById("memberId").value=data.id;
                    }
                },
                error: function(jqXHR, textStatus, errorThrown){
                    alert("访问系统出问题，请联系管理员~");
                }
            });
        }
        function submitForm(){
            var name = document.getElementById("name").value;
            if (!name || name.length == 0) {
                alert('名称不能为空');
                return;
            }
            var tel = document.getElementById("tel").value;
            if (!tel || tel.length == 0) {
                alert('电话不能为空');
                return;
            }
            getMemberId(name,tel );
            var age = document.getElementById("age").value;
            if (!age || age.length == 0) {
                alert('年龄不能为空');
                return;
            }
            var principal = document.getElementById("principal").value;
            if(!principal || principal.length == 0) {
                alert('技师不能为空');
                return;
            }
            var problemDescription = document.getElementById("problemDescription").value;
            if (!problemDescription || problemDescription.length == 0) {
                alert('问题描述不能为空');
                return;
            }
            var serviceType = document.getElementById("serviceType").value;
            if (!serviceType || serviceType.length == 0) {
                alert('门店/上门不能为空');
                return;
            }
            var price = document.getElementById("price").value;
            if (!price || price.length == 0) {
                alert('报价不能为空');
                return;
            }

            document.getElementById("myform").submit();
        }
    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：预约服务
    </div>
    <div class="zhuxiao"><a href="#" class="zx_sty"></a></div>
</div>
<div class="center_con">
    <form method="post" id="myform" action="/jinquan/service_meet_doEdit">
        <table width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="regTd_l">名称：</td>
                <td class="regTd_r">
                    <input id="id" type="hidden" name="id" value="<%=service_meet.id%>"/>
                    <input id="name" name="name" type="text" class="input5" value="<%=service_meet.name%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td  class="regTd_l">电话：</td>
                <td class="regTd_r"><input id="memberId" name="memberId" type="text" class="input5" value="<%=service_meet.memberId%>" /><input id="tel" name="tel" type="text" class="input5"  value="<%=service_meet.tel%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">年龄：</td>
                <td class="regTd_r"><input id="age" name="age" type="text" class="input5"  value="<%=service_meet.age%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">技师：</td>
                <td class="regTd_r"><input id="principal" name="principal" type="text" class="input5"  value="<%=service_meet.principal%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">预约时间：</td>
                <td class="regTd_r"><input id="meetTime" name="meetTime" type="text" class="input5"  value="<%=service_meet.meetTime%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">问题描述：</td>
                <td class="regTd_r"><input id="problemDescription" name="problemDescription" type="text" class="input5"  value="<%=service_meet.problemDescription%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">服务位置：</td>
                <td class="regTd_r">

                    <select id="serviceType" name="serviceType" >
                        <option value="0"
                        <%
                        if(service_meet.serviceType == '0'){
                        %>
                        selected
                        <%
                        }
                        %>
                        >请选择</option>
                        <option value="1" <%if(service_meet.serviceType == '1'){%>selected<%}%>>到店</option>
                        <option value="2" <%if(service_meet.serviceType == '2'){%>selected<%}%>>上门</option>
                    </select>
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">门店/上门：</td>
                <td class="regTd_r"><input id="address" name="address" type="text" class="input5"  value="<%=service_meet.address%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">报价：</td>
                <td class="regTd_r"><input id="price" name="price" type="text" class="input5"  value="<%=service_meet.price%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <!-- 预约情况 -->
            <tr>
                <td colspan="4" align="left">预约情况：</td>
            </tr>
            <tr>
                <td colspan="4" style="width:100%;">
                    <table style="width:60%;" class="reg_table"border="0" cellspacing="0" cellpadding="0">
                        <tr bgcolor="lightblue">
                            <td>预约时间</td>
                            <td>预约技师</td>
                            <td>如约/爽约</td>
                        </tr>
                    </table>
                </td>
            </tr>

            <!-- 服务情况 -->
            <tr>
                <td colspan="4" align="left">服务情况：</td>
            </tr>
            <tr>
                <td colspan="4" style="width:100%;">
                    <table style="width:60%;" class="reg_table"border="0" cellspacing="0" cellpadding="0">
                        <tr bgcolor="lightblue">
                            <td>服务时间</td>
                            <td>服务技师</td>
                            <td>服务类型</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- 投诉情况 -->
            <tr>
                <td colspan="4" align="left">投诉情况：</td>
            </tr>
            <tr>
                <td colspan="4" style="width:100%;">
                    <table style="width:60%;" class="reg_table"border="0" cellspacing="0" cellpadding="0">
                        <tr bgcolor="lightblue">
                            <td>投诉时间</td>
                            <td>投诉技师</td>
                            <td>解决办法</td>

                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </form>
    <div class="reg_but">
        <div class="rb_l"><a href="javascript:;" onclick="submitForm()" class="reset"></a></div>
        <div class="rb_l"><a href="/jinquan/service_meet_list" class="close"></a></div>
    </div>


</div>
</body>
</html>
