<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>添加门店</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：添加门店
    </div>
    <div class="zhuxiao"><a href="#" class="zx_sty"></a></div>
</div>
<div class="center_con">
    <table width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td  class="regTd_l">门店名称：</td>
            <td class="regTd_r"><input name="" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
        </tr>
        <tr>
            <td class="regTd_l">负责人：</td>
            <td class="regTd_r"><input name="input" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
        </tr>
        <tr>
            <td class="regTd_l">联系电话：</td>
            <td class="regTd_r"><input name="" type="text" class="input5" /></td>
        </tr>
        <tr>
            <td class="regTd_l">邮政编码：</td>
            <td class="regTd_r"><input name="" type="text" class="input5" /></td>
        </tr>
        <tr>
            <td class="regTd_l">地址：</td>
            <td class="regTd_r"><input name="" type="text" class="input5" /></td>
        </tr>
        <tr>
            <td class="regTd_l">是否启用：</td>
            <td class="regTd_r">
                <input name="" type="radio" value="" />
                启用
                &nbsp;
                <input name="" type="radio" value="" /> 未启用</td>
        </tr>
    </table>
    <div class="reg_but">
        <div class="rb_l"><a href="#" class="reset"></a></div>
        <div class="rb_l"><a href="#" class="close"></a></div>
    </div>


</div>
</body>
</html>
