<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>门店列表</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <script type="application/javascript" src="../../js/qiehuan.js"></script>
    <script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript" src="../../js/layer/layer.js"></script>
    <script type="text/javascript">

        var replytype = '<%=replytype%>';
        if (replytype == 'add') {
            parent.layer.msg('增加成功');
        } else if (replytype == 'del') {
            parent.layer.msg('删除成功');
        } else if (replytype == 'update') {
            parent.layer.msg('修改成功');
        } else if (replytype == 'no_del') {
            parent.layer.msg('此门店有员工，不能删除');
        }
        function search () {
            var shopname = document.getElementById('shopname').value;
            var principal = document.getElementById('principal').value;
            var number = document.getElementById('number').value;
            window.location.href = '/jinquan/shop_list?shopname='+shopname+'&principal='+principal+'&number='+number;
        }
        function pageturning (selectPage) {
            var shopname = document.getElementById('shopname').value;
            var principal = document.getElementById('principal').value;
            var number = document.getElementById('number').value;
            window.location.href = '/jinquan/shop_list?page='+selectPage+'&shopname='+shopname+'&principal='+principal+'&number='+number;
        }
       function setStatus (status, id) {
           var shopname = document.getElementById('shopname').value;
           var principal = document.getElementById('principal').value;
           var number = document.getElementById('number').value;
           var page = document.getElementById('page').value;
           window.location.href = '/jinquan/shop_set?page='+page+'&shopname='+shopname+'&principal='+principal+'&number='+number+'&status='+status+'&id='+id;
       }
       function preEdit (id) {
           window.location.href = '/jinquan/shop_pre_edit?id='+id;
       }
       function del (id) {
           delData('/jinquan/shop_del?id='+id);
//           if(confirm('确认删除已选择数据吗?')){
//               window.location.href = ;
//           }
       }
       function browse (id) {
           window.location.href = '/jinquan/shop_browse?id='+id;
       }

    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：门店列表
    </div>
</div>
<div class="center_con">
    <div class="butSet">
        <div class="sousuo">
            <table width="100%" class="table4" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <!-- 保存当前页，直接传入js，不能读到-->
                    <td><input id="page" name="page" type="hidden" class="input5" value="<%=data.currentPage%>"/></td>
                    <td>门店名称：<input id="shopname" name="shopname" type="text" class="input5" value="<%=data.name%>"/></td>
                    <td> &nbsp;负责人：<input id="principal" name="principal" type="text" class="input5" value="<%=data.principal%>"/></td>
                    <td> &nbsp;门店编号：<input id="number" name="number" type="text" class="input5" value="<%=data.number%>"/></td>
                    <td><a href="javascript:search()" class="chaxun"></a></td>
                </tr>
            </table>

        </div>
        <%
            if(resourcesData["/shop_pre_add"] == "1"){
            %><div class="but_0"><a href="/jinquan/shop_pre_add" class="bsty0"></a></div><%
            }
        %>

    </div>
    <div class="tabCon">
        <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
            <tr>
                <th>门店编号</th>
                <th>名称</th>
                <th>负责人</th>
                <th>电话</th>
                <th>操作</th>
            </tr>
            <% for (var i=0;i<data.data.length;i++) {%>
            <tr onmouseover="this.className='f_on'" class="f_off"  onmouseout="this.className='f_off'">
                <td><%=data.data[i].serialNumber%></td>
                <td><%=data.data[i].name%></td>
                <td><%=data.data[i].principal%></td>
                <td><%=data.data[i].tel%></td>
                <td>
                    <table width="100%" border="0" cellspacing="0" class="table_t"  cellpadding="0">
                        <tr>
                            <%if(resourcesData["/shop_browse"] == "1"){
                                %><td><div align="center"><img src="../../images/index_2.jpg" width="9" height="9" />&nbsp;[<a href="javascript:browse(<%=data.data[i].id%>)">查看</a>]</div></td><%
                            }%>
                            <%if(resourcesData["/shop_pre_edit"] == "1"){
                                %><td><div align="center"><img src="../../images/037.gif" width="9" height="9" />&nbsp;[<a href="javascript:preEdit(<%=data.data[i].id%>)">编辑</a>]</div></td><%
                            }%>
                            <%if(resourcesData["/shop_del"] == "1"){
                                %><td><div align="center"><img src="../../images/delete.gif" width="9" height="9" />&nbsp;[<a href="javascript:del(<%=data.data[i].id%>)">删除</a>]</div></td><%
                            }%>
                        </tr>
                    </table>
                </td>
            </tr>
            <%}%>
        </table>

       <!-- <%- include ../pagination.html -%>   -->
        <%- laypage %>
    </div>
</div>

</body>
</html>
