<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>添加门店</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <script type="application/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="application/javascript" src="../../js/qiehuan.js"></script>
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript" src="../../js/layer/layer.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var selObj = $("#code");
            for(var i = 65 ; i <= 90 ; i ++){
                selObj.append("<option value='"+String.fromCharCode(i)+"'>"+String.fromCharCode(i)+"</option>");
            }
        });
        function submitForm(){
            var name = document.getElementById("name").value;
            if (!name || name.length == 0) {
                parent.layer.alert('门店名称不能为空',{icon: 2});
                return;
            }
            if($("#code").val() == ""){
                parent.layer.alert('门店编码不能为空',{icon: 2});
                return;
            }
            var serialNumber = document.getElementById("serialNumber").value;
            if (!serialNumber || serialNumber.length == 0) {
                parent.layer.alert('序列号不能为空',{icon: 2});
                return;
            }
            var tel = document.getElementById("tel").value;
            if (!tel || tel.length == 0) {
                parent.layer.alert('电话不能为空',{icon: 2});
                return;
            }
            if(!isMobil(tel)){
                parent.layer.alert('请输入正确的手机号码。',{icon: 2});
                return;
            }
            if($("#city_district").val() == ""){
                parent.layer.alert('请选择区县。',{icon: 2});
                return;
            }
            var address = document.getElementById("address").value;
            if(!address || address.length == 0) {
                parent.layer.alert('门店地址不能为空',{icon: 2});
                return;
            }
            var principal = document.getElementById("principal").value;
            if (!principal || principal.length == 0) {
                parent.layer.alert('负责人不能为空',{icon: 2});
                return;
            }
            document.getElementById("myform").submit();
        }
       function checkSeri() {

           $.ajax({
               type: "post",
               url: "/jinquan/check_shopseril",
               data: {'serial':$("#serialNumber").val()},
               success: function (result) {
                   if(!result.flag){
                       document.getElementById('serialNumber').value = '';
                       parent.layer.alert('该序列号占用',{icon: 2});
                   }
               }
           });

       }

        function checkName() {
            $.ajax({
                type: "post",
                url: "/jinquan/check_shopname",
                data: {'name':$("#name").val()},
                success: function (result) {
                    if(!result.flag){
                        document.getElementById('name').value = '';
                        parent.layer.alert('该门店名称占用',{icon: 2});
                    }
                }
            });
        }
    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：添加门店
    </div>
</div>
<div class="center_con">
    <form method="post" id="myform" action="/jinquan/shop_add">
    <table width="100%" class="reg_table" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td class="regTd_l">序列号：</td>
            <td class="regTd_r"><input id="serialNumber" name="serialNumber" type="text" class="input5" onblur="checkSeri()"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            <td  class="regTd_l">门店名称：</td>
            <td class="regTd_r">
                <input id="name" name="name" type="text" class="input5" onblur="checkName()" />
                代码
                <select id="code" name="code">
                    <option value="">请选择</option>
                </select>
                &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
        </tr>
        <tr>
            <td class="regTd_l">负责人：</td>
            <td class="regTd_r"><input id="principal" name="principal" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            <td class="regTd_l">电话：</td>
            <td class="regTd_r"><input id="tel" name="tel" type="text" class="input5" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
        </tr>
        <tr>
            <td class="regTd_l">详细地址：</td>
            <td class="regTd_r" colspan="3">
                <select id="city_district" name="city_district">
                    <option value="">请选择</option>
                    <%
                    for(var i = 0 ; i < areaNames.length ; i ++){
                    %><option value="<%=areaCodes[i]%>"><%=areaNames[i]%></option><%
                    }
                    %>
                </select>
                <input id="address" name="address" type="text" class="input5" style="width: 500px" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
        </tr>
        <tr>
            <td class="regTd_l">备注：</td>
            <td class="regTd_r" colspan="3"><textarea id="remark" name="remark" rows="8" cols="100" ></textarea></td>
        </tr>

    </table>
        </form>
    <div class="reg_but">
        <div class="rb_l"><a href="javascript:;" onclick="submitForm()" class="reset"></a></div>
        <div class="rb_l"><a href="/jinquan/shop_list" class="close"></a></div>
    </div>


</div>
</body>
</html>
