<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>门店列表</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">
        function search () {
            var shopname = document.getElementById('shopname').value;
            var principal = document.getElementById('principal').value;
            var number = document.getElementById('number').value;
            window.location.href = '/jinquan/shop_list?shopname='+shopname+'&principal='+principal+'&number='+number;
        }
    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：门店列表
    </div>
    <div class="zhuxiao"><a href="#" class="zx_sty"></a></div>
</div>
<div class="center_con">
    <div class="butSet">
        <div class="sousuo">
            <table width="100%" class="table4" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>门店名称：<input id="shopname" name="shopname" type="text" class="input5" value="<%=data.name%>"/></td>
                    <td> &nbsp;负责人：<input id="principal" name="principal" type="text" class="input5" value="<%=data.principal%>"/></td>
                    <td> &nbsp;门店编号：<input id="number" name="number" type="text" class="input5" value="<%=data.number%>"/></td>
                    <td><a href="javascript:search()" class="chaxun"></a></td>
                </tr>
            </table>

        </div>
        <div class="but_0"><a href="/jinquan/shop_pre_add" class="bsty0"></a></div>
    </div>
    <div class="tabCon">
        <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
            <tr>
                <th>名称</th>
                <th>负责人</th>
                <th>电话</th>
                <th>操作</th>
            </tr>
            <% for (var i=0;i<data.data.length;i++) {%>
            <tr onmouseover="this.className='f_on'" class="f_off"  onmouseout="this.className='f_off'">
                <td><%=data.data[i].name%></td>
                <td><%=data.data[i].principal%></td>
                <td><%=data.data[i].tel%></td>
                <td>
                    <table width="100%" border="0" cellspacing="0" class="table_t"  cellpadding="0">
                        <tr>
                            <% if (data.data[i].status == 1) {%>
                            <td><div align="center"><img src="../../images/stop.gif" width="9" height="9" />&nbsp;[<a href="/jinquan/shop_set?status=0&id=<%=data.data[i].id%>">停用</a>]</div></td>
                            <% } else {%>
                            <td><div align="center"><img src="images/start.gif" width="9" height="9" />&nbsp;[<a href="/jinquan/shop_set?status=1&id=<%=data.data[i].id%>">启用</a>]</div></td>
                            <%}%>
                            <td><div align="center"><img src="../../images/037.gif" width="9" height="9" />&nbsp;[<a href="/jinquan/shop_pre_edit?id=<%=data.data[i].id%>">编辑</a>]</div></td>
                            <td><div align="center"><img src="../../images/delete.gif" width="9" height="9" />&nbsp;[<a href="/jinquan/shop_del?id=<%=data.data[i].id%>">删除</a>]</div></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <%}%>
        </table>

        <div class="black2">

            <% if(i == 1){//如果当前显示第一页时不可点击上一页
                %><span class="disabled">&lt; </span><%
            }else{
                %><a href="#?page=2">&lt;</a><%
            } %>

            <%
                var sumPage = 20;//总页数
                var selectIndex = 2;//当前显示页码
                var showPage = sumPage > 2 ? 2:sumPage;
                //前边两页一定显示
                for (var i=1;i<=showPage;i++) {
                    if(i == selectIndex){//当前显示页码样式
                        %><span class="current"><%=i %></span><%
                    }else{
                        %><a href="#?page=200"><%=i %></a><%
                    }
                }
            %>...<%

            if(selectIndex > 4){

                var pageStart = Math.floor(selectIndex/4);
                // var showPage = sumPage > 2 ? 2:sumPage;
                for (var i=(pageStart*4);i<= (pageStart*4) + 4;i++) {
                    if(i == selectIndex){//当前显示页码样式
                    %><span class="current"><%=i %></span><%
                    }else{
                    %><a href="#?page=200"><%=i %></a><%
                    }
                }

            }else{
            showPage = selectIndex + 4 > sumPage ? sumPage : selectIndex + 4;
                for (var i=3;i<=showPage ;i++) {
                    if(i == selectIndex){//当前显示页码样式
                        %><span class="current"><%=i %></span><%
                    }else{
                        %><a href="#?page=200"><%=i %></a><%
                    }
                }

            }

            if(sumPage > i +2){
                %>...<%
                for (var i=sumPage-1;i<=sumPage;i++) {
                if(i == selectIndex){//当前显示页码样式
                %><span class="current"><%=i %></span><%
                }else{
                %><a href="#?page=200"><%=i %></a><%
                }
                }
            }

            %>

            <% if(i == data.totalPages){//显示最后页时不可点击下一页
            %><span class="disabled">&gt; </span><%
            }else{
            %><a href="#?page=2">&gt;</a><%
            } %>
        </div>
    </div>
</div>

</body>
</html>
