<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>门店列表</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：门店信息
    </div>
    <div class="zhuxiao"><a href="#" class="zx_sty"></a></div>
</div>
<div class="center_con">
    <div class="butSet">
        <div class="sousuo">
            <tr>
                <td>
                    门店名称:<input name="" type="text" class="input5" />
                    负责人:<input name="" type="text" class="input5" />
                </td>
            </tr>
        </div>
      <!--  <div class="but_0"><a href="#" class="bsty0"></a></div>
        <div class="but_5"><a href="#" class="bsty5"></a></div>      -->
    </div>
    <div class="tabCon">
        <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
            <tr>
                <th>门店名称</th>
                <th>负责人</th>
                <th>联系电话</th>
                <th>邮政编码</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            <tr onmouseover="this.className='f_on'" class="f_off"  onmouseout="this.className='f_off'">
                <td>朝阳店</td>
                <td>常宽</td>
                <td>15910516643</td>
                <td>100010</td>
                <td>正常</td>
                <td>
                    <table width="100%" border="0" cellspacing="0" class="table_t"  cellpadding="0">
                        <tr>
                            <td><div align="center"><img src="../../images/037.gif" width="9" height="9" />&nbsp;[<a href="#">编辑</a>]</div></td>
                            <td><div align="center"><img src="../../images/start.gif" width="9" height="9" />&nbsp;[<a href="#">停用</a>]</div></td>
                            <td><div align="center"><img src="../../images/audit.gif" width="9" height="9" />&nbsp;[<a href="#">删除</a>]</div></td>
                        </tr>
                    </table>

                </td>
            </tr>
            <tr onmouseover="this.className='f_on'" class="f_off"  onmouseout="this.className='f_off'">
                <td>丰台店</td>
                <td>乔伯涛</td>
                <td>13833833838</td>
                <td>100010</td>
                <td>停用</td>
                <td>
                    <table width="100%" border="0" cellspacing="0" class="table_t"  cellpadding="0">
                        <tr>
                            <td ><div align="center"><img src="../../images/037.gif" width="9" height="9" />&nbsp;[<a href="#">编辑</a>]</div></td>
                            <td><div align="center"><img src="../../images/start.gif" width="9" height="9" />&nbsp;[<a href="#">启用</a>]</div></td>
                            <td><div align="center"><img src="../../images/audit.gif" width="9" height="9" />&nbsp;[<a href="#">删除</a>]</div></td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>

    </div>
</div>
</body>
</html>