<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>资源管理</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../../css/zTreeStyle/zTreeStyle.css" type="text/css">
    <link rel="stylesheet" href="../../../css/zTreeStyle/demo.css" type="text/css">
    <script language="JavaScript" type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="../js/zTree/jquery.ztree.core.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="../js/zTree/jquery.ztree.excheck.min.js"></script>
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">
        var setting = {
            view: {
                dblClickExpand: false
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
            callback: {
                beforeClick: beforeClick,
                onClick: onClick
            }
        };
        var index = 0;
        var zNodes = [];
        //为菜单下拉框增加树形结构
        $(document).ready(function(){
            var selectMenuId = '<%=data.menuId%>';
            var menus = '<%-JSON.stringify(menus)%>';
            menus = JSON.parse(menus);
            for(var i = 0 ; i < menus.length ; i ++){
                if(selectMenuId == menus[i].id){
                    var menuNameObj = $("#menuName");
                    menuNameObj.attr("value", menus[i].textCh);
                }
                if(menus[i].parentId == 0){
                    var nodesObj = {};
                    nodesObj.id = menus[i].id;
                    nodesObj.pId = menus[i].parentId;
                    nodesObj.name = menus[i].textCh;
                    zNodes[index]= nodesObj;
                    index++;
                    for(var j = i ; j < menus.length ; j ++){
                        if(menus[j].parentId == menus[i].id){
                            var nodesObj = {};
                            nodesObj.id = menus[j].id;
                            nodesObj.pId = menus[j].parentId;
                            nodesObj.name = menus[j].textCh;
                            zNodes[index]= nodesObj;
                            index++;
                        }
                    }
                }
            }
            $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        });

        function showMenu() {
            var cityObj = $("#menuName");
            var cityOffset = $("#menuName").offset();
            $("#menuContent").css({left:cityOffset.left + "px", top:cityOffset.top + cityObj.outerHeight() + "px"}).slideDown("fast");

            $("body").bind("mousedown", onBodyDown);
        }
        function hideMenu() {
            $("#menuContent").fadeOut("fast");
            $("body").unbind("mousedown", onBodyDown);
        }
        function onBodyDown(event) {
            if (!(event.target.id == "menuBtn" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length>0)) {
                hideMenu();
            }
        }


        //点击后回调函数
        function beforeClick(treeId, treeNode) {
            var check = (treeNode && !treeNode.isParent);
            if (!check) {
                parent.layer.msg("只能选择子菜单");
                return check;
            }else{
                hideMenu();
                return check;
            }
        }

        function onClick(e, treeId, treeNode) {
            var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
                    nodes = zTree.getSelectedNodes(),
                    v = "",mId = "";
            nodes.sort(function compare(a,b){return a.id-b.id;});
            for (var i=0, l=nodes.length; i<l; i++) {
                v += nodes[i].name + ",";
                mId += nodes[i].id + ",";
            }
            if (v.length > 0 ) v = v.substring(0, v.length-1);
            if (mId.length > 0 ) mId = mId.substring(0, mId.length-1);
            var menuIdObj = $("#menuId");
            menuIdObj.attr("value", mId);
            var menuNameObj = $("#menuName");
            menuNameObj.attr("value", v);
        }

        var replytype = '<%=replytype%>';
        if (replytype == 'add') {
            parent.layer.msg('增加成功');
        } else if (replytype == 'del') {
            parent.layer.msg('删除成功');
        } else if (replytype == 'update') {
            parent.layer.msg('修改成功');
        }
        var defaultPage = '<%=data.currentPage%>';
        //查询方法
        function search () {
            var textCh = document.getElementById('textCh').value;
            var menuId = $('#menuId').val();
            window.location.href = '/jinquan/sys_resources_list?textCh='+textCh+"&menuId="+menuId+"&page="+defaultPage;
        }
        function setDefault(){
            defaultPage = "1";
        }

        //跳转到编辑页面
        function preEdit (id) {
            window.location.href = '/jinquan/sys_resources_add?id='+id;
        }
        //跳转到删除页面
        function del (id) {
            window.location.href = '/jinquan/sys_resources_del?id='+id;
        }
        //跳转到查看页面
        function browse (id) {
            window.location.href = '/jinquan/sys_resources_add?show=view&id='+id;
        }
    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：资源管理列表
    </div>
</div>
<div class="center_con">
    <div class="butSet">
        <div class="sousuo">
            <table width="100%" class="table4" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="regTd_l">所属菜单：</td>
                    <td class="regTd_r">
                        <input id="menuId" name="menuId" type="hidden" value="<%=data.menuId%>" />
                        <input id="menuName" name="menuName" type="text" class="input5" value="<%=data.menuId%>" readonly />&nbsp;&nbsp;<span style="color:#FF0000;">*</span>
                        <a id="menuBtn" href="#" onclick="showMenu(); return false;">选择 &nbsp; &nbsp;</a>
                        <div id="menuContent" class="menuContent" style="display:none; position: absolute;">
                            <ul id="treeDemo" class="ztree" style="margin-top:0; width:160px;"></ul>
                        </div>
                    </td>
                    <td>资源名称：<input name="textCh" id="textCh" value="<%=data.textCh%>" type="text" class="input5" onchange="setDefault()" /></td>
                    <td><a href="javascript:search ()" class="chaxun"></a></td>
                </tr>
            </table>

        </div>
        <%if(resourcesData["/sys_resources_add"] == "1"){
            %><div class="but_0"><a href="/jinquan/sys_resources_add" class="bsty0"></a></div><%
        }%>

    </div>
    <div class="tabCon">
        <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
            <tr>
                <th>功能中文</th>
                <th>功能英文</th>
                <th>所属菜单</th>
                <th>功能标识</th>
                <th>显示顺序</th>
                <th>操作</th>
            </tr>
            <% for (var i=0;i<data.data.length;i++) {%>
            <tr onmouseover="this.className='f_on'" class="f_off"  onmouseout="this.className='f_off'">
                <td><%=data.data[i].textCh%></td>
                <td><%=data.data[i].textEn%></td>
                <td><%=data.data[i].parentName%></td>
                <td><%=data.data[i].url%></td>
                <td><%=data.data[i].orderId%></td>
                <td>
                    <table width="100%" border="0" cellspacing="0" class="table_t"  cellpadding="0">
                        <tr>
                            <%if(resourcesData["/sys_resources_add"] == "1"){
                                %><td><div align="center"><img src="../../images/index_2.jpg" width="9" height="9" />&nbsp;[<a href="javascript:browse(<%=data.data[i].id%>)">查看</a>]</div></td><%
                            }%>
                            <%if(resourcesData["/sys_resources_add"] == "1"){
                                %><td><div align="center"><img src="../../images/037.gif" width="9" height="9" />&nbsp;[<a href="javascript:preEdit(<%=data.data[i].id%>)">编辑</a>]</div></td><%
                            }%>
                            <%if(resourcesData["/sys_resources_del"] == "1"){
                                %><td><div align="center"><img src="../../images/delete.gif" width="9" height="9" />&nbsp;[<a href="javascript:del(<%=data.data[i].id%>)">删除</a>]</div></td><%
                            }%>
                        </tr>
                    </table>
                </td>
            </tr>
            <%}%>
        </table>
        <%- laypage %>
    </div>
</div>

</body>
</html>
