<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>资源管理</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">
        var replytype = '<%=replytype%>';
        if (replytype == 'add') {
            parent.layer.msg('增加成功');
        } else if (replytype == 'del') {
            parent.layer.msg('删除成功');
        } else if (replytype == 'update') {
            parent.layer.msg('修改成功');
        }
        var defaultPage = '<%=data.totalPages%>';
        //查询方法
        function search () {
            var textCh = document.getElementById('textCh').value;
            window.location.href = '/jinquan/sys_resources_list?textCh='+textCh+"&page="+defaultPage;
        }
        function setDefault(){
            defaultPage = "1";
        }

        //跳转到编辑页面
        function preEdit (id) {
            window.location.href = '/jinquan/sys_resources_add?id='+id;
        }
        //跳转到删除页面
        function del (id) {
            window.location.href = '/jinquan/sys_resources_del?id='+id;
        }
        //跳转到查看页面
        function browse (id) {
            window.location.href = '/jinquan/sys_resources_add?show=view&id='+id;
        }
    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：资源管理列表
    </div>
</div>
<div class="center_con">
    <div class="butSet">
        <div class="sousuo">
            <table width="100%" class="table4" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>资源名称：<input name="textCh" id="textCh" value="<%=data.textCh%>" type="text" class="input5" onchange="setDefault()" /></td>
                    <td><a href="javascript:search ()" class="chaxun"></a></td>
                </tr>
            </table>

        </div>
        <%if(resourcesData["/sys_resources_add"] == "1"){
            %><div class="but_0"><a href="/jinquan/sys_resources_add" class="bsty0"></a></div><%
        }%>

    </div>
    <div class="tabCon">
        <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
            <tr>
                <th>功能中文</th>
                <th>功能英文</th>
                <th>所属菜单</th>
                <th>功能标识</th>
                <th>显示顺序</th>
                <th>操作</th>
            </tr>
            <% for (var i=0;i<data.data.length;i++) {%>
            <tr onmouseover="this.className='f_on'" class="f_off"  onmouseout="this.className='f_off'">
                <td><%=data.data[i].textCh%></td>
                <td><%=data.data[i].textEn%></td>
                <td><%=data.data[i].parentName%></td>
                <td><%=data.data[i].url%></td>
                <td><%=data.data[i].orderId%></td>
                <td>
                    <table width="100%" border="0" cellspacing="0" class="table_t"  cellpadding="0">
                        <tr>
                            <%if(resourcesData["/sys_resources_add"] == "1"){
                                %><td><div align="center"><img src="../../images/index_2.jpg" width="9" height="9" />&nbsp;[<a href="javascript:browse(<%=data.data[i].id%>)">查看</a>]</div></td><%
                            }%>
                            <%if(resourcesData["/sys_resources_add"] == "1"){
                                %><td><div align="center"><img src="../../images/037.gif" width="9" height="9" />&nbsp;[<a href="javascript:preEdit(<%=data.data[i].id%>)">编辑</a>]</div></td><%
                            }%>
                            <%if(resourcesData["/sys_resources_del"] == "1"){
                                %><td><div align="center"><img src="../../images/delete.gif" width="9" height="9" />&nbsp;[<a href="javascript:del(<%=data.data[i].id%>)">删除</a>]</div></td><%
                            }%>
                        </tr>
                    </table>
                </td>
            </tr>
            <%}%>
        </table>
        <%- laypage %>
    </div>
</div>

</body>
</html>
