<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>考勤变更</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../js/layer/layer.js"></script>
    <script type="text/javascript" src="../../js/laydate/laydate.js"></script>
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">
        function search() {
            var staffName = $("#staffName").val();
            var staffId = $("#staffId").val();
            var performanceDate = $("#performanceDate").val();
            window.location.href = '/jinquan/performance_search_list?staffId='+staffId+'&staffName='+staffName+'&performanceDate='+performanceDate;
        }
        //员工的选择
        function getmembers(index){
            //iframe层
            memberIndex = parent.layer.open({
                type: 2,
                title: '选择员工信息',
                shadeClose: true,
                shade: 0.8,
                area: ['80%', '90%'],
                content: '/jinquan/staff_select_train?index='+index, //iframe的url
                success: function(layero, index){
                },
                close: function(d){
                }
            });
        }
    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：绩效查询
    </div>
</div>
<div class="center_con">
    <div class="butSet">
        <div class="sousuo">
            <table width="100%" class="table4" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <input type="hidden" id="staffId" name="staffId" value="<%=data.staffId%>"/>
                        员工名称：<input name="staffName" id="staffName" type="text" class="input5" value="<%=data.staffName%>"  onfocus="getmembers('')"/>
                    </td>
                    <td> &nbsp;绩效时间：<input name="performanceDate" id="performanceDate" type="text" class="input5" value="<%=data.performanceDate%>" onclick="laydate({istime: true, format: 'YYYY-MM'})"/></td>
                    <td><a href="javascript:search()" class="chaxun"></a></td>
                </tr>
            </table>

        </div>
    </div>
    <div class="tabCon">
        <!-- 考勤情况 -->
        <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
            <tr>
                <th>正常出勤天数</th>
                <th>加班小时数</th>
                <th>年假</th>
                <th>调休</th>
                <th>事假</th>
                <th>其他请假</th>
                <th>应考勤天数</th>
                <th>查看详情</th>
            </tr>
            <tr>
                <td>正常考勤天数</td>
                <td>加班小时数</td>
                <td>年假</td>
                <td>调休</td>
                <td>事假</td>
                <td>其他请假</td>
                <td>
                    <%
                    if(data != null && data.staffLevel != null){
                    %><%=data.staffLevel[0].attendanceNum%><%
                    }else{%>0<%}
                    %>
                </td>
                <td>查看详情</td>
            </tr>
        </table>
        <!-- 考勤情况 -->
        <br/><br/>
        <!-- 培训情况 -->
        <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
            <tr>
                <th>参加培训次数</th>
                <th>考前总积分</th>
                <th>上课总积分</th>
                <th>课后总积分</th>
                <th>总积分</th>
                <th>课程应得积分</th>
                <th>升级所需积分</th>
                <th>查看详情</th>
            </tr>
            <tr>
                <td><%
                    if(data != null && data.staffTrainSumDatas != null){
                    %><%=data.staffTrainSumDatas[0].trainSum%><%
                    }else{%>0<%}
                    %>
                </td>

                <%
                if(data != null && data.staffTrainIntegrationDatas != null){
                %>
                    <td><%=data.staffTrainIntegrationDatas[0].afterSum%></td>
                    <td><%=data.staffTrainIntegrationDatas[0].classSum%></td>
                    <td><%=data.staffTrainIntegrationDatas[0].beforeSum%></td>
                    <td><%=data.staffTrainIntegrationDatas[0].afterSum + data.staffTrainIntegrationDatas[0].classSum + data.staffTrainIntegrationDatas[0].beforeSum%></td>
                    <td><%=data.staffTrainIntegrationDatas[0].scorseSum%></td>
                <%
                }else{
                %>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <%
                }
                %>
                <td>
                    <%
                    if(data != null && data.staffLevel != null){
                    %><%=data.staffLevel[0].trainNum%><%
                    }else{%>0<%}
                    %>
                </td>
                <td>查看详情</td>
            </tr>
        </table>
        <!-- 培训情况 -->
        <br/><br/>
        <!-- 实操情况 -->
        <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
            <tr>
                <th>实操数量</th>
                <th>升级所需数</th>
                <th>查看详情</th>
            </tr>
            <tr>
                <td>
                    <%
                    if(data != null && data.serviceDatas != null){
                        %><%=data.serviceDatas[0].serverCount%><%
                    }else{%>0<%}
                    %>
                </td>
                <td>
                    <%
                    if(data != null && data.staffLevel != null){
                        %><%=data.staffLevel[0].serverNum%><%
                    }else{%>0<%}
                    %>
                </td>
                <td>查看详情</td>
            </tr>

        </table>
        <!-- 实操情况 -->
        <br/><br/>
        <!-- 投诉情况 -->
        <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
            <tr>
                <th>投诉次数</th>
                <th>吐槽数量</th>
                <th>换人数量</th>
                <th>退钱数量</th>
                <th>查看详情</th>
            </tr>
            <%
            if(data != null && data.complainSumCount != null){
            var sum1 = 0;
            var sum2 = 0;
            var sum3 = 0;
            for(var i = 0 ; i < data.complainSumCount.length ; i ++){
                if(data.complainSumCount[i].complainType == 1){
                    sum1 = data.complainSumCount[i].complainSum;
                }else if(data.complainSumCount[i].complainType == 2){
                    sum2 = data.complainSumCount[i].complainSum;
                }else if(data.complainSumCount[i].complainType == 3){
                    sum3 = data.complainSumCount[i].complainSum;
                }
            }
            %>
            <tr onmouseover="this.className='f_on'" class="f_off"  onmouseout="this.className='f_off'">
                <td><%=sum1+sum2+sum3%></td>
                <td><%=sum1 %></td>
                <td><%=sum2 %></td>
                <td><%=sum3 %></td>
                <td>查看详情</td>
            </tr>
            <%
            }else{
            %>
            <tr>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>查看详情</td>
            </tr>
            <%
            }
            %>
        </table>
        <!-- 投诉情况 END -->

    </div>
</div>

</body>
</html>
