<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>考勤变更</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../js/layer/layer.js"></script>
    <script type="text/javascript" src="../../js/laydate/laydate.js"></script>
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">
        function search() {
            var staffName = $("#staffName").val();
            var staffId = $("#staffId").val();
            var performanceDate = $("#performanceDate").val();
            window.location.href = '/jinquan/performance_search_list?staffId='+staffId+'&staffName='+staffName+'&performanceDate='+performanceDate;
        }
        //员工的选择
        function getmembers(index){
            //iframe层
            memberIndex = parent.layer.open({
                type: 2,
                title: '选择员工信息',
                shadeClose: true,
                shade: 0.8,
                area: ['80%', '90%'],
                content: '/jinquan/staff_select_train?index='+index, //iframe的url
                success: function(layero, index){
                },
                close: function(d){
                }
            });
        }
    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：绩效查询
    </div>
    <div class="zhuxiao"><a href="#" class="zx_sty"></a></div>
</div>
<div class="center_con">
    <div class="butSet">
        <div class="sousuo">
            <table width="100%" class="table4" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <input type="hidden" id="staffId" name="staffId" value="<%=data.staffId%>"/>
                        员工名称：<input name="staffName" id="staffName" type="text" class="input5" value="<%=data.staffName%>"  onfocus="getmembers('')"/>
                    </td>
                    <td> &nbsp;绩效时间：<input name="performanceDate" id="performanceDate" type="text" class="input5" value="<%=data.performanceDate%>" onclick="laydate({istime: true, format: 'YYYY-MM'})"/></td>
                    <td><a href="javascript:search()" class="chaxun"></a></td>
                </tr>
            </table>

        </div>
    </div>
    <div class="tabCon">
        <%
            if(data.staffId == null){
            %>
                <!-- 考勤情况 -->
                <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
                    <tr>
                        <th>正常考勤天数</th>
                        <th>加班小时数</th>
                        <th>年假</th>
                        <th>调休</th>
                        <th>事假</th>
                        <th>其他请假</th>
                        <th>应考勤天数</th>
                        <th>查看详情</th>
                    </tr>
                </table>
                <!-- 考勤情况 -->
                <br/><br/>
                <!-- 培训情况 -->
                <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
                    <tr>
                        <th>参加培训次数</th>
                        <th>考前总积分</th>
                        <th>上课总积分</th>
                        <th>课后总积分</th>
                        <th>总积分</th>
                        <th>应得积分</th>
                        <th>查看详情</th>
                    </tr>
                </table>
                <!-- 培训情况 -->
                <br/><br/>
                <!-- 实操情况 -->
                <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
                    <tr>
                        <th>实操数量</th>
                        <th>当前等级应参与考勤数量</th>
                        <th>查看详情</th>
                    </tr>
                </table>
                <!-- 实操情况 -->
                <br/><br/>
                <!-- 投诉情况 -->
                <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
                    <tr>
                        <th>投诉次数</th>
                        <th>吐槽数量</th>
                        <th>换人数量</th>
                        <th>退钱数量</th>
                        <th>查看详情</th>
                    </tr>
                </table>
                <!-- 投诉情况 -->
            <%

            }
        %>

    </div>
</div>

</body>
</html>
