<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>库房修改</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">
        function submitForm(){
            var serial = document.getElementById("serial").value;
            if (!serial || serial.length == 0) {
                alert('编号不能为空');
                return;
            }
            var name = document.getElementById("name").value;
            if (!name || name.length == 0) {
                alert('库房名称不能为空');
                return;
            }
            var address = document.getElementById("address").value;
            if(!address || address.length == 0) {
                alert('库房地址不能为空');
                return;
            }
            var principal = document.getElementById("principal").value;
            if (!principal || principal.length == 0) {
                alert('负责人不能为空');
                return;
            }
            document.getElementById("myform").submit();
        }
    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：库房修改
    </div>
    <div class="zhuxiao"><a href="#" class="zx_sty"></a></div>
</div>
<div class="center_con">
    <form method="post" id="myform" action="/jinquan/storeroom_update">
    <table width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
        <input id="sid" name="sid" type="hidden"  value="<%=data.id%>" />
        <tr>
            <td class="regTd_l">库房编号：</td>
            <td class="regTd_r"><input id="serial" name="serial" type="text" class="input5" value="<%=data.serial%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
        </tr>
        <tr>
            <td class="regTd_l">库房名称：</td>
            <td class="regTd_r"><input id="name" name="name" type="text" class="input5" value="<%=data.name%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
        </tr>
        <tr>
            <td class="regTd_l">负责人：</td>
            <td class="regTd_r"><input id="principal" name="principal" type="text" class="input5" value="<%=data.principal%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
        </tr>
        <tr>
            <td class="regTd_l">存储类别：</td>
            <td class="regTd_r"><select id="cid" name="cid">
                <%for(var i=0;i<classifys.length;i++){%>
                <option value ="<%=classifys[i].id%>" <%if(data.cid == classifys[i].id){%>selected<%}%> ><%=classifys[i].name%></option>
                <%}%>
            </select>&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
        </tr>
        <tr>
            <td class="regTd_l">联系电话：</td>
            <td class="regTd_r"><input id="tel" name="tel" type="text" class="input5" value="<%=data.tel%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
        </tr>
        <tr>
            <td class="regTd_l">库房地址：</td>
            <td class="regTd_r"><input id="address" name="address" type="text" class="input5" value="<%=data.address%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
        </tr>
        <tr>
            <td class="regTd_l">备注：</td>
            <td class="regTd_r"><textarea id="remarks" name="remarks" rows="8" cols="19" ><%=data.remarks%></textarea></td>
        </tr>
    </table>
    </form>
    <div class="reg_but">
        <div class="rb_l"><a href="javascript:;" onclick="submitForm()" class="reset"></a></div>
        <div class="rb_l"><a href="/jinquan/storeroom_list" class="close"></a></div>
    </div>
</div>
</body>
</html>