<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>入库管理</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <script type="application/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="application/javascript" src="../../js/layer/layer.js"></script>
    <script type="application/javascript" src="../../js/laydate/laydate.js"></script>
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
</head>

<script type="text/javascript">

    var replytype = '<%=replytype%>';
    if (replytype == 'add') {
        parent.layer.msg('增加成功');
    } else if (replytype == 'del') {
        parent.layer.msg('删除成功');
    } else if (replytype == 'update') {
        parent.layer.msg('修改成功');
    }

    function search () {
        var buyer = document.getElementById('buyer').value;
        var buyType = document.getElementById('buyType').value;
        var buyDate = document.getElementById('buyDate').value;
        window.location.href = '/jinquan/storeroom_in_list?buyer='+buyer+'&buyType='+buyType+'&buyDate='+buyDate;
    }

    function pageturning (selectPage) {
        var buyer = document.getElementById('buyer').value;
        var buyType = document.getElementById('buyType').value;
        var buyDate = document.getElementById('buyDate').value;
        window.location.href = '/jinquan/storeroom_in_list?page='+selectPage+'&buyer='+buyer+'&buyType='+buyType+'&buyDate='+buyDate;
    }
</script>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：入库管理列表
    </div>
</div>
<div class="center_con">
    <div class="butSet">
        <div class="sousuo">
            <table width="100%" class="table4" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>采购人：<input id="buyer" name="buyer" type="text" class="input5" value="<%=data.par_buyer%>"/></td>
                    <td> &nbsp;采购方式：<select id="buyType" name="buyType">
                        <option value =""></option>
                        <%for(var i=0;i<data.buyTypeClassify.length;i++){%>
                        <option value ="<%=data.buyTypeClassify[i].id%>" <%if(data.par_buyType == data.buyTypeClassify[i].id){%>selected<%}%> ><%=data.buyTypeClassify[i].name%></option>
                        <%}%>
                    </select></td>
                    <td> &nbsp;采购时间：<input id="buyDate" name="buyDate" type="text" class="input5" onclick="laydate()" readonly="true" value="<%=data.par_buyDate%>"/> </td>
                    <td><a href="javascript:search()" class="chaxun"></a></td>
                </tr>
            </table>

        </div>
        <div class="but_0"><a href="/jinquan/storeroom_in_pre_add" class="bsty0"></a></div>
    </div>
    <div class="tabCon">
        <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
            <tr>
                <th>采购时间</th>
                <th>采购人</th>
                <th>采购方式</th>
                <th>入库库房</th>
                <th>操作</th>
            </tr>
            <% for (var i=0;i<data.data.length;i++) {%>
            <tr onmouseover="this.className='f_on'" class="f_off"  onmouseout="this.className='f_off'">
                <td><%=data.data[i].buyDate%></td>
                <td><%=data.data[i].buyer%></td>
                <td><%=data.data[i].inname%></td>
                <td><%=data.data[i].storeroomName%></td>
                <td>
                    <table width="100%" border="0" cellspacing="0" class="table_t"  cellpadding="0">
                        <tr>
                            <td><div align="center"><img src="../../images/index_2.jpg" width="9" height="9" />&nbsp;[<a href="/jinquan/storeroom_in_detail?id=<%=data.data[i].id%>">查看</a>]</div></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <%}%>
        </table>
        <%- include ../pagination.html -%>
    </div>
</div>

</body>
</html>
