<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>添加课程</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>


    <script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var classroomid = '<%=result.classRoomId%>';
        var courseId = '<%=result.courseId%>';
        var date = '<%=result.date%>';

        // 控制选择的时间段
        var arr_selectedTime = '<%-JSON.stringify(result.coursePlan)%>';
        arr_selectedTime = JSON.parse(arr_selectedTime);


        var iframIndex ;
        function getWares(index){
            //iframe层
            iframIndex = parent.layer.open({

                type: 2,
                title: '选择员工',
                shadeClose: true,
                shade: 0.8,
                area: ['80%', '90%'],
                content: '/jinquan/staff_select_train?index='+index, //iframe的url
                success: function(layero, index){

                },
                close: function(d){

                }
            });
        }

        function changeFrom(doc) { // 1.内训 2.专业课 3.父母课 4.会议
            var type = doc.value;
            if (type == 1) {
                window.location.href = "/jinquan/course_plan_pre_add?courseId="+courseId+"&classRoomId="+classroomid+'&date='+date+"&type=1";
            } else if (type == 2) {
                window.location.href = "/jinquan/course_plan_pre_add?courseId="+courseId+"&classRoomId="+classroomid+'&date='+date+"&type=2";
            } else if (type == 3) {
                window.location.href = "/jinquan/course_plan_pre_add?courseId="+courseId+"&classRoomId="+classroomid+'&date='+date+"&type=3";
            } else if (type == 4) {
                window.location.href = "/jinquan/course_plan_pre_add?courseId="+courseId+"&classRoomId="+classroomid+'&date='+date+"&type=4";
            }
        }


        function submitForm () {

            var type = document.getElementById('courseType').value;

            var course = document.getElementById('course').value;
            if (!course || course.length == 0) {
                parent.layer.alert('课程名称不能为空',{icon: 2});
                return;
            }
            var teacher = document.getElementById('teacher').value;
            if (!teacher || teacher.length == 0) {
                parent.layer.alert('教师名称不能为空',{icon: 2});
                return;
            }
            var startTime = document.getElementById('startTime').value;
            var endTime = document.getElementById('endTime').value;
            if(startTime >= endTime){
                parent.layer.alert('所选时间段无效，请重新选择',{icon: 2});
            }
            for(var i = 0 ; i < arr_selectedTime.length; i ++){
                console.log(arr_selectedTime[i].courseTimeStart+'==='+startTime+"--"+arr_selectedTime[i].courseTimeEnd +"~"+ endTime);
                if((arr_selectedTime[i].courseTimeStart >= startTime && arr_selectedTime[i].courseTimeEnd <= startTime)
                        || (arr_selectedTime[i].courseTimeEnd >= endTime && arr_selectedTime[i].courseTimeEnd <= endTime)){
                    parent.layer.alert('所选时间段无效，请重新选择',{icon: 2});
                    return;
                }
                if(arr_selectedTime[i].courseTimeStart > startTime && arr_selectedTime[i].courseTimeEnd <= startTime){
                    parent.layer.alert('所选时间段无效，请重新选择',{icon: 2});
                    return;
                }
                if(arr_selectedTime[i].courseTimeStart < endTime && arr_selectedTime[i].courseTimeEnd > endTime){
                    parent.layer.alert('所选时间段无效，请重新选择',{icon: 2});
                    return;
                }
                if(arr_selectedTime[i].courseTimeStart >= startTime && arr_selectedTime[i].courseTimeEnd < endTime){
                    parent.layer.alert('所选时间段无效，请重新选择',{icon: 2});
                    return;
                }
                if(arr_selectedTime[i].courseTimeStart < startTime && arr_selectedTime[i].courseTimeEnd > startTime){
                    parent.layer.alert('所选时间段无效，请重新选择',{icon: 2});
                    return;
                }
            }
            if (startTime>=endTime) {
                parent.layer.alert('开始时间不能大于结束时间',{icon: 2});
                return;
            }



            var score = document.getElementById('score').value;
            if (!score || score.length == 0) {
                parent.layer.alert('分数不能为空',{icon: 2});
                return;
            }
            var content = document.getElementById('content').value;
            if (!content || content.length == 0) {
                parent.layer.alert('培训内容不能为空',{icon: 2});
                return;
            }
            if(!document.getElementsByName('staffId')[0]){
                parent.layer.alert('请点击加号选择培训员工',{icon: 2});
                return;
            }
            // 判断该表单中 是否有相同的 人员
            var arr_proId = document.getElementsByName('staffId');
            var arr = new Array();
            for(var i=0;i<arr_proId.length;i++) {
                arr.push(arr_proId[i].value);
            }
            //排序
            var nary=arr.sort();
            for (var i=0;i<arr.length;i++) {
                if (nary[i]==nary[i+1]){
                    parent.layer.alert('员工中有两条数据相同，请查证后提交！',{icon: 2});
                    return;
                }
            }
            //loading层
            var index = parent.layer.load(1, {
                shade: [0.1,'#FFF000'], //0.1透明度的白色背景
                time: 2000//显示时间
            });

            document.getElementById('neixunFrom').action="/jinquan/course_plan_add?type="+type+"&classroomid="+classroomid+"&courseId="+courseId+"&date="+date;
            document.getElementById('neixunFrom').submit();

        }

        //当前商品显示位置
        var waresIndex = 0;
        //table中增加需要添加的行信息
        function addTr(){
            //获取表格对象
            var table=document.getElementById("waresTable");
            //获取当前行数
            waresIndex = $("#waresTable tr").length;
            var row=table.insertRow(waresIndex);
            var cell1=row.insertCell(0);//员工名称
            var cell2=row.insertCell(1);//员工级别
            var cell3=row.insertCell(2);//电话
            var cell4=row.insertCell(3);//邮箱
            var cell5=row.insertCell(4);//删除本行
            var cell6=row.insertCell(5);//员工id
            cell1.innerHTML = '<input id="staffName'+waresIndex+'"  name="staffName" type="text" class="input5 input_arr" onfocus="getWares('+waresIndex+')"/>';
            cell2.innerHTML='<input id="staffLevel'+waresIndex+'" name="staffLevel" type="text" class="input5 input_arr" readonly="true"/>';
            cell3.innerHTML='<input id="tel'+waresIndex+'" name="tel" type="text" class="input5 input_arr" readonly="true"/>';
            cell4.innerHTML='<input id="email'+waresIndex+'" name="email" type="text" class="input5 input_arr" readonly="true"/>';
            cell6.innerHTML='<input id="staffId'+waresIndex+'" name="staffId" type="hidden" class="input5 input_arr" />';
            cell5.innerHTML='<a style="cursor: pointer" onclick="javaScript:delTr(this)"><h1>-</h1></a>';
        }
        //table中删除选中的行数据
        function delTr(delObj){
            var deltr = delObj.parentNode.parentNode;
            $('#waresTable tr:eq('+deltr.rowIndex+')').remove();
        }

        function cancel() {
            window.location.href='/jinquan/course_plan';
        }

    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：系统排课
    </div>
</div>
<div class="center_con">

    <div class="tabCon">
        <div class="nx1">
            <select id="courseType" name="courseType" onchange="changeFrom(this)">
                <option value="1" selected>内训</option>
                <option value="2">专业课</option>
                <option value="3">父母课</option>
                <option value="4">会议</option>
            </select>
            <hr class="lineSty" />
        </div>
        <div id="neixun">
            <form id="neixunFrom"  method="post" >

                <div class="nx1">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablebox"  >
                        <tr>
                            <td width="10%">课程名称：</td>
                            <td width="40%"><input id="course" name="course" type="text" class="input6"  /></td>
                            <td width="10%">授课教师：</td>
                            <input id="teacherid" name="teacherid" type="hidden"  />
                            <td width="40%"><input id="teacher" name="teacher" type="text" class="input6"  onfocus="getWares('')"/></td>
                        </tr>
                    </table>
                    <hr class="lineSty" />
                </div>
                <div class="nx1">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="bordered">
                        <thead>
                        <tr>

                            <th>8:00~8:30</th>
                            <th>8:30~9:00</th>
                            <th>9:00~9:30</th>
                            <th>9:30~10:00</th>
                            <th>10:00~10:30</th>
                            <th>10:30~11:00</th>
                            <th>11:00~11:30</th>
                            <th>11:30~12:00</th>
                            <th>14:00~14:30</th>
                            <th>14:30~15:00</th>
                            <th>15:00~15:30</th>
                            <th>15:30~16:00</th>
                            <th>16:00~16:30</th>
                            <th>16:30~17:00</th>
                            <th>17:00~17:30</th>
                            <th>17:30~18:00</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <%
                            for(var j = 0; j < 16 ; j ++){
                            var isHaveCourse = '';
                            var tdClass = "classDefault";
                            for(var i = 0 ; i < result.coursePlan.length ; i ++){
                            if(j >=  result.coursePlan[i].courseTimeStart && j <  result.coursePlan[i].courseTimeEnd ){
                            if(result.coursePlan[i].courseType == 1){
                            tdClass = "classBlue";
                            }else if(result.coursePlan[i].courseType == 2){
                            tdClass = "classViolet";
                            }else if(result.coursePlan[i].courseType == 3){
                            tdClass = "classGreen";
                            }else if(result.coursePlan[i].courseType == 4){
                            tdClass = "classRed";
                            }
                            %><td class="<%=tdClass%>">&nbsp;</td><%
                            isHaveCourse = '1';
                            break;
                            }
                            }

                            if(isHaveCourse == ''){
                            %><td class="<%=tdClass%>">&nbsp;</td><%
                            }
                            }
                            %>
                            <!--
                            <td class="classBlue">&nbsp;</td>
                            <td class="classBlue">&nbsp;</td>
                            <td class="" >&nbsp;</td>
                            <td class="">&nbsp;</td>
                            <td class="classViolet">&nbsp;</td>
                            <td class="">&nbsp;</td>
                            <td class="classGreen">&nbsp;</td>
                            <td class="classGreen">&nbsp;</td>
                            <td class="classRed">&nbsp;</td>
                            <td class="">&nbsp;</td>
                            <td class="">&nbsp;</td>
                            <td class="">&nbsp;</td>
                            -->
                        </tr>
                        </tbody>
                    </table>
                    <hr class="lineSty" />
                </div>
                <div class="nx1">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablebox"   >
                        <tr>
                            <td width="10%">选择授课时间段：</td>
                            <td width="40%">
                                <select id="startTime" name="startTime" class="select2" style="width:100px;">
                                    <option value="0">8:00</option>
                                    <option value="1">8:30</option>
                                    <option value="2">9:00</option>
                                    <option value="3">9:30</option>
                                    <option value="4">10:00</option>
                                    <option value="5">10:30</option>
                                    <option value="6">11:00</option>
                                    <option value="7">11:30</option>
                                    <option value="8">12:00</option>
                                    <option value="9">14:00</option>
                                    <option value="10">14:30</option>
                                    <option value="11">15:00</option>
                                    <option value="12">15:30</option>
                                    <option value="13">16:00</option>
                                    <option value="14">16:30</option>
                                    <option value="15">17:00</option>
                                    <option value="16">17:30</option>
                                    <option value="17">18:00</option>
                                </select> --
                                <select id="endTime" name="endTime" class="select2" style="width:100px;">
                                    <option value="0">8:00</option>
                                    <option value="1">8:30</option>
                                    <option value="2">9:00</option>
                                    <option value="3">9:30</option>
                                    <option value="4">10:00</option>
                                    <option value="5">10:30</option>
                                    <option value="6">11:00</option>
                                    <option value="7">11:30</option>
                                    <option value="8">12:00</option>
                                    <option value="9">14:00</option>
                                    <option value="10">14:30</option>
                                    <option value="11">15:00</option>
                                    <option value="12">15:30</option>
                                    <option value="13">16:00</option>
                                    <option value="14">16:30</option>
                                    <option value="15">17:00</option>
                                    <option value="16">17:30</option>
                                    <option value="17">18:00</option>
                                </select>

                            </td>
                            <td width="10%">课程满分：</td>
                            <td width="40%"><input id="score" name="score" type="text" class="input6"  /></td>
                        </tr>
                        <tr>
                            <td width="10%" valign="top">培训内容：</td>
                            <td colspan="3">
                                <textarea id="content" name="content" cols="102" rows="3" class="textarea1"></textarea>
                            </td>
                        </tr>

                    </table>
                    <hr class="lineSty" />
                </div>

                <!--员工信息 start-->
                <span style="float: left; font-weight:bold;width: 100px;"><h3>员工信息</h3></span>
                <br>
                <table id="waresTable" width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
                    <tr bgcolor="lightblue">

                        <td>员工名称</td>
                        <td>员工级别</td>
                        <td>电话</td>
                        <td>邮箱</td>
                        <td><a style="cursor: pointer" onclick="javaScript:addTr()"><h1>+</h1></a></td>
                    </tr>
                </table>

            </form>
        </div>
        <div class="nx1" style="text-align:center; margin-top:55px;">
            <button type="button" value="保存"  class="button feise" onclick="submitForm()">保存</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button"  value="取消" class="button gray" onclick="cancel()">取消</button>

        </div>
    </div>
</div>

</body>
</html>
