<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../js/layer/layer.js"></script>
    <script type="text/javascript" src="../../js/laydate/laydate.js"></script>
    <title>编辑公告信息</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">

        function submitForm(){
            if($('#title').val() == ''){
                parent.layer.alert('请输入标题',{icon: 2});
                return;
            }
            if($('#content').val() == ''){
                parent.layer.alert('请输入内容',{icon: 2});
                return;
            }
            if($('#type').val() == ''){
                parent.layer.alert('请选择公告类型',{icon: 2});
                return;
            }

            var title = $('#title').val();
            var content = $('#content').val();
            var type = $('#type').val();
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();
            var id = $('#id').val();

            document.getElementById("myform").action = "/jinquan/notice_save?id="+id+'&title='+title+'&content='+content+'&type='+type+'&startDate='+startDate+'&endDate='+endDate;
            document.getElementById("myform").submit();
        }
    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：编辑公告信息
    </div>
</div>
<div class="center_con">

    <form enctype="multipart/form-data" method="post" id="myform" >

   <!-- <form method="post" id="myform" action="/jinquan/notice_save">  -->
    <table width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="regTd_l">标题：</td>
                <td class="regTd_r">
                    <input type="hidden" id="id" name="id" value="<%=notice.id%>"/>
                    <input id="title" name="title" type="text" class="input5" value="<%=notice.title%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span>
                </td>
                <td  class="regTd_l">类型：</td>
                <td class="regTd_r">
                    <select id="type" name="type">
                        <option value="">请选择</option>
                        <option value="1" <%if(notice.type == '1'){%>selected<%}%>>公告</option>
                        <option value="2" <%if(notice.type == '2'){%>selected<%}%>>通知</option>
                        <option value="3" <%if(notice.type == '3'){%>selected<%}%>>新闻</option>
                        <option value="4" <%if(notice.type == '4'){%>selected<%}%>>警告</option>
                    </select>
                    &nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">开始时间：</td>
                <td class="regTd_r">
                    <input id="startDate" name="startDate" type="text" class="input5" value="<%=notice.startDate%>" onclick="laydate()" readonly/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span>
                </td>
                <td class="regTd_l">截止时间：</td>
                <td class="regTd_r">
                    <input id="endDate" name="endDate" type="text" class="input5" value="<%=notice.endDate%>" onclick="laydate()" readonly/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span>
                </td>
            </tr>
            <tr>
                <td class="regTd_l">内容：</td>
                <td class="regTd_r" colspan="3">
                    <textarea rows="10" cols="120" id="content" name="content"><%=notice.content%></textarea>
                </td>
            </tr>
            <tr>
                <td class="regTd_l">上传文件：</td>
                <td class="regTd_r" colspan="3">文件路径：<input  name="recordfile" type="file" multiple='mutiple' class="input5"/></td>
            </tr>
            <tr>
                <td class="regTd_l">上传文件2：</td>
                <td class="regTd_r" colspan="3">文件路径：<input name="recordfile" type="file" multiple='mutiple' class="input5"/></td>
            </tr>
        </table>
    </form>
    <div class="reg_but">
        <%
        if(show == ''){
        %><div class="rb_l"><a href="javascript:;" onclick="submitForm()" class="reset"></a></div><%
        }
        %>
        <div class="rb_l"><a href=/jinquan/notice_list class="close"></a></div>
    </div>


</div>
</body>
</html>
