<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../js/layer/layer.js"></script>
    <script type="text/javascript" src="../../js/laydate/laydate.js"></script>
    <title>编辑公告信息</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">

        function submitForm(){
            /*
             var name = document.getElementById("name").value;
             if (!name || name.length == 0) {
             alert('门店名称不能为空');
             return;
             }
             var serialNumber = document.getElementById("serialNumber").value;
             if (!serialNumber || serialNumber.length == 0) {
             alert('序列号不能为空');
             return;
             }
             var tel = document.getElementById("tel").value;
             if (!tel || tel.length == 0) {
             alert('电话不能为空');
             return;
             }
             var address = document.getElementById("address").value;
             if(!address || address.length == 0) {
             alert('门店地址不能为空');
             return;
             }
             var principal = document.getElementById("principal").value;
             if (!principal || principal.length == 0) {
             alert('负责人不能为空');
             return;
             }
             */
            if($('#title').val() == ''){
                parent.layer.alert('请输入标题',{icon: 2});
                return;
            }
            if($('#content').val() == ''){
                parent.layer.alert('请输入内容',{icon: 2});
                return;
            }
            if($('#type').val() == ''){
                parent.layer.alert('请选择公告类型',{icon: 2});
                return;
            }
            document.getElementById("myform").submit();
        }
    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：查看公告信息
    </div>
</div>
<div class="center_con">

    <table  border="0" cellspacing="0" cellpadding="0" class="table6">
        <tr>
            <td><h1 class="ggtm"><%=notice.title%></h1></td>
        </tr>
        <tr>
            <td class="lineSty2">
                <div class="ggSty1"><span>类型：（<%if(notice.type == '1'){%>公告<%}%>
                    <%if(notice.type == '2'){%>通知<%}%>
                    <%if(notice.type == '3'){%>新闻<%}%>
                    <%if(notice.type == '4'){%>警告<%}%>）</span><span>发布人：<%=notice.createUser%></span> 	</div>
            </td>
        </tr>
        <tr>
            <td>
                <p><%=notice.content%></p>
            </td>
        </tr>
        <tr>
            <td class="lineSty3  ggSty">
                <%
                if(notice.filesName != "" && notice.filesName != null){
                    var filesNames = notice.filesName.split(";");
                    var filesUrls = notice.filesUrl.split(";");
                    for(var i = 0 ; i < filesNames.length ; i ++){
                        %><span><a href="../<%=filesUrls[i]%>"><%=filesNames[i]%></a></span><%
                    }
                }
                %>
            </td>
        </tr>
    </table>
    <div class="reg_but">
        <div class="rb_l"><a href=/jinquan/notice_user_list class="close"></a></div>
    </div>


</div>
</body>
</html>
