<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>添加员工</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">
        function submitForm(){
            var name = document.getElementById("name").value;
            alert(name);
            if (!name || name.length == 0) {
                alert('门店名称不能为空');
                return;
            }
            var serialNumber = document.getElementById("serialNumber").value;
            if (!serialNumber || serialNumber.length == 0) {
                alert('序列号不能为空');
                return;
            }
            /*
             var tel = document.getElementById("tel").value;
             if (!tel || tel.length == 0) {
             alert('电话不能为空');
             return;
             }
             var address = document.getElementById("address").value;
             if(!address || address.length == 0) {
             alert('门店地址不能为空');
             return;
             }
             var principal = document.getElementById("principal").value;
             if (!principal || principal.length == 0) {
             alert('负责人不能为空');
             return;
             }
             */
            document.getElementById("myform").submit();
        }
    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：员工
    </div>
    <div class="zhuxiao"><a href="#" class="zx_sty"></a></div>
</div>
<div class="center_con">
    <form method="post" id="myform" action="/jinquan/staff_save">
        <table width="100%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="regTd_l">名称：</td>
                <td class="regTd_r">
                    <input id="name" name="name" type="text" class="input5" value="<%=staff.name%>"/>&nbsp;&nbsp;<span style="color:#FF0000;">*</span>
                    <input id="id" name="id" type="hidden" value="<%=staff.id%>"/>
                </td>
                <td  class="regTd_l">编码：</td>
                <td class="regTd_r"><input id="serialNumber" name="serialNumber" type="text" class="input5" value="<%=staff.serialNumber%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">电话：</td>
                <td class="regTd_r"><input id="tel" name="tel" type="text" class="input5" value="<%=staff.tel%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">身份证：</td>
                <td class="regTd_r"><input id="idCard" name="idCard" type="text" class="input5" value="<%=staff.idCard%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">出生日期：</td>
                <td class="regTd_r"><input id="birthDate" name="birthDate" type="text" class="input5" value="<%=staff.birthDate%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">最高学历：</td>
                <td class="regTd_r"><input id="highestEducation" name="highestEducation" type="text" class="input5" value="<%=staff.highestEducation%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">毕业院校：</td>
                <td class="regTd_r"><input id="graduationSchool" name="graduationSchool" type="text" class="input5" value="<%=staff.graduationSchool%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">配偶名称：</td>
                <td class="regTd_r"><input id="spouseName" name="spouseName" type="text" class="input5" value="<%=staff.spouseName%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">联系电话：</td>
                <td class="regTd_r"><input id="spouseTel" name="spouseTel" type="text" class="input5" value="<%=staff.spouseTel%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">邮箱地址：</td>
                <td class="regTd_r"><input id="email" name="email" type="text" class="input5" value="<%=staff.email%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">入职时间：</td>
                <td class="regTd_r"><input id="startJobTime" name="startJobTime" type="text" class="input5" value="<%=staff.startJobTime%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">是否在职：</td>
                <td class="regTd_r"><input id="isJob" name="isJob" type="text" class="input5" value="<%=staff.isJob%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">离职时间：</td>
                <td class="regTd_r"><input id="endJobTime" name="endJobTime" type="text" class="input5" value="<%=staff.endJobTime%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">所属门店：</td>
                <td class="regTd_r"><input id="belongShop" name="belongShop" type="text" class="input5" value="<%=staff.belongShop%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
            <tr>
                <td class="regTd_l">打卡机编号：</td>
                <td class="regTd_r"><input id="clockCode" name="clockCode" type="text" class="input5" value="<%=staff.clockCode%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
                <td class="regTd_l">备注：</td>
                <td class="regTd_r"><input id="remarks" name="remarks" type="text" class="input5" value="<%=staff.remarks%>" />&nbsp;&nbsp;<span style="color:#FF0000;">*</span></td>
            </tr>
        </table>
        <!--子女信息 start-->
        <span style="float: left; font-weight:bold;width: 100px;">子女信息</span>
        <br>
        <table width="80%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <tr bgcolor="lightblue">
                <td>+</td>
                <td>子女姓名</td>
                <td>出生日期</td>
                <td>性别</td>
                <td>排行</td>
            </tr>
            <tr>
                <td>-</td>
                <td><input id="childrenName" name="childrenName" type="text" class="input5" /></td>
                <td><input id="childrenBirth" name="childrenBirth" type="text" class="input5" /></td>
                <td><input id="childrenSex" name="childrenSex" type="text" class="input5" /></td>
                <td><input id="childrenRank" name="childrenRank" type="text" class="input5" /></td>
            </tr>
        </table>
        <!--子女信息 end-->
        <!--合同信息 start-->
        <span style="float: left; font-weight:bold;width: 100px;">合同信息</span>
        <br>
        <table width="40%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <tr bgcolor="lightblue">
                <td>+</td>
                <td>开始时间</td>
                <td>截止时间</td>
                <td>说明</td>
            </tr>
            <tr>
                <td>-</td>
                <td><input id="contractStartDate" name="contractStartDate" type="text" class="input5" /></td>
                <td><input id="contractEndDate" name="contractEndDate" type="text" class="input5" /></td>
                <td><input id="contractRemarks" name="contractRemarks" type="text" class="input5" /></td>
            </tr>
        </table>
        <!--合同信息 end-->
        <!--职业资质信息 start-->
        <span style="float: left; font-weight:bold;width: 100px;">职业资质信息</span>
        <br>
        <table width="60%" class="reg_table"border="0" cellspacing="0" cellpadding="0">
            <tr bgcolor="lightblue">
                <td>+</td>
                <td>职业资质</td>
                <td>上传图片</td>
            </tr>
            <tr>
                <td>-</td>
                <td><input id="vocationalQualifications" name="vocationalQualifications" type="text" class="input5" /></td>
                <td><input id="qualificationsImage" name="qualificationsImage" type="text" class="input5" /></td>
            </tr>
        </table>
        <!--职业资质信息 end-->
    </form>
    <div class="reg_but">
        <div class="rb_l"><a href="javascript:;" onclick="submitForm()" class="reset"></a></div>
        <div class="rb_l"><a href=/jinquan/staff_list class="close"></a></div>
    </div>


</div>
</body>
</html>
