<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>员工列表</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <script type="application/javascript" src="../../js/qiehuan.js"></script>
    <script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../js/layer/layer.js"></script>
    <script type="text/javascript" src="../../js/laydate/laydate.js"></script>
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
    <script type="text/javascript">

        function search() {
            var index = document.getElementById("index").value;
            var page = document.getElementById("page").value;
            var name = document.getElementById('name').value;
            var serialNumber = document.getElementById('serialNumber').value;
            var tel = document.getElementById('tel').value;
            var highestEducation = $("#highestEducation").val();
            var graduationSchool = $("#graduationSchool").val();
            var startJobTimeStar = $("#startJobTimeStar").val();
            var startJobTimeEnd = $("#startJobTimeEnd").val();
            window.location.href = '/jinquan/staff_select_servicemeet?name='+name+'&serialNumber='+serialNumber+'&tel='+tel+"&highestEducation="+highestEducation+"&graduationSchool="+graduationSchool+"&startJobTimeStar="+startJobTimeStar+"&startJobTimeEnd="+startJobTimeEnd+"&page="+page+"&index="+index;
        }
        //选择该商品
        function select(name,seril){
            var index = document.getElementById("index").value;
            if(index=='complainAdd')
            {
                window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('staffId').value=seril;
                window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('dealPrincipal').value=name;
            }
            else{
                window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('staffId'+index).value=seril;
                window.parent.document.getElementById("rightFrame").contentWindow.document.getElementById('principal'+index).value=name;
            }


            var index = parent.layer.getFrameIndex(window.name); //获取当前窗体索引
            parent.layer.close(index); //执行关闭

        }

    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：选择技师
    </div>
</div>
<div class="center_con">
    <div class="butSet">
        <div style="margin:0 auto; padding:0px; float:left;">
            <table width="100%" class="table4" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <input id="index" name="index" type="hidden" value="<%=index%>"/>
                        <input id="page" name="page" type="hidden" class="input5" value="<%=data.currentPage%>"/>
                    名称：<input id="name" name="name" type="text" class="input5" value="<%=data.name%>"  onchange="setDefault()" style="width: 80px;" />
                     &nbsp;编号：<input id="serialNumber" name="serialNumber" type="text" class="input5" value="<%=data.serialNumber%>" onchange="setDefault()" style="width: 80px;"  />
                     &nbsp;电话：<input id="tel" name="tel" type="text" class="input5" value="<%=data.tel%>" onchange="setDefault()"  style="width: 80px;" />
                     &nbsp;学历：
                        <select id="highestEducation" name="highestEducation">
                            <option value="">请选择</option>
                            <%
                            for(var i = 0 ; i < data.educationData.length ; i ++){
                                %><option value="<%=data.educationData[i].id%>" <%if(data.highestEducation == data.educationData[i].id){%>selected<%}%>><%=data.educationData[i].name%></option><%
                            }
                            %>
                        </select>
                     &nbsp;毕业学校：<input id="graduationSchool" name="graduationSchool" type="text" class="input5" value="<%=data.graduationSchool%>" onchange="setDefault()"  style="width: 80px;" />&nbsp;&nbsp;&nbsp;</td>
                    <td><a href="javascript:search()" class="chaxun"></a></td>
                </tr>
                <tr>
                    <td colspan="2" style="float: left;">
                        入职时间：
                        <input id="startJobTimeStar" name="startJobTimeStar" type="text" class="input5" value="<%=data.startJobTimeStar%>"  onchange="setDefault()" readonly onclick="laydate()" style="width: 80px;" />~
                        <input id="startJobTimeEnd" name="startJobTimeEnd" type="text" class="input5" value="<%=data.startJobTimeEnd%>"  onchange="setDefault()" readonly onclick="laydate()" style="width: 80px;" />
                    </td>
                </tr>
            </table>

        </div>
    </div>
    <div class="tabCon">
        <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
            <tr>
                <th>名称</th>
                <th>技师编号</th>
                <th>电话</th>
                <th>所属门店</th>
                <th>邮箱</th>
                <th>入职时间</th>
                <th>毕业院校</th>
                <th>操作</th>
            </tr>
            <% for (var i=0;i<data.data.length;i++) {%>
            <tr onmouseover="this.className='f_on'" class="f_off"  onmouseout="this.className='f_off'">
                <td><%=data.data[i].name%></td>
                <td><%=data.data[i].serialNumber%></td>
                <td><%=data.data[i].tel%></td>
                <td><%=data.data[i].shopName%></td>
                <td><%=data.data[i].email%></td>
                <td><%=data.data[i].startJobTime%></td>
                <td><%=data.data[i].graduationSchool%></td>
                <td>
                    <table width="100%" border="0" cellspacing="0" class="table_t"  cellpadding="0">
                        <tr>
                            <td><div align="center"><img src="../../images/index_2.jpg" width="9" height="9" />&nbsp;[<a href="javascript:select('<%=data.data[i].name%>','<%=data.data[i].id%>')">选择技师</a>]</div></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <%}%>
        </table>

        <%- laypage %>
    </div>
</div>

</body>
</html>
