<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>添加课程</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>


    <script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        function cancel() {
            window.location.href='/jinquan/course_list';
        }
    </script>
</head>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：排课查看
    </div>
</div>
<div class="center_con">

    <div class="tabCon">
        <div class="nx1">
            <select id="courseType" name="courseType">
                <option value="1" selected>内训</option>
            </select>
            <hr class="lineSty" />
        </div>
        <div id="neixun">
            <form id="neixunFrom"  method="post" >

                <div class="nx1">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablebox"  >
                        <tr>
                            <td width="10%">课程名称：</td>
                            <td width="40%"><input id="course" name="course" type="text" class="input6"  value="<%=data.course.name%>"/></td>
                            <td width="10%">授课教师：</td>
                            <td width="40%"><input id="teacher" name="teacher" type="text" class="input6" value="<%=data.teacher%>"/></td>
                        </tr>
                    </table>
                    <hr class="lineSty" />
                </div>

                <div class="nx1">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablebox"   >
                        <tr>
                            <td width="10%">选择授课时间段：</td>
                            <td width="40%">
                                <select id="startTime" name="startTime" class="select2" style="width:100px;">
                                    <%
                                    for(var i = 0 ; i < courseDate.length ; i ++){
                                        %><option value="<%=i%>" <%if(data.course.courseTimeStart==i){%>selected<%}%>><%=courseDate[i]%></option></th><%
                                    }
                                    %>
                                </select> --
                                <select id="endTime" name="endTime" class="select2" style="width:100px;">
                                    <%
                                    for(var i = 0 ; i < courseDate.length ; i ++){
                                    %><option value="<%=i%>" <%if(data.course.courseTimeEnd==i){%>selected<%}%>><%=courseDate[i]%></option></th><%
                                    }
                                    %>
                                </select>

                            </td>
                            <td width="10%">课程满分：</td>
                            <td width="40%"><input id="score" name="score" type="text" class="input6" value="<%=data.course.scorse%>" /></td>
                        </tr>
                        <tr>
                            <td width="10%" valign="top">培训内容：</td>
                            <td colspan="3">
                                <textarea id="content" name="content" cols="102" rows="3" class="textarea1"><%=data.course.content%></textarea>
                            </td>
                        </tr>

                    </table>
                    <hr class="lineSty" />
                </div>

                <!--员工信息 start-->
                <span style="float: left; font-weight:bold;width: 100px;"><h3>员工信息</h3></span>
                <br>
                <table id="waresTable" width="100%" class="reg_table" border="0" cellspacing="0" cellpadding="0">
                    <tr bgcolor="lightblue">

                        <td>员工名称</td>
                        <td>员工级别</td>
                        <td>电话</td>
                        <td>邮箱</td>
                    </tr>
                    <%for(var i=0;i<data.users.length;i++) {%>
                    <tr id="qqq">
                        <td><input   name="proname" type="text" class="input5 input_arr" value="<%=data.users[i].name%>" readonly="true" /></td>
                        <td><input  name="proNo" type="text" class="input5 input_arr" value="<%=data.users[i].staffLevel%>" readonly="true"/></td>
                        <td><input  name="count" type="text" class="input5 input_arr" value="<%=data.users[i].tel%>" readonly="true"/></td>
                        <td><input  name="price" type="text" class="input5 input_arr" value="<%=data.users[i].email%>" readonly="true"/></td>
                    </tr>
                    <%}%>
                </table>


            </form>
        </div>
        <div class="nx1" style="text-align:center; margin-top:55px;">
            <button type="button"  value="取消" class="button gray" onclick="cancel()">返回</button>

        </div>
    </div>
</div>

</body>
</html>
