<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>课程查询</title>
    <link href="../../css/global.css" rel="stylesheet" type="text/css" />
    <link href="../../css/index.css" rel="stylesheet" type="text/css" />
    <script type="application/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="application/javascript" src="../../js/layer/layer.js"></script>
    <script type="application/javascript" src="../../js/laydate/laydate.js"></script>
    <style type="text/css">
        html,body{height:100%;padding:0;margin:0;}
    </style>
</head>

<script type="text/javascript">

    var replytype = '<%=replytype%>';
    if (replytype == '1') {
        parent.layer.msg('此课程时间过期，不能删除');
    } else if (replytype == '0') {
        parent.layer.msg('删除成功');
    } else if (replytype == '2') {
        parent.layer.msg('此课程有人预约不能删除');
    }

    function search () {
        var classroom = document.getElementById('classroom').value;
        var courseType = document.getElementById('courseType').value;
        var date = document.getElementById('date').value;
        window.location.href = '/jinquan/course_list?classroom='+classroom+'&courseType='+courseType+'&date='+date;
    }

    function pageturning (selectPage) {
        var classroom = document.getElementById('classroom').value;
        var courseType = document.getElementById('courseType').value;
        var date = document.getElementById('date').value;
        window.location.href = '/jinquan/course_list?page='+selectPage+'&classroom='+classroom+'&courseType='+courseType+'&date='+date;
    }

    function del (id,type) {
        if(confirm('确认删除已选择数据吗?')){
            window.location.href = '/jinquan/course_del?id='+id+'&type='+type;
        }
    }
</script>

<body>
<div class="r_top">
    <div class="weizhi">
        当前位置：课程查询
    </div>
</div>
<div class="center_con">
    <div class="butSet">
        <div class="sousuo">
            <table width="100%" class="table4" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>教室名称：<input id="classroom"  name="classroom" type="text" class="input5" value="<%=data.classroom%>"/></td>
                    <td> &nbsp;课程分类：<select id="courseType" name="courseType">
                        <option value="">请选择</option>
                        <option value="1" <%if(data.courseType== 1){%>selected <%}%>>内训</option>
                        <option value="2" <%if(data.courseType== 2){%>selected <%}%>>专业课</option>
                        <option value="3" <%if(data.courseType== 3){%>selected <%}%>>父母课</option>
                        <option value="4" <%if(data.courseType== 4){%>selected <%}%>>会议</option>
                    </select></td>
                    <td> &nbsp;上课时间：<input id="date" name="date" type="text" class="input5" onclick="laydate()" readonly="true" value="<%=data.date%>"/></td>
                    <td><a href="javascript:search()" class="chaxun"></a></td>
                </tr>
            </table>

        </div>

    </div>
    <div class="tabCon">
        <table width="100%" class="table3" cellpadding="0"  cellspacing="0">
            <tr>
                <th>课程名称</th>
                <th>分类</th>
                <th>教室</th>
                <th>课程时间</th>
                <th>操作</th>
            </tr>
            <% for (var i=0;i<data.data.length;i++) {%>
            <tr onmouseover="this.className='f_on'" class="f_off"  onmouseout="this.className='f_off'">
                <td><%=data.data[i].courseName%></td>
                <%
                    if(data.data[i].courseType == 1){
                    %><td>内训</td><%
                    }
                %>
                <%
                if(data.data[i].courseType == 2){
                %><td>专业课</td><%
                }
                %>
                <%
                if(data.data[i].courseType == 3){
                %><td>父母课</td><%
                }
                %>
                <%
                if(data.data[i].courseType == 4){
                %><td>会议</td><%
                }
                %>

                <td><%=data.data[i].classroomName%></td>
                <td><%=data.data[i].courseDate%></td>
                <td>
                    <table width="100%" border="0" cellspacing="0" class="table_t"  cellpadding="0">
                        <tr>
                            <%if(resourcesData["/course_detail"] == "1"){
                                %><td><div align="center"><img src="../../images/index_2.jpg" width="9" height="9" />&nbsp;[<a href="/jinquan/course_detail?id=<%=data.data[i].id%>&type=<%=data.data[i].courseType%>">查看</a>]</div></td><%
                            }%>
                            <%if(resourcesData["/course_del"] == "1"){
                                %><td><div align="center"><img src="../../images/delete.gif" width="9" height="9" />&nbsp;[<a href="javascript:del(<%=data.data[i].id%>,<%=data.data[i].courseType%>)">删除</a>]</div></td><%
                            }%>
                           <!-- <td><div align="center"><img src="../../images/delete.gif" width="9" height="9" />&nbsp;[<a href="/jinquan/course_del?id=<%=data.data[i].id%>&type=<%=data.data[i].courseType%>">删除</a>]</div></td> -->
                        </tr>

                    </table>
                </td>
            </tr>
            <%}%>
        </table>
        <!-- <%- include ../pagination.html -%>   -->
        <%- laypage %>
    </div>
</div>

</body>
</html>
